extends layout.pug

include functions.pug 

block head
  style.
    .skill-32{width: 32px;height: 32px;margin-right:-20px;}
    h2{margin-top:0px;margin-bottom:0px;margin-right:15px}
    .coach-container{
        width: 100%;
        height: 120px;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-origin: border-box;
        display:flex;

    }
    .container-default{
        background-image: url(https://cdn.rebbl.net/images/bb3/coach/banner/txt_gamer_banner_002.png); 
    }
    .coach{
        width: 120px;
        max-width: 100%;
        height: 120px;
        background-position: left top, left top;
        background-repeat: no-repeat, no-repeat;
        background-size: contain, contain;
        background-origin: content-box, padding-box;
    }
    .coach-default{
        background-image: 
            url(https://cdn.rebbl.net/images/bb3/coach/frame/txt_gamer_frame_001.png),
            url(https://cdn.rebbl.net/images/bb3/coach/avatar/txt_gamer_avatar_human_humanLineman.png); 
    }
    .place-container{
      width:120px;
      height:120px
    }

    .profile-sidebar {
        background: linear-gradient(135deg, #4158D0 0%, #C850C0 100%);
    }

    .nav-pills .nav-link {
        color: #6c757d;
        border-radius: 10px;
        padding: 12px 20px;
        margin: 4px 0;
        transition: all 0.3s ease;
    }

    .nav-pills .nav-link:hover {
        background-color: #f8f9fa;
    }

    .nav-pills .nav-link.active {
        background-color: #fff;
        color: #4158D0;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

     .profile-pic {
        width: 120px;
        height: 120px;
        border: 4px solid #fff;
        margin-top: -60px;
        background-color: #fff;
    }

    .settings-card {
        border-radius: 15px;
        border: none;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
    }

    .settings-card:hover {
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    }

    .form-switch .form-check-input {
        width: 3em;
        height: 1.5em;
        margin-left: -3.5em;
    }

    .activity-item {
        border-left: 2px solid #e9ecef;
        padding-left: 20px;
        position: relative;
    }

    .activity-item::before {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #4158D0;
        position: absolute;
        left: -7px;
        top: 5px;
    }


block content
  - let info = coach?.info || {}
  .container.py-5
    .row
      // Profile Header
      case coach.bb3service
        when "steam"
          - src = "https://cdn.rebbl.net/images/bb3/SteamLogo.png"
        when "psn"
          - src = "https://cdn.rebbl.net/images/bb3/PSNLogo.png"
        when "switch"
          - src = "https://cdn.rebbl.net/images/bb3/SwitchLogo.png"
        when "xbl"
          - src = "https://cdn.rebbl.net/images/bb3/XboxLiveLogo.png"
        when "eos"
          - src = "https://cdn.rebbl.net/images/bb3/EpicLogo.png"
      .col-12.mb-4
        .text-center
          .position-relative.d-inline-block
            .coach-container(style=`background-image: url(https://cdn.rebbl.net/images/bb3/coach/banner/${info.banner}.png) `)
              .coach(style=`background-image: url(https://cdn.rebbl.net/images/bb3/coach/frame/${info.frame}.png),url(https://cdn.rebbl.net/images/bb3/coach/avatar/${info.avatar}.png); `)
                img.position-absolute.bottom-0.end-0.rounded-circle#bb3coachService(style="width:32px;background-color:white" src=src)
              
          h2.mt-3.mb-1= coach.bb3coach

          h3.text-muted.mb-3= info.title
          h4.text-center
            label.form-label= `Level ${info.level}`
            .mx-auto(style="width:200px")
              .progress.mx-2(role="progressbar" aria-label="Basic example" aria-valuenow=info.progression.xp aria-valuemin="0" aria-valuemax=info.progression.xpNeeded title=`${info.progression.xp}/${info.progression.xpNeeded}`)
                .progress-bar.progress-bar-striped(style=`width: ${Math.floor(info.progression.xp * 100 / info.progression.xpNeeded)}%` title=`${info.progression.xp}/${info.progression.xpNeeded}`)

          .d-flex.justify-content-center.gap-2.mb-4
            a.button.btn.btn-outline-primary(href=`https://old.reddit.com/u/${coach.reddit}` target="_blank")
              i.fas.fa-envelope.me-2
              | Message
            if (coach.discordId)
              a.button.btn.btn-primary(href=`https://discord.com/users/${coach.discordId}` target="_blank")
                i.fas.fa-user-plus.me-2
                | Connect
      // Main Content
      .col-12
        .card.col-12.border-0.shadow-sm
          .card-body.p-0
            .row.g-0
              // Sidebar
              .col-lg-3.border-end
              //  .p-4
                  .nav.flex-column.nav-pills
                    a.nav-link.active(href='#')
                      i.fas.fa-user.me-2
                      | Coach details
                    a.nav-link(href='#')
                      i.fas.fa-lock.me-2
                      | Teams
                    a.nav-link(href='#')
                      i.fas.fa-credit-card.me-2
                      | Trophies
              // Content Area
              .col-lg-9
                .p-4
                  // Personal Information
                  .mb-4
                    h5.mb-4 Coach details
                    .row.g-3
                      .col-md-6
                        label.form-label Reddit
                        input.form-control(type='text' value=coach.reddit disabled)
                      .col-md-6
                        label.form-label Discord 
                        input.form-control(type='text' value=coach.discord disabled)

                      .col-md-6
                        label.form-label DisplayId
                        input.form-control(type='tel' value=coach.bb3displayId disabled)
                      .col-md-6
                        label.form-label Timezone
                        input.form-control(type='text' value=coach.timezone disabled)
                      if coach.steam
                        .col-md-6
                          label.form-label Steam 
                          input.form-control(type='text' value=coach.steam disabled)
                      //.col-12
                        label.form-label Bio
                        textarea.form-control(rows='4')
                          | Product designer with 5+ years of experience in creating user-centered digital solutions. Passionate about solving complex problems through simple and elegant designs.
                  // Recent Activity
            .row.g-0
              // Sidebar
              .col-lg-3.border-end
                .p-4
                  .nav.flex-column.nav-pills
                    a.nav-link.active(href='#')
                      i.fas.fa-user.me-2
                      | Coach details
                    a.nav-link(href='#')
                      i.fas.fa-lock.me-2
                      | Teams
                    a.nav-link(href='#')
                      i.fas.fa-credit-card.me-2
                      | Trophies
              .col-lg-9
                .p-4
                  div
                    h5.mb-4 Recent Activity
                    each m of matches
                      +match(coach,m)

                    //.activity-item.mb-3
                      h6.mb-1 Greenhorn Cup - round 1
                      p.text-muted.small.mb-0 2 hours ago
                    //.activity-item.mb-3
                      h6.mb-1 Greenhorn Cup - round 1
                      p.text-muted.small.mb-0 7 days ago
                    //.activity-item
                      h6.mb-1 GMan Fresh - Round 8
                      p.text-muted.small.mb-0 3 weeks ago


mixin match(coach,match)
  
  - let home = match.homeGamer.id == coach.bb3id
  - let opponent = home ?match.awayTeam : match.homeTeam
  - let opponentCoach = home ? match.awayGamer : match.homeGamer

  .activity-item.mb-3
    .col-12.row.g-0 
      .col-12.text-start
        if / R\d/.test(match.competition.name)
          h4.text-primary 
            a.text-primary-emphasis.text-decoration-none(href=`/competition/${match.competition.id}/standings`)= `${match.competition.name.replace(" R", " - round ")}`
        else 
          h4
            a.text-primary-emphasis.text-decoration-none(href=`/competition/${match.competition.id}/standings`)= `${match.competition.name} - round ${match.competition.day}`
      .col-12
        h6= getDateFromUUID(match.gameId)
      .col-xl-1.col-md-2
        if opponentCoach.frame
          .coach-container
            .coach(style=`background-image: url(https://cdn.rebbl.net/images/bb3/coach/frame/${opponentCoach.frame.split('/').pop().split('.')[1]}.png),url(https://cdn.rebbl.net/images/bb3/coach/avatar/${opponentCoach.avatar.split('/').pop().split('.')[1]}.png); `)
        else  
          .coach-container
            .coach.coach-default      
        a.text-info.text-decoration-none(href=`/coach/${opponentCoach.id}`)= opponentCoach.name
      .col-xl-2.col-md-2
        img.place-container(src=`https://cdn.rebbl.net/images/bb3/Logos/100x100/${opponent.logo.icon}` alt="")
        br
        a.text-info.text-decoration-none(href=`/team/${opponent.id}`)= opponent.name

      .col-xl-9.col-md-8.p-1
        .row
          .col-12
            span inflicted:
            - let data = (home ? match.awayTeam : match.homeTeam).roster.reduce((p,c) => p.concat(c.casualties),[]).sort((a,b) => b-a)
            - let prev = data[0] || 10
            each cas of data
              if prev !== cas 
                div(style="display: inline;margin: 0px 10px;")
              img.skill-32(src=`https://cdn.rebbl.net/images/bb3/Icons_Casualty/${(user && user.useDark) ? "transparent_" : ""}${getCasualtyIcon(cas)}` title=getCasualtyIcon(cas).replace("ico_action_","").replace("_", " ").replace(".png",""))
              - prev = cas
        .row
          .col-12
            span suffered:
            - data = (home ? match.homeTeam : match.awayTeam).roster.reduce((p,c) => p.concat(c.casualties),[]).sort((a,b) => b-a)
            - prev = data[0] || 10
            each cas of data
              if prev !== cas 
                div(style="display: inline;margin: 0px 10px;")
              img.skill-32(src=`https://cdn.rebbl.net/images/bb3/Icons_Casualty/${(user && user.useDark) ? "transparent_" : ""}${getCasualtyIcon(cas)}` title=getCasualtyIcon(cas).replace("ico_action_","").replace("_", " ").replace(".png",""))
              - prev = cas
        .row
          .col-12
            a.text-decoration-none(href=`/match/${match.gameId}` target="_blank")
              if home && match.homeScore > match.awayScore || !home && match.homeScore < match.awayScore
                h2.text-success Win
                  span.ms-2.text-body= `${home ? match.homeScore : match.awayScore} - ${home ? match.awayScore : match.homeScore}`
              else if !home && match.homeScore > match.awayScore || home && match.homeScore < match.awayScore
                h2.text-danger Loss
                  span.ms-2.text-body= `${home ? match.homeScore : match.awayScore} - ${home ? match.awayScore : match.homeScore}`
              else 
                h2 Draw  
                  span.ms-2.text-body= `${match.homeScore} - ${match.awayScore}`
