extends layout.pug

include functions.pug 

block head
  style.
    h2{margin-top:0px;margin-bottom:0px;margin-right:15px}
    .card{width: 12rem;}
    .coach-container{
        width: 100%;
        height: 120px;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-origin: border-box;
        display:flex;

    }
    .container-default{
        background-image: url(https://cdn.rebbl.net/images/bb3/coach/banner/txt_gamer_banner_002.png); 
    }
    .coach{
        width: 120px;
        max-width: 100%;
        height: 120px;
        background-position: left top, left top;
        background-repeat: no-repeat, no-repeat;
        background-size: contain, contain;
        background-origin: content-box, padding-box;
    }
    .coach-default{
        background-image: 
            url(https://cdn.rebbl.net/images/bb3/coach/frame/txt_gamer_frame_001.png),
            url(https://cdn.rebbl.net/images/bb3/coach/avatar/txt_gamer_avatar_human_humanLineman.png); 
    }
    .place-container{
      width:120px;
      height:120px
    }


block content
  .container
    if coach
      .coach-container(style=`background-image: url(https://cdn.rebbl.net/images/bb3/coach/banner/${coach.info.banner}.png) `)
        .coach(style=`background-image: url(https://cdn.rebbl.net/images/bb3/coach/frame/${coach.info.frame}.png),url(https://cdn.rebbl.net/images/bb3/coach/avatar/${coach.info.avatar}.png); `)
        .d-flex.justify-content-center.mx-auto(style="-webkit-text-stroke:2px black")
          h1.fw-bold.align-content-center.text-primary.align-middle.text-uppercase.my-0.py-0.text-white(style="font-size:4em;")= `${coach.info.title} ${coach.bb3coach}`
        .place-container.d-flex.flex-column.justify-content-center
          .div(style="-webkit-text-stroke:2px black")
            p.fw-bold.text-center.my-0.py-0.text-white(style="font-size:3.5em;")= coach.info.level
          .progress.mx-2(role="progressbar" aria-label="Basic example" aria-valuenow=coach.info.progression.xp aria-valuemin="0" aria-valuemax=coach.info.progression.xpNeeded title=`${coach.info.progression.xp}/${coach.info.progression.xpNeeded}`)
            .progress-bar.progress-bar-striped(style=`width: ${Math.floor(coach.info.progression.xp * 100 / coach.info.progression.xpNeeded)}%` title=`${coach.info.progression.xp}/${coach.info.progression.xpNeeded}`)
      .row
        .col-12
          h3 Contact Data
            div
              label(for="bb3coach") Blood Bowl 3 coach name
              input(type="text" id="bb3coach" name="bb3coach" value=(coach.bb3coach)  disabled)
              - let src = ''
              case coach.bb3service
                when "steam"
                  - src = "https://cdn.rebbl.net/images/bb3/SteamLogo.png"
                when "psn"
                  - src = "https://cdn.rebbl.net/images/bb3/PSNLogo.png"
                when "switch"
                  - src = "https://cdn.rebbl.net/images/bb3/SwitchLogo.png"
                when "xbl"
                  - src = "https://cdn.rebbl.net/images/bb3/XboxLiveLogo.png"
                when "eos"
                  - src = "https://cdn.rebbl.net/images/bb3/EpicLogo.png"
              img#bb3coachService(style="width:32px" src=src)
            div 
              label(for="bb3displayId") Blood Bowl 3 gamer id
              input(type="text" id="bb3displayId" name="bb3displayId" value=(coach.bb3displayId || "")  disabled)
            div
              label(for="coach") Reddit
              input(type="text" id="reddit" name="coach" value="/u/" + coach.reddit.toLowerCase()  disabled)
              span(id="copy" title="copy to clipboard" style="cursor:pointer")= '📋'
            div
              label(for="timezone") Timezone
              input(id="timezone" name="timezone" disabled title="timezone" value=coach.timezone)
              label(id="tz_info")
            div
              label(for="discord") Discord
              input(type="text" placeholder="" id="discord" name="discord" value=coach.discord disabled)
              - if (coach.discordNickName)
                input(type="text" placeholder="" id="nick" name="nick" value=coach.discordNickName disabled)
            div
              label(for="steam") Steam
              input(type="text" id="steam" name="steam" value=coach.steam disabled)
            br
    else
      .coach-container.container-default
        .coach.coach-default
      .row
        .col-12
          h3 Unkown coach
