extends layout.pug
include functions.pug

block head 
  script.
    const getPlayerCasualtyIcon = function(cas){
      switch(Number(cas)){ 
        case 1: return ["ico_action_badly_hurt.png",""]
        case 2: return ["ico_action_seriously_hurt.png","MNG"]
        case 3: return ["ico_action_serious_injury.png","+1 on injury rolls"]
        case 4: return ["ico_action_lasting_injury.png",""]
        case 5: return ["ico_action_smashed_knee.png","-1 MV"]
        case 6: return ["ico_action_head_injury.png","-1 AV"]
        case 7: return ["ico_action_broken_arm.png","+1 PA"]
        case 8: return ["ico_action_neck_injury.png","+1 AG"]
        case 9: return ["ico_action_dislocated_shoulder.png","-1 ST"]
        case 10: return "ico_action_dead.png";
      }
      return false;
    }

    const chosenSpecialRules = function(id){
      switch(Number(id)){
          case 4: return "Favoured by Chaos Undivided";
          case 5: return "Favoured by Khorne";
          case 6: return "Favoured by Nurgle";
          case 17: return "Old World Classic";
          default: return "";

      }
    }

  style.
    .col-12 table img {width: 40px;height: 40px;}
    .silhouette-shadow{
      filter: drop-shadow(0px 0px 1px black);
    }
    .coach-container{
        width: 100%;
        height: 84px;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-origin: border-box;
        display:flex;

    }
    .container-default{
        background-image: url(https://cdn.rebbl.net/images/bb3/coach/banner/txt_gamer_banner_002.png); 
    }
    .coach{
        width: 84px;
        max-width: 100%;
        height: 84px;
        background-position: left top, left top;
        background-repeat: no-repeat, no-repeat;
        background-size: contain, contain;
        background-origin: content-box, padding-box;
    }
    .coach-default{
        background-image: 
            url(https://cdn.rebbl.net/images/bb3/coach/frame/txt_gamer_frame_001.png),
            url(https://cdn.rebbl.net/images/bb3/coach/avatar/txt_gamer_avatar_human_humanLineman.png); 
    }    

block content
  div(class="container")
    div(class="col-12 d-flex flex-wrap align-items-center")
      img(src=`https://cdn.rebbl.net/images/bb3/Logos/100x100/${team.logo.icon}` class="align-top" style="height:100px")
      span(class="h1")=team.name
      div(class="row col-12")
        h3(style="margin-top: 0px;")
          i= team.motto
    div(class="clearfix")
    div(class="row" style="margin-left:0px")
      .col-md-2.col-4
        strong=`Current TV: ${team.value/1000}`
      .col-md-2.col-4
        strong=`Cash: ${team.treasury}`
      if (team.chosenSpecialRules)        
        .col-md-2.col-4
          strong=chosenSpecialRules(team.chosenSpecialRules.chosenSpecialRulesItem)
    div(class="row" style="margin-left:0px")
      .col-md-1.col-6
        img(src="https://cdn.rebbl.net/images/bb3/dedicated_fan.png")
        strong=team.improvements[3].quantity
      .col-md-1.col-6
        img(src="https://cdn.rebbl.net/images/bb3/reroll.png")
        strong=team.improvements[4].quantity
      .col-md-1.col-6
        img(src="https://cdn.rebbl.net/images/bb3/cheerleader.png")
        strong=team.improvements[1].quantity
      .col-md-1.col-6
        img(src="https://cdn.rebbl.net/images/bb3/assistant_coach.png")
        strong=team.improvements[2].quantity
      if (team.improvements[0].quantity > 0)
        .col-md-1.col-6
          img(src="https://cdn.rebbl.net/images/bb3/apo.png")
      if (team.isCustom == 1)
        .col-md-1.col-6
          img(src="https://cdn.rebbl.net/images/bb3/custom.png" title="custom team")
      if (team.mustRollExpensiveMistake == 1)
        .col-md-1.col-6
          img(src="https://cdn.rebbl.net/images/bb3/exclamation.png")
          strong.text-danger Expensive mistake
      if (team.hasPlayerThatMustLevelUp == 1)
        .col-md-1.col-6
          img(src="https://cdn.rebbl.net/images/bb3/exclamation.png")
          strong.text-danger Maxed out spp
      if (team.hasRecrutableJourneymen == 1)
        .col-md-1.col-6
          img(src="https://cdn.rebbl.net/images/bb3/exclamation.png")
          strong.text-warning Recruitable journeyman
      if (user && user.bb3id === team.coach.id)
          .col
            a.float-end.btn.btn-sm.btn-success(href=`/redraft/${team.id}/preview`) Redraft

    br
    nav(class="col-12")
      div(class="nav nav-tabs" id="nav-tab" role="tablist")
        a(class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Players
        a(class="nav-item nav-link" id="nav-matches-tab" data-bs-toggle="tab" href="#nav-matches" role="tab" aria-controls="nav-matches" aria-selected="false" data-bind="click:selectMatches") Matches
    - let teamPositions = [...new Set(team.roster.map(x => x.player.position))]
    - let borders = ["border-success","border-warning","border-primary","border-light","border-info","border-secondary"]  
    .tab-content#tabContent
      .tab-pane.fade.col-12.show.active.table-responsive-md#nav-home(role="tabpanel" aria-labelledby="nav-home-tab")
        table.table.table-striped
            thead.headerText
              tr
                th(scope="col") #
                th(scope="col") name
                th(scope="col") position
                th(scope="col") MA
                th(scope="col") ST
                th(scope="col") AG
                th(scope="col") PA
                th(scope="col") AV
                th(scope="col" style="min-width:160px") Skills
                th(scope="col") CAS
                th(scope="col") SPP
                th(scope="col") Value
            tbody
              - for(let player of team.roster)
                tr(class=Number(player.player.missNextGame)==1?"player-out":"player-in") 
                  td=player.player.number
                  td
                    div
                      - if (player.player.id)
                        img(src=`https://cdn.rebbl.net/images/skills/${player.player.level}.png` alt="", class="TeamLabel-logo" style="width:30px;margin-right:2px;height:30px;float:left;")
                      - else if (player.player.type.startsWith("neutral_")) 
                        img(src=`https://cdn.rebbl.net/images/bb3/hud_inducement_StarPlayer.png` alt="", class="TeamLabel-logo" style="width:30px;margin-right:2px;height:30px;float:left;")
                      - else
                        img(src=`https://cdn.rebbl.net/images/bb3/hud_mercenary_tile_picto_mercenary.png` alt="", class="TeamLabel-logo" style="width:30px;margin-right:2px;height:30px;float:left;")
                      .match-stats-TeamLabel-name=player.player.name

                  td
                    - let p = getPosition(player.player.position)
                    img(src=getSilhouette(player.player.position) title=p class=`silhouette-shadow border border-3 rounded-pill ${borders[teamPositions.indexOf(player.player.position)]}`)
                  - let c = player.player.characteristics.playerCharacteristicsEntry.find(x=>x.characteristic==0)
                  td= c ? c.value : "-"
                  - c = player.player.characteristics.playerCharacteristicsEntry.find(x=>x.characteristic==1)
                  td= c ? c.value : "-"
                  - c = player.player.characteristics.playerCharacteristicsEntry.find(x=>x.characteristic==2)
                  td= c ? c.value : "-"
                  - c = player.player.characteristics.playerCharacteristicsEntry.find(x=>x.characteristic==3)
                  td= c ? c.value : "-"
                  - c = player.player.characteristics.playerCharacteristicsEntry.find(x=>x.characteristic==4)
                  td= c ? c.value : "-"
                  td(class="td-prevent")
                    - for(let skill of Array.isArray(player.player.skills.skillsItem) ? player.player.skills.skillsItem : [player.player.skills.skillsItem] )
                      - let s = skills.find(x => x.id == skill)
                      - if (s)
                        img(src=`https://cdn.rebbl.net/images/skills/${user && user.icon ? user.icon : "BB3Standard"}/${s.icon}` title=s.name.replace(/([A-Z])/g, ' $1').trim() alt="" style="z-index:9999" )
                  td.pull-right
                    each cas in Array.isArray(player.player.casualties.casualtiesItem) ? player.player.casualties.casualtiesItem:[player.player.casualties.casualtiesItem]
                      -let d = getPlayerCasualtyIcon(cas)
                      if d
                        img(src=`https://cdn.rebbl.net/images/bb3/Icons_Casualty/${d[0]}` title=d[1])
                    if player.player.missNextGame == "1"
                        img(src=`https://cdn.rebbl.net/images/bb3/Icons_Casualty/ico_action_recovering.png`)
                    if retiredPlayers.some(x => x.id === player.player.id && x.active)
                      span.badge.text-bg-success.ms-2 retired    
                    if user && user.bb3id === team.coachId && team.allowRetire && team.allowRetire.some(x => x === player.player.id)
                      button.btn.btn-sm.btn-success.ms-2(type="button" onclick=`showModal("${player.player.id}","${player.player.name}")`) TR
                   
                  td=player.player.spp
                  td(data-bind="text:value")=player.player.value
      .tab-pane.fade.col-12.show.table-responsive-md(id="nav-matches" role="tabpanel" aria-labelledby="nav-matches-tab")
        each match of matches.reverse()
          include matchOverview
 
  #playerModal.modal.fade(data-bs-backdrop="static"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="playerModal" aria-hidden="true")
    .modal-dialog.modal-xl
      .modal-content 
        .modal-header 
          h1.modal-title#titleName Temporarily Retire
          button.btn-close(type="button"  data-bs-dismiss="modal" aria-label="Close")
        .modal-body 
          .modal-page
            h3  Season implications

            p You are about to temporarily retire a player, this has some implications.
            p First off, the player will remain on your roster, but will have the Miss Next Game state for the remainder of the season.
            p If you at later stage change your mind, the only option you have is to fire the player.
          .modal-page 
            h3 Redraft 

            p Once the season is over, after playoffs if you make it to the playoffs, you can decide if you want draft the player for the next season.
            p If you decide to do so, an attempt to cure the player will be made. A  D6 will be rolled for each Injury that is a stats bust. If you have an Apothecary rostered, you'll receive a +1 on the dice roll. 
            p On a roll of 4+, the injury will be turned into a Serious Injury (niggle).
            .p-3.text-bg-info.border-start.border-2.border-info-subtle Drafting a temporarily retired player and curing them is a commitment you can't regret, you have to roster the player once the decision is made and the dice are rolled.
          .modal-page 
            h3#titleConfirm Confirmation

            p#character

            p#proceed If you confirm and click proceed
            .form-check.form-switch
              input#consent.form-check-input(type="checkbox" role="switch")
              label.form-check-label(for="consent") I have read and understand what I'm getting myself into.
            
        .modal-footer(style="justify-content: space-between") 
          button#btnCancel.btn.btn-primary(type="button" data-bs-dismiss="modal") Cancel
          button#btnBack.btn.btn-primary.d-none(type="button" onclick="handleBack()") Back
          button#btnNext.btn.btn-primary(type="button" onclick="handleNext()") Next
          button#btnProceed.btn.btn-success.d-none(type="button" onclick="handleProceed()" disabled) Proceed
            #spinner.d-none.spinner-grow.spinner-grow-sm.ms-2(role="status")

  .toast-container.top-50.start-50.translate-middle
    #successToast.toast.align-items-center.text-bg-success.border-0(role="alert" aria-live="assertive" aria-atomic="true")
      .d-flex
        .toast-body
          | Player has been successfully retired.
        button.btn-close.btn-close-white.me-2.m-auto( type="button" data-bs-dismiss="toast" aria-label="Close")

    #errorToast.toast.align-items-center.text-bg-danger.border-0(role="alert" aria-live="assertive" aria-atomic="true")
      .d-flex
        .toast-body
          | Something went wrong, please contact the admins.
        button.btn-close.btn-close-white.me-2.m-auto( type="button" data-bs-dismiss="toast" aria-label="Close")




block scripts 
  script.
    const playerModal = new bootstrap.Modal(document.getElementById('playerModal'), {});  
    let playerId;
    let pages;
    let page_track = 0;

    $(document).ready(function() {
      prep_modal();
      $("#consent").on("change", handleConsentChange)
    });

    function handleConsentChange(e,v){
      const btnProceed = document.getElementById("btnProceed");

      if (e.target.checked) btnProceed.disabled = false;
      else btnProceed.disabled = true;
    }    

    function prep_modal()
    {
      $(".modal").each(function() {
        const element = this;
        pages = $(element).find('.modal-page');
        pages.hide();
        pages.eq(page_track).show();
      });
    }

    function handleBack() {
      const btnBack = document.getElementById("btnBack");
      const btnNext = document.getElementById("btnNext");
      const btnProceed = document.getElementById("btnProceed");

      if(page_track == 1) btnBack.classList.add("d-none");
      if(page_track < 1) return

      if(page_track == pages.length-1) {
        btnProceed.classList.add("d-none");
        btnNext.classList.remove("d-none");
      }


      page_track--;
      pages.hide();
      pages.eq(page_track).show();
    }

    function handleNext(){
      const btnBack = document.getElementById("btnBack");
      const btnNext = document.getElementById("btnNext");
      const btnProceed = document.getElementById("btnProceed");

      if(page_track == 0) btnBack.classList.remove("d-none");
      if(page_track == pages.length-2) {
        btnProceed.classList.remove("d-none");
        btnNext.classList.add("d-none");
      }

      if(page_track < pages.length-1)
      {
        page_track++;

        pages.hide();
        pages.eq(page_track).show();
      }
    }

    async function handleProceed(){
      const btnProceed = document.getElementById("btnProceed");
      const spinner = document.getElementById("spinner");
      btnProceed.disabled =  true;
      spinner.classList.remove("d-none");

      const response = await fetch(`/team/#{team.id}/retire/${playerId}`, {method:"POST"});

      if (response.ok){
        const e = document.getElementById("successToast");
        const toast = new bootstrap.Toast(e);
        toast.show();
      } else {
        const e = document.getElementById("errorToast");
        const toast = new bootstrap.Toast(e);
        toast.show();
      }

      spinner.classList.add("d-none");

      playerModal.hide();
    }


    function showModal(id, name){
      $("#consent")[0].checked = false;
      $("#btnProceed")[0].disabled = true; 


      btnProceed.classList.add("d-none");
      btnNext.classList.remove("d-none");


      playerId = id;
      page_track = 0;

      let elm = document.getElementById("titleName");
      elm.innerHTML = `temporarily retiring ${name}`;

      elm = document.getElementById("proceed");
      elm.innerHTML = `If you confirm and click proceed, ${name} will be temporarily retired.`;

      playerModal.show();
    }