extends layout.pug

block vars
  - let options = {company: company}

include functions.pug 

block head
  style.
    h2{margin-top:0px;margin-bottom:0px;margin-right:15px}
    .card{width: 12rem;}
    .coach-container{
        width: 100%;
        height: 120px;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-origin: border-box;
        display:flex;

    }
    .container-default{
        background-image: url(https://cdn.rebbl.net/images/bb3/coach/banner/txt_gamer_banner_002.png); 
    }
    .coach{
        width: 120px;
        max-width: 100%;
        height: 120px;
        background-position: left top, left top;
        background-repeat: no-repeat, no-repeat;
        background-size: contain, contain;
        background-origin: content-box, padding-box;
    }
    .coach-default{
        background-image: 
            url(https://cdn.rebbl.net/images/bb3/coach/frame/txt_gamer_frame_001.png),
            url(https://cdn.rebbl.net/images/bb3/coach/avatar/txt_gamer_avatar_human_humanLineman.png); 
    }
    .place-container{
      width:120px;
      height:120px
    }

block content
  .container
    if user && user.info
      .coach-container(style=`background-image: url(https://cdn.rebbl.net/images/bb3/coach/banner/${user.info.banner}.png) `)
        .coach(style=`background-image: url(https://cdn.rebbl.net/images/bb3/coach/frame/${user.info.frame}.png),url(https://cdn.rebbl.net/images/bb3/coach/avatar/${user.info.avatar}.png); `)
        a.d-flex.justify-content-center.mx-auto.text-decoration-none(href=`/competition/${competition.id}/schedules` style="-webkit-text-stroke:2px black")
          h1.fw-bold.align-content-center.text-primary.align-middle.text-uppercase.my-0.py-0.text-white(style="font-size:3em;")=competition.name
        - if (competition.standings && user && competition.standings.find(x => x.id == user.bb3id))
          .place-container.d-flex.justify-content-center
            h1.text-white.fw-bold.align-content-center.my-0.py-0= "#" + competition.standings.find(x => x.id == user.bb3id).position
    else
      .coach-container.container-default
        .coach.coach-default
        a.d-flex.justify-content-center.mx-auto.text-decoration-none(href=`/competition/${competition.id}/schedules`  style="-webkit-text-stroke:2px black")
          h1.fw-bold.align-content-center.text-primary.align-middle.text-uppercase.my-0.py-0.text-white(style="font-size:3em;")=competition.name
        - if (competition.standings && user && competition.standings.find(x => x.id == user.bb3id))
          .place-container.d-flex.justify-content-center
            h1.text-white.fw-bold.align-content-center.my-0.py-0= "#" + competition.standings.find(x => x.id == user.bb3id).position
    .season-table.text-secondary-emphasis.fs-5(style="margin-bottom:40px;")  
      .row(style="border-bottom: 3px solid #bdbcbccf;")
        .col-8.col-md-6(style="font-size:1.25em")
          .row
            .col-2 #
            .col Coach
            .col Team
        .col-2.d-none.d-md-block(style="font-size:1.25em") Race
        .col-4(style="font-size:1.25em")
          .row
            .col-4.col-md-2 Pts.
            .col-2.d-none.d-md-block W  
            .col-2.d-none.d-md-block D  
            .col-2.d-none.d-md-block L
            .col-4.col-md-2 P
            .col-4.col-md-2.text-end ΔTD
      - let myStanding = undefined
      if competition.standings && user
        - myStanding =  competition.standings.find(x => x.id == user.bb3id);
      if (!myStanding)
        - myStanding = {position:2}
      each rank in competition.standings.filter(x => x.position >= myStanding.position-1 && x.position <= myStanding.position+1)
        .row.season-table-row(id= rank.team.startsWith("[ADMIN]") ? "": rank.id)
          .col-8.col-md-6
            .row
              .col-2=rank.position
              .col(style=";overflow:hidden") 
                a.text-decoration-none.text-primary(href=`/coach/${rank.id}`)=rank.name
              .col(style=";overflow:hidden") 
                a.text-decoration-none.text-primary(href=`/team/${rank.teamId}`)=rank.team
          .col-2.d-none.d-md-block(style=";overflow:hidden")=getRace(rank.race)
          .col-4
            .row
              .col-4.col-md-2=rank.points
              .col-2.d-none.d-md-block=rank.win
              .col-2.d-none.d-md-block=rank.draw
              .col-2.d-none.d-md-block=rank.loss
              .col-4.col-md-2=(Number(rank.win)+Number(rank.loss)+Number(rank.draw))
              .col-4.col-md-2.text-end=(rank.tddiff)
    .row
      .col-8.fs-5
        if upcomingMatch
          for match in upcomingMatch
            - let item = match.home.coach.bb3id == user.bb3id ? match.away : match.home
            .row.col-12
              h2(style="margin-top:40px;margin-bottom:20px")= match.competitionName + " - week " + match.round
            .row
              .col-2
                .coach-container
                  .coach(style=`background-image: url(https://cdn.rebbl.net/images/bb3/coach/frame/${item.coach.info.frame}.png),url(https://cdn.rebbl.net/images/bb3/coach/avatar/${item.coach.info.avatar}.png); `)
              .col-4
                h3 
                  a(href=`/team/${item.team.id}`)= item.team.name
                h3 
                  a(href=`/coach/${item.coach.bb3id}`)= item.coach.name
              .col-2
                img(src="https://cdn.rebbl.net/images/bb3/Logos/100x100/" + item.team.logo alt="" class="w-50")
            .row
              .col-2
                strong race
              div(class="col-4")= getRace(item.team.race)
            .row
              .col-2
                strong team value
              -if (item.team.team)
                div(class="col-4")= item.team.team.nextMatchTV
              -else
                div(class="col-4")= item.team.value
            .row
              .col-2
                strong cash
              -if (item.team.team)
                div(class="col-4")= Math.floor(item.team.team.cash/1000) + "k"
              -else
                div(class="col-4") -
            .row
              .col-2
                strong coach
              div(class="col-4")= item.coach.name
            .row
              .col-2
                strong reddit
              div(class="col-4 highlight")= "/u/" + (item.coach.reddit ? item.coach.reddit.toLowerCase() : "")
            .row
              .col-2
                strong discord
              div(class="col-4")= item.coach.discord
            .row
              .col-2
                strong steam
              div(class="col-4")= item.coach.steam
            .row
              .col-2
                strong timezone  
                div 
                  strong current time
              div(class="col-4 timezone" )= item.coach.timezone
                div(class="time")
            br
            .row.col
              - if(user?.roles?.includes("streamer"))
                span Enter match date in your own local time
                .row.col
                  .col-xs-12.col-sm-7.col-md-6.col-lg-4
                    .input-group.datetimepicker(id=`datetimepicker-${match.matchId}` data-td-target-input="nearest" data-td-target-toggle="nearest" data-btn=`#btn-${match.matchId}`)
                      span.input-group-text(data-td-target=`#datetimepicker-${match.matchId}` data-td-toggle="datetimepicker")
                        i.fa-solid.fa-calendar
                      input.datetimepickerInput.form-control.px-0.text-center(id=`datetimepickerInput-${match.matchId}` type="text" value=(match.date ? match.date.date : null)  data-td-target=`#datetimepicker-${match.matchId}`)
                      button.btn.btn-secondary.btn-block.btn-date( disabled data-clan=match.clan data-matchId=match.matchId data-competitionid=match.competition_id data-bs-target=`#datetimepickerInput-${match.matchId}` id=`btn-${match.matchId}`) Set match date
                    a(href="#" target="_blank" data-date=(match.date ? match.date.date : null) data-team-home=match.home.team.name data-team-away=item.team.name class="calendar-add") Add to Google Calendar
                  -if (user.twitch)                  
                    .col-12
                      btn.btn.btn-success.stream(id=`stream-${match.matchId}` data-matchId=match.matchId)  stream
                      btn.d-none.btn.btn-danger.unstream(id=`unstream-${match.matchId}` data-matchId=match.matchId) unstream
              - if(match.date)
                p planned match start:&nbsp;
                  span(id="matchTime")= match.date.date
                - if(match.date.stream)
                  div(class="row col-12 justify-content-center")
                    a(href=match.date.stream.url target="_blank")
                      img(src="/images/glitch.png" style="width:36px;height:36px")
                      span= " " + match.date.stream.name 
      .col-4 
        for announcement in announcements
          - let date = new Date(announcement.date *1000)
          .row
            .col-12 
              h3= date.toISOString().substring(0,10)
            div(class="col-2 g-0")
                a(target="_blank" href=announcement.url title=announcement.title)
                  img(src="https://cdn.rebbl.net/images/small-fist.png" style="width:40px;margin-left: 7px;margin-top:3px")
            div(class="col-10 g-0")
              a(href=announcement.url target="_blank")= announcement.title

