doctype html 
- let theme = (user && user.useDark || user && user.account && user.account.useDark) ? "dark" : "light"
html(data-bs-theme=theme)
  head
    script(src="https://cdn.rebbl.net/scripts/jquery-3.3.1.slim.min.js")
    script(src="https://cdn.rebbl.net/scripts/v2/popper.min.js")
    script(src="https://cdn.rebbl.net/scripts/v2/bootstrap.min.js")      
    link(rel="stylesheet" href="https://cdn.rebbl.net/styles/v2/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdn.rebbl.net/styles/fontawesome.min.css")
    link(rel="stylesheet" href="https://cdn.rebbl.net/styles/solid.min.css")
    style.
      @font-face {
        font-family: 'Roboto';
        src: url(/fonts/roboto-latin-regular-webfont.woff2) format("woff2");
        font-weight: 400;
        font-style: normal
      }

      @font-face {
        font-family: 'Roboto';
        src: url(/fonts/roboto-latin-medium-webfont.woff2) format("woff2");
        font-weight: 500;
        font-style: normal
      }

      @font-face {
        font-family: 'Roboto';
        src: url(/fonts/roboto-latin-bold-webfont.woff2) format("woff2");
        font-weight: 700;
        font-style: normal
      }

      @font-face {
        font-family: 'Industry';
        src: url(/fonts/industry-medium-webfont.woff2) format("woff2");
        font-weight: 400;
        font-style: normal
      }

      @font-face {
        font-family: 'Industry';
        src: url(/fonts/industry-medium-webfont.woff2) format("woff2");
        font-weight: 500;
        font-style: normal
      }

      @font-face {
        font-family: 'Industry';
        src: url(/fonts/industry-bold-webfont.woff2) format("woff2");
        font-weight: 700;
        font-style: normal
      }

      *{
        font-family: "Industry",Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
      }
      @media (min-width: 1700px) {
        .Container, .container {
          max-width: 1600px;
        }
      }
      :root{--bs-primary-rgb:230,123,0;}
      .season-table-row:nth-of-type(2n){
        background-color: #4a4a4a69;
      }
      .debuginfo {text-align: right;padding: 5px;color: gray;font-size: smaller;clear: both;}
      .debuginfo .content {display:none}
      .debuginfo:hover .content {display:inline}
      .debuginfo .icon  {color: #a0a0a0;font: 1em serif;padding: 0 2px;}

    block head

    block vars
      - let page = "/"
  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark.p-0
      .container-fluid
        a.navbar.py-0(href=user ? '/account' : '/account/login') 
          .d-flex.align-items-center.justify-content-center.rounded-circle.overflow-hidden(style='width: 38px;')
            img.w-100.h-100(src=`https://cdn.rebbl.net/images/bb3/coach/avatar/${user && user.info? user.info.avatar : "anonymous"}.png`)

        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-md-0
            block nav  
              li.nav-item
                a.nav-link(aria-current='page' href='/' class=page == "home" ? "active" : "" ) home
              li.nav-item
                a.nav-link(aria-current='page' href='/standings' class=page == "standings" ? "active" : "" ) standings
          ul.navbar-nav
            li.nav-item.align-center.d-flex.text-white
              .align-content-end
                i.fa.fa-sun
              .form-check.form-switch
                  input.form-check-input(type="checkbox" role="switch" id="switchTheme" style="margin-left: -2em;margin-right: 0.5em;" change="event => toggleTheme(event)" checked=theme=="dark" )
              .align-content-end
                i.fa.fa-moon
  
    div(style="padding-top:48px")
      block content

    - if (user)
      script.
        async function toggleTheme(){
          const theme = document.documentElement.getAttribute("data-bs-theme") === "dark" ? "light" : "dark";
          document.documentElement.setAttribute("data-bs-theme", theme);
          await fetch(`/api/v2/account/theme/${theme}`,{method:"PUT"});
        }
    - if (!user)
      script.
        function toggleTheme(){
          const theme = document.documentElement.getAttribute("data-bs-theme");
          document.documentElement.setAttribute("data-bs-theme", theme === "dark" ? "light" : "dark")
        }

    script.
      const elm = document.getElementById("switchTheme");

      elm.addEventListener('change', toggleTheme);

    block scripts

    p.debuginfo  
      span.content.icon π
      span.content #debuginformation#
      span.icon π
