extends layout.pug
include teamStat.pug
include functions.pug

block append vars
  -
    let options = {company:company}
    const homeTeamStats = match?.statistics.homeGamerStatistics?.teamStatistics.statistics.statistic || []
    const awayTeamStats = match?.statistics.awayGamerStatistics?.teamStatistics.statistics.statistic || []
    
block head
  link(rel="stylesheet" href="/styles/skills.css")

  style.
    h2{margin-top:0px;margin-bottom:0px;margin-right:15px}
    .card{width: 12rem;}
    :root{
      --bs-primary-rgb:230,123,0
    }
    

block content
  .container.fs-5
    .row
      - if (match)
        .col-12
          .row
            .col-12.text-center
              - if (match.replayFile)
                a.float-end(href=`https://replays.rebbl.net/bb3/${match.replayFile}`)
                  img(src=`https://cdn.rebbl.net/images/replay.png` alt="Download replay" title="Download replay")
              h2= `${match.competition.name}`
              - if (user && !user.bb3id) user.bb3id = 0
              .col-12
                if match.validated || match.hasPendingValidation === "0"
                  if match.homeHasConceded == "1"
                    .col-12(style="justify-content: start;padding: 0px;background-color: unset;}")
                      span.badge.text-bg-warning conceded
                  else if match.awayHasConceded == "1"
                    .col-12(style="justify-content: end;padding: 0px;background-color: unset;}")
                      span.badge.text-bg-warning conceded
                  else 
                    .col-12(style="background-color: unset;}")
                      span.badge.text-bg-success validated
                else if user && (user.roles && user.roles.indexOf("admin") > -1) 
                  .col-12 
                    form(action=`/match/${match.gameId}/validate` method="POST")
                      button.btn.btn-sm.btn-success.mx-2(style="vertical-align:top") Validate
                else if user && (match.homeGamer.id === user.bb3id || match.awayGamer.id === user.bb3id) && ((!match.validatedBy ||  match.validatedBy.indexOf(user.bb3id) === -1) && (!match.notValidatedBy ||  match.notValidatedBy.indexOf(user.bb3id) === -1))
                  .col-12 
                    form(action=`/match/${match.gameId}/validate` method="POST")
                      button.btn.btn-sm.btn-success.mx-2(style="vertical-align:top") Validate

            .col-12.row.g-0
              .col-5.row.g-0
                .d-flex.justify-content-end
                  .flex.text-end
                    - let tn = match.homeTeam.name
                    a.text-primary.text-decoration-none.fs-3(href=`/team/${match.homeTeam.id}` )= tn
                    .text-end
                      a.text-primary-emphasis.text-decoration-none.fs-4(href=`/coach/bb3/${match.homeGamer.id}`)= match.homeGamer.name
                      .text-end.fs-5
                        div= "winnings: " + (match.homeGameResultGain.newTreasury - match.homeGameResultGain.previousTreasury - match.homeGameResultGain.cashSpentDuringMatch)
                        div= "fan attendance: " + (match.homeGameResultGain.fanAttendance)
                        - let homeFans = Number(match.homeGameResultGain.newDedicatedFans) - Number(match.homeGameResultGain.previousDedicatedFans)
                        - if (homeFans != 0)
                          div(title=`previous: ${match.homeGameResultGain.previousDedicatedFans}`)= match.homeGameResultGain.newDedicatedFans + " Dedicated Fans " + (homeFans > 0 ? `(+${homeFans})` : `(${homeFans})`)
                        -else 
                          div(title=`previous: ${match.homeGameResultGain.previousDedicatedFans}`)= match.homeGameResultGain.newDedicatedFans + " Dedicated Fans"
                  .flex.align-self-center: img(src=`https://cdn.rebbl.net/images/bb3/Logos/256x256/${match.homeTeam.logo.icon}` alt="" style="width:175px")
              .col-2.row.g-0
                - if (user && !user.bb3id) user.bb3id = 0
                .col-12.row.text-center(style="align-content:space-evenly")
                  div.fs-1
                    if match.homeScore > match.awayScore
                      span.fw-bold= match.homeScore
                      span.mx-2 -
                      span= match.awayScore
                    else if match.awayScore > match.homeScore
                      span= match.homeScore
                      span.mx-2 -
                      span.fw-bold= match.awayScore
                    else
                      span= match.homeScore
                      span.mx-2 -
                      span= match.awayScore
                  if !match.validated && match.hasPendingValidation !== "0"
                    if user && (match.homeGamer.id === user.bb3id || match.awayGamer.id === user.bb3id) &&  (!match.validated || match.hasPendingValidation === "1")  && ((!match.validatedBy ||  match.validatedBy.indexOf(user.bb3id) === -1) &&   (!match.notValidatedBy ||  match.notValidatedBy.indexOf(user.bb3id) === -1))
                      .MatchStatus.col-12 
                        form(action=`/match/${match.gameId}/invalidate` method="POST")
                          button.btn.btn-sm.btn-danger.mx-2(style="vertical-align:top;padding:1px") Do not validate
              .col-5.row.g-0
                .d-flex
                  .flex.align-self-center: img(src=`https://cdn.rebbl.net/images/bb3/Logos/256x256/${match.awayTeam.logo.icon}` alt="" style="width:175px")
                  .flex
                      - let on = match.awayTeam.name
                      a.text-primary.text-decoration-none.fs-3(href=`/team/${match.awayTeam.id}` )= on
                      .text-start
                        a.text-primary-emphasis.text-decoration-none.fs-4(href=`/coach/bb3/${match.awayGamer.id}`)= match.awayGamer.name
                        .text-start.fs-5
                          div= "winnings: " + (match.awayGameResultGain.newTreasury - match.awayGameResultGain.previousTreasury - match.awayGameResultGain.cashSpentDuringMatch)
                          div= "fan attendance: " + (match.awayGameResultGain.fanAttendance)
                          - let awayFans = Number(match.awayGameResultGain.newDedicatedFans) - Number(match.awayGameResultGain.previousDedicatedFans)
                          - if ( awayFans != 0)
                            div(title=`previous: ${match.awayGameResultGain.previousDedicatedFans}`)= match.awayGameResultGain.newDedicatedFans + " Dedicated Fans " + (awayFans > 0 ? `(+${awayFans})` : `(${awayFans})`)
                          -else 
                            div(title=`previous: ${match.awayGameResultGain.previousDedicatedFans}`)= match.awayGameResultGain.newDedicatedFans + " Dedicated Fans"
                    
            if match.homeHasConceded == "0" && match.awayHasConceded == "0"
              div(class="col-12")
                br
              .col-12.d-flex
                .col-6
                  table(style="font-size: 16px;width: 100%;border-collapse: collapse;")
                    thead 
                      tr 
                        th.text-primary-emphasis statistic 
                        th.text-primary-emphasis.text-center= match.homeTeam.name
                        th.text-primary-emphasis.text-center= match.awayTeam.name

                    tbody
                      tr
                        td Team value
                        td.text-center= match.homeTeam.value
                        td.text-center= match.awayTeam.value

                      each stat in homeTeamStats.filter(x => x.categoryId != 2 && [18,27,31].indexOf(Number(x.id)) === -1)
                        +teamStat(stat.name,[stat.id], homeTeamStats, awayTeamStats)
                .col-6
                  table(style="font-size: 16px;width: 100%;border-collapse: collapse;")
                    thead 
                      tr 
                        th.text-primary-emphasis statistic 
                        th.text-primary-emphasis.text-center= match.homeTeam.name
                        th.text-primary-emphasis.text-center= match.awayTeam.name

                    tbody
                      - const collator = new Intl.Collator(undefined, {numeric: true, sensitivity: "base"});
                      each stat in homeTeamStats.filter(x => x.categoryId == 2).sort((a,b) => collator.compare(a.name, b.name))
                        +teamStat(stat.name,[stat.id], homeTeamStats, awayTeamStats)
            - match.homeTeam.mvp = match.homeMvp
            - match.awayTeam.mvp = match.awayMvp
            hr
            - match.homeTeam.coach = match.homeGamer 
            - match.awayTeam.coach = match.awayGamer 
            .col-12.table-responsive-md
              table(style="width:100%")
                each team in [match.homeTeam, match.awayTeam]
                  include team.pug
      - if (schedule)
          .MatchRow-contentWrapper
            div.MatchRow-team
              div.TeamLabel.TeamLabel--reverse
                div(class="TeamLabel-block"): img(src=`https://cdn.rebbl.net/images/bb3/Logos/100x100/${schedule.home.team.logo}` alt="" class="TeamLabel-logo")
                div(class="TeamLabel-info TeamLabel-info--noScore")
                  div(class="TeamLabel-name ")= schedule.home.team.name
                  div(class="TeamLabel-coach ")= schedule.home.coach.name
            div(class="MatchRow-status")
              span(class="MatchStatus MatchStatus--transparent")
                span
                  if schedule.home.score > schedule.away.score
                    span(class="MatchStatus-score is-winner")= schedule.home.score
                    span(class="MatchStatus-score") -
                    span(class="MatchStatus-score")= schedule.away.score
                  else if schedule.away.score > schedule.home.score
                    span(class="MatchStatus-score")= schedule.home.score
                    span(class="MatchStatus-score") -
                    span(class="MatchStatus-score is-winner")= schedule.away.score
                  else
                    span(class="MatchStatus-score")= schedule.status > 1 ? schedule.home.score : ''
                    span(class="MatchStatus-score") -
                    span(class="MatchStatus-score")= schedule.status > 1 ? schedule.away.score : ''
            div(class="MatchRow-team")
              div(class="TeamLabel")
                div(class="TeamLabel-block"): img(src=`https://cdn.rebbl.net/images/bb3/Logos/100x100/${schedule.away.team.logo}` alt="" class="TeamLabel-logo")
                div(class="TeamLabel-info TeamLabel-info--noScore")
                  div(class="TeamLabel-name ")= schedule.away.team.name
                  div(class="TeamLabel-coach ")= schedule.away.coach.name
          if user && (user.roles && user.roles.indexOf("admin") > -1) 
            .MatchStatus.col-12 
              form(action=`/schedule/${schedule.gameId}/validate` method="POST")
                button.btn.btn-sm.btn-success.mx-2(style="vertical-align:top") Validate
          else if user && (schedule.home.coach.id === user.bb3id || schedule.away.coach.id === user.bb3id) && ((!schedule.validatedBy ||  schedule.validatedBy.indexOf(user.bb3id) === -1) && (!schedule.notValidatedBy ||  schedule.notValidatedBy.indexOf(user.bb3id) === -1))
            .MatchStatus.col-12 
              form(action=`/schedule/${schedule.gameId}/validate` method="POST")
                button.btn.btn-sm.btn-success.mx-2(style="vertical-align:top") Validate
          if user && (schedule.home.coach.id === user.bb3id || schedule.away.coach.id === user.bb3id) &&  ((!schedule.validatedBy ||  schedule.validatedBy.indexOf(user.bb3id) === -1) && (!schedule.notValidatedBy ||  schedule.notValidatedBy.indexOf(user.bb3id) === -1))
            .MatchStatus.col-12 
              form(action=`/schedule/${schedule.gameId}/invalidate` method="POST")
                button.btn.btn-sm.btn-danger.mx-2(style="vertical-align:top;padding:1px") Do not validate


