extends layout.pug

block head
  style.
    h2{margin-top:0px;margin-bottom:0px;margin-right:15px}
    .card{width: 12rem;}
    :root{
      --bs-primary-rgb:230,123,0
    }

block content
  div.Background.u-bottomPadding--large.u-topPadding--medium
    div.container-fluid
      h1.text-center= league + " " + (competition.displayName ||  competition.name)
      - let round = 0
      .row
        each round, y in [...new Set(schedules.map(x => x.round))]
          .col-12.col-xl-6.g-0
            br
            div.text-center
              a.text-primary.text-decoration-none(href=`/competition/${competition.id}/schedules/${round}`)
                h2.fs-3.text-primary-emphasis.text-decoration-none= "Round " + round
            each schedule, x in schedules.filter(a => a.round == round)
              - let url = schedule.status > 1 ? `/match/${ schedule.gameId }` : `/unplayed/${schedule.matchId}`
              a.row.text-decoration-none.fs-5(href=url target="_blank")
                .col-5.g-0
                  div
                    div.float-end: img(src=`https://cdn.rebbl.net/images/bb3/Logos/100x100/${schedule.home.team.logo}` style="width:48px" alt="")
                    div.float-end.text-end.mx-1
                      div.text-primary= schedule.home.team.name
                      div.text-primary-emphasis= schedule.home.coach.name
                .col-2.g-0.text-center.text-decoration-none.fs-4(style="align-content:space-evenly")
                  if schedule.home.score > schedule.away.score
                    span.mx-1.fw-bold= schedule.home.score
                    span.mx-1 -
                    span.mx-1= schedule.away.score
                  else if schedule.away.score > schedule.home.score
                    span.mx-1= schedule.home.score
                    span.mx-1 -
                    span.mx-1= schedule.away.score
                  else
                    span.mx-1= schedule.status > 1 ? schedule.home.score : ''
                    span.mx-1 -
                    span.mx-1.fw-bold= schedule.status > 1 ? schedule.away.score : ''
                .col-5.g-0
                  div
                    div.float-start: img(src=`https://cdn.rebbl.net/images/bb3/Logos/100x100/${schedule.away.team.logo}` style="width:48px" alt="")
                    div.float-start.mx-1
                      .text-primary= schedule.away.team.name
                      .text-primary-emphasis= schedule.away.coach.name
