extends sublayout.pug

block append vars
  - var activeSubMenu = "account"

block append scripts
  script.
    $(document).ready(function(){
      $("#timezone").on('change', function(e){
        $("#tz_info").text(moment().tz(e.currentTarget.value).format('YYYY-MM-DD HH:mm Z'));
      });

      let select = document.getElementById("timezone");
      let guessed = moment.tz.guess();

      guessed = "#{user.timezone}" || guessed;
      let names = moment.tz.names();
      let l = names.length;

      for(let i = 0; i < l; i++){
        let tz = names[i];
        let option = document.createElement("option");
        option.setAttribute("value", tz);
        option.text = tz;
        if (tz === guessed){
          option.setAttribute("selected", "selected")
        }
        select.appendChild(option);
      }
      $("#tz_info").text(moment().tz(guessed).format('YYYY-MM-DD HH:mm ZZ'));
    });

    const unfollow = async function(id){
      let result = await fetch(`/api/v2/account/unfollow/${id}`,{method:"PUT"});
    
      if (result.ok){
        let data = await result.json();
        if (!data){
          // false means we are not following anymore
          let e = document.getElementById(id);
          e.remove();
        } 
      }
    }
    const clearLocalStorage = function(){
      debugger;
      const storage = window.localStorage;
      if(storage) storage.clear();
    }

block content
  .container
    .row.col-12
      .col
        form(action="/account/update" method="post" class="container signup")
          h2
            span(class="highlight")= user.reddit
            a.btn.btn-primary.btn-sm.pull-right(type="button" href="/account/logout") Logout

          h3 Your data
          div
            label(for="coach") Blood Bowl 2 coach name
            input(type="text" id="coach" name="coach" value=user.coach  disabled)
            br
            span coach team &amp; stats: &nbsp;
            a(href=`/coach/${user.coach}`)= user.coach
          div
            label(for="timezone") Timezone
            select(id="timezone" name="timezone" required title="timezone")
            label(id="tz_info")
          div
            label(for="discord") Discord
            input(type="text" id="discord" name="discord" value=user.discord disabled)
            -if (user.discordId != undefined)
              a.btn.btn-primary.btn-sm.pull-right(type="button" href="/account/discord/delete") Disconnect
            -else
              a.btn.btn-primary.btn-sm.pull-right(type="button" href="/auth/discord") Connect
          div
            label(for="steam") Steam
            input(type="text" id="steam" name="steam" value=user.steam )
          div
            label(for="twitch") Twitch
            input(type="text" id="twitch" name="twitch" value=user.twitch )
          div
            input(type="checkbox" id="useDark" name="useDark" checked=(user.useDark||false) style="height:25px;width:25px") 
            label(for="useDark" style="display:inline;verticle-align:middle;margin-left:6px") Use rebbl dark mode
          -if (user.showDonation !== undefined && user.donations)
            div
              input(type="checkbox" id="showDonation" name="showDonation" checked=user.showDonation style="height:25px;width:25px") 
              label(for="showDonation" style="display:inline;verticle-align:middle;margin-left:6px") Show that I donated
          div(style="clear:both")
            button(type="submit" class="btn btn-primary") Save
            br
            br
      .col
        h3 Local data:
        button.btn.btn-primary.btn-sm(type="button" onclick="clearLocalStorage()") Clear local storage
        -if (user.following)
          h3 Following:
          each follow in user.following
            div
              button.btn.btn-primary.btn-sm.my-1(type="button" onclick=`unfollow(${follow.id})` id=`${follow.id}`)= `unfollow ${follow.name}`


