extends sublayout.pug

block append vars
  - var activeSubMenu = "account"

block append scripts
  script.
    let icon = "#{user.icon || 'BB3Standard'}"
    let schedule = #{user.doNotLoadSchedules || false};
    $(document).ready(function(){
      $("#timezone").on('change', function(e){
        $("#tz_info").text(moment().tz(e.currentTarget.value).format('YYYY-MM-DD HH:mm Z'));
      });

      let select = document.getElementById("timezone");
      let guessed = moment.tz.guess();

      guessed = "#{user.timezone}" || guessed;
      let names = moment.tz.names();
      let l = names.length;

      for(let i = 0; i < l; i++){
        let tz = names[i];
        let option = document.createElement("option");
        option.setAttribute("value", tz);
        option.text = tz;
        if (tz === guessed){
          option.setAttribute("selected", "selected")
        }
        select.appendChild(option);
      }
      $("#tz_info").text(moment().tz(guessed).format('YYYY-MM-DD HH:mm ZZ'));
    });

    const unfollow = async function(id){
      let result = await fetch(`/api/v2/account/unfollow/${id}`,{method:"PUT"});
    
      if (result.ok){
        let data = await result.json();
        if (!data){
          // false means we are not following anymore
          let e = document.getElementById(id);
          e.remove();
        } 
      }
    }
    const clearLocalStorage = function(){
      debugger;
      const storage = window.localStorage;
      if(storage) storage.clear();
    }
    const toggleSchedule = async function(){
      let result = await fetch(`/api/v2/account/schedule`,{method:"PUT"});

      if (result.ok){
        schedule = !schedule
        let e = document.getElementById("btnSchedule");
        e.innerHTML = schedule ? "yes" : "no";
      }
    }
    const toggle = async function(){
      let result;
      if (icon == "BB3Standard") result  = await fetch(`/api/v2/account/icon/legacy`,{method:"PUT"});
      if (icon == "BB3Legacy") result  = await fetch(`/api/v2/account/icon/new`,{method:"PUT"});

      if (result.ok){
        icon = icon == "BB3Standard" ? "BB3Legacy" : "BB3Standard";
        let e = document.getElementById("btnIcon");
        e.innerHTML = `Current style is: ${icon ||"BB3Standard"}`;
        let i = document.getElementById("imgIcon");
        i.src = `https://cdn.rebbl.net/images/skills/${icon}/Dodge.png`;
      }
    }
  - if (!user.bb3coach)
    script.

      let coachNames;

      function updateFields(e){
        const select = document.getElementById("bb3coachSelect");
        const input = document.getElementById("bb3coach");
        const id = document.getElementById("bb3coachId");

        id.value = select.value;
        const coach = coachNames.find(x => x.id === id.value);
        input.value = coach.name;

        const saveButton = document.getElementById("saveButton");
        saveButton.classList.remove("hidden");
      }

      async function search(e){

        const btn = document.getElementById("searchButton");
        const input = document.getElementById("bb3coach");
        const spinner = document.getElementById("spinner");
        const select = document.getElementById("bb3coachSelect");
        const selectLabel = document.getElementById("bb3coachSelectLabel");
        
        btn.disabled = true;
        spinner.classList.remove("hidden");

        const response = await fetch(`/api/v2/account/bb3/${input.value}`);

        if (response.ok){
          const coaches = await response.json();
          coachNames = coaches;
          if (Array.isArray(coaches)){
            const select = document.getElementById("bb3coachSelect");
            const selectLabel = document.getElementById("bb3coachSelectLabel");

            select.innerHTML = '';

            const o =  document.createElement("option");
            o.disabled = true;
            o.selected = true;
            o.text = "Select a steam account";
            select.add(o,null);

            coaches.forEach(coach => {
              const opt = document.createElement("option");

              opt.value = coach.id;
              opt.text = coach.steamName;
              select.add(opt,null);
            });

            select.classList.remove("hidden");
            selectLabel.classList.remove("hidden");
          } else {
            const input = document.getElementById("bb3coach");
            const id = document.getElementById("bb3coachId");
            const saveButton = document.getElementById("saveButton");
            select.classList.add("hidden");
            selectLabel.classList.add("hidden");

            id.value = coaches.id;
            input.value = coaches.name;

            saveButton.classList.remove("hidden");
          }

        }

        spinner.classList.add("hidden");
        btn.disabled = false;
      }

      async function savebb3(){
        const input = document.getElementById("bb3coach");
        const id = document.getElementById("bb3coachId");
        const spinner = document.getElementById("spinnerSave");
        spinner.classList.remove("hidden");

        const response = await fetch(`/api/v2/account/bb3`,{
          method:'POST',
          headers:{'Content-Type': 'application/json'},
          body:JSON.stringify({id:id.value, name:input.value})
        });
        if (response.ok){
          location.reload();
        }

        spinner.classList.add("hidden");
      }

block content
  .container
    .row.col-12
      .col
        div.container.signup
          h2
            span(class="highlight")= user.reddit
            a.btn.btn-primary.btn-sm.pull-right(type="button" href="/account/logout") Logout

          h3 Your data
          div
            label(for="coach") Blood Bowl 2 coach name
            input(type="text" id="coach" name="coach" value=user.coach  disabled)
            br
            span coach team &amp; stats: &nbsp;
            a(href=`/coach/${user.coach}`)= user.coach
          div
            div(style="width: 375px;")
              label(for="bb3coach") Blood Bowl 3 coach name 
              - if (user.bb3coach)
                input#bb3coach(type="text" name="bb3coach" value=user.bb3coach  disabled)
              - else              
                input#bb3coach(type="text" name="bb3coach" value=user.bb3coach)
                input#bb3coachId(type="hidden")
                label#bb3coachSelectLabel.hidden(for="bb3coachSelect" ) select correct coach by steam name
                select#bb3coachSelect.hidden(onchange="updateFields()")
                br
                button#searchButton.btn.btn-primary.btn-sm(onclick="search()")
                  span Search
                  span#spinner.spinner-border.spinner-border-sm.hidden.mx-1(role="status" aria-hidden="true")
                button#saveButton.btn.btn-success.hidden.btn-sm(style="float:right" onclick="savebb3()" ) Save
                  span#spinnerSave.spinner-border.spinner-border-sm.hidden.mx-1(role="status" aria-hidden="true")
        form(action="/account/update" method="post" class="container signup")
          div
            label(for="timezone") Timezone
            select(id="timezone" name="timezone" required title="timezone")
            label(id="tz_info")
          div
            label(for="discord") Discord
            input(type="text" id="discord" name="discord" value=user.discord disabled)
            -if (user.discordId != undefined)
              a.btn.btn-primary.btn-sm(type="button" href="/account/discord/delete") Disconnect
            -else
              a.btn.btn-primary.btn-sm(type="button" href="/auth/discord") Connect
          div
            label(for="steam") Steam
            input(type="text" id="steam" name="steam" value=user.steam )
          div
            label(for="twitch") Twitch
            input(type="text" id="twitch" name="twitch" value=user.twitch )
          div
            input(type="checkbox" id="useDark" name="useDark" checked=(user.useDark||false) style="height:25px;width:25px") 
            label(for="useDark" style="display:inline;verticle-align:middle;margin-left:6px") Use rebbl dark mode
          -if (user.showDonation !== undefined && user.donations)
            div
              input(type="checkbox" id="showDonation" name="showDonation" checked=user.showDonation style="height:25px;width:25px") 
              label(for="showDonation" style="display:inline;verticle-align:middle;margin-left:6px") Show that I donated
          div(style="clear:both")
            button(type="submit" class="btn btn-primary") Save
            br
            br
      .col
        h3 Local data:
        button.btn.btn-primary.btn-sm(type="button" onclick="clearLocalStorage()") Clear local storage
        h3 Do not show schedule in standings: 
        button.btn.btn-primary.btn-sm.my-1(type="button" onclick=`toggleSchedule()` id="btnSchedule")= user.doNotLoadSchedules ? "yes" : "no"
        h3 BB3:
        button.btn.btn-primary.btn-sm.my-1(type="button" onclick=`toggle()` id="btnIcon")= `Current style is: ${user.icon ||"BB3Standard"}`
        br
        img(src=`https://cdn.rebbl.net/images/skills/${user && user.icon ? user.icon : "BB3Standard"}/Dodge.png` id="imgIcon")
        -if (user.following)
          h3 Following:
          each follow in user.following
            div
              button.btn.btn-primary.btn-sm.my-1(type="button" onclick=`unfollow(${follow.id})` id=`${follow.id}`)= `unfollow ${follow.name}`


