extends ./sublayout.pug

block append vars
  - var activeSubMenu = "match"

block head
  link(rel="stylesheet" href="https://cdn2.rebbl.net/styles/tempusdominus-bootstrap-4.min.css")
  link(rel="stylesheet" href="https://cdn2.rebbl.net/styles/font-awesome.css")
  

block scripts
  script(src="https://cdn2.rebbl.net/scripts/moment.min.js")
  script(src="https://cdn2.rebbl.net/scripts/moment-timezone.min.js")
  script(src="https://cdn2.rebbl.net/scripts/moment-timezone-with-data-2012-2022.min.js")
  script(src="https://cdn2.rebbl.net/scripts/tempusdominus-bootstrap-4.min.js")


  - if(user)
    script.
      $(document).ready(function(){

        function formatDate(date) {
          const dateFormat = "YYYYMMDDTHHmmss[Z]";
          return date.format(dateFormat);
        }

        function calculateEndDatetime(startDatetime) {
          return formatDate(startDatetime.add(2, "h"));
        }

        function setCalendarDatetime() {
          $.each($('.calendar-add'), (idx, anchor) => {
            const $anchor = $(anchor);
            const picker = $anchor.parent().siblings().find('.datetimepicker-input')[0];

            let timezone = "#{user.timezone}" || moment.tz.guess();
            const date =  $(picker).val()
            let matchDate = moment.tz(date, timezone).tz("UTC");

            if(date) {
              $anchor.show();
            } else {
              $anchor.hide();
            }


            //give times in UTC and let google handle the tz magic
            $anchor.attr("href", `http://www.google.com/calendar/event?action=TEMPLATE&text=${encodeURIComponent(`REBBL ${$anchor.data('team-home')} - ${$anchor.data('team-away')}`)}&dates=${formatDate(matchDate)}/${calculateEndDatetime(matchDate)}`);
          })
        }


        let timezones = $(".timezone");

        timezones.each(function(zone){
          if ($(timezones[zone]).text().length > 0)
            $(timezones[zone]).find(".time").text(moment().tz($(timezones[zone]).text()).format('YYYY-MM-DD HH:mm ZZ'));
        });

        $(".btn").on("click", function(event){
          let id = event.currentTarget.getAttribute("data-contestid");
          let target =event.currentTarget.getAttribute("data-target");
          
          var xhr = new XMLHttpRequest();
          xhr.open("PUT", "/account/unplayed/"+id, true)
          xhr.setRequestHeader("Content-Type", "application/json");

          let timezone = "#{user.timezone}" || moment.tz.guess();
          
          let btn = $(this);
          xhr.onreadystatechange = function() {//Call a function when the state changes.
              if(this.readyState == XMLHttpRequest.DONE && this.status == 200) {
                  btn.removeClass("btn-primary").addClass("btn-success");
                  btn.prop("disabled",true);
                  setTimeout(function(btn){
                      btn.addClass("btn-secondary");
                      btn.removeClass("btn-success");
                  },1500,btn )
              }
              if(this.readyState == XMLHttpRequest.DONE && this.status == 403) {
                  btn.removeClass("btn-primary").addClass("btn-danger");
                  btn.prop("disabled",true);
              }
          }

          let date = $(target).val();

          if(date) {
            date = moment.tz(date, timezone).tz("UTC").format("YYYY-MM-DD HH:mm");
          }

          setCalendarDatetime();
           
          xhr.send(JSON.stringify({date: date}));

        });
        
        let timezone = "#{user.timezone}" || moment.tz.guess();  
        $(".datetimepicker-input").each(function() {
          if($(this).val())
            $(this).datetimepicker({format: "YYYY-MM-DD HH:mm", date: moment.tz($(this).val(),"UTC").tz(moment.tz.guess()), useCurrent:false});
          else
            $(this).datetimepicker({format: "YYYY-MM-DD HH:mm", useCurrent:true});

          $(this).on("change.datetimepicker", function(e){
             let btn =e.currentTarget.getAttribute("data-btn");

             $(btn).removeClass("btn-secondary")
             $(btn).addClass("btn-primary");
             $(btn).removeAttr("disabled");
          })  
        });

        setCalendarDatetime();
      });  
  - if (!user)
    script.
      $(document).ready(function(){
        let timezones = $(".timezone");
        timezones.each(function(zone){
          if (zone) $(timezones[zone]).find(".time").text(moment().tz($(timezones[zone]).text()).format('YYYY-MM-DD HH:mm ZZ'));
        });

        let time = $("#matchTime").text();
        $("#matchTime").text(moment.tz(time,"UTC").tz(moment.tz.guess()).format('YYYY-MM-DD HH:mm ZZ')); 

      });  
block content
  for match in matches
    div(class="container h-100")    
      div(class="row justify-content-center")
        div(class="row col-12 justify-content-center")
          h2= match.competition + " - week " + match.round
          div(class="row col-10 justify-content-center")
            - if(user)
              span Enter match date in your own local time
              div(class="row col-12 justify-content-center") 
                div(class="col-3 col-sm-6 col-md-4 col-xl-3")
                  input(type="text" class="form-control datetimepicker-input" id=`datetimepicker-${match.contest_id}` data-target=`#datetimepicker-${match.contest_id}` data-toggle="datetimepicker" value=(match.date ? match.date.date : null) data-btn=`#btn-${match.contest_id}`  )
                div(class="col-3 col-sm-6 col-md-4 col-xl-3" style="padding:0;")
                  button(class="btn btn-secondary btn-block" disabled data-contestid= match.contest_id data-target=`#datetimepicker-${match.contest_id}` id=`btn-${match.contest_id}`) Set match date
                  a(href="#" target="_blank" data-date=(match.date ? match.date.date : null) data-team-home=match.opponents[0].team.name data-team-away=match.opponents[1].team.name class="calendar-add") Add to Google Calendar
            - if(!user && match.date)
              p planned match start:&nbsp;
                span(id="matchTime")= match.date.date
              - if(match.date.stream)
                div(class="row col-12 justify-content-center")
                  a(href=match.date.stream.url target="_blank")
                    img(src="/images/glitch.png" style="width:36px;height:36px")
                    span= " " + match.date.stream.name 
      div(class="row justify-content-center align-items-center h-100")
        div(class="col-5 text-right")
          h3
            a(href=`/rebbl/team/${match.opponents[0].team.id}`)= match.opponents[0].team.name
        div(class="col-2 text-center")
          img(src="https://cdn2.rebbl.net/images/logo/logo_" + match.opponents[0].team.logo.toLowerCase() + ".png" alt="" class="TeamLabel-logo")
          span -
          img(src="https://cdn2.rebbl.net/images/logo/logo_" + match.opponents[1].team.logo.toLowerCase() + ".png" alt="" class="TeamLabel-logo")
        div(class="col-5")
          h3 
            a(href=`/rebbl/team/${match.opponents[1].team.id}`)= match.opponents[1].team.name
      div(class="row justify-content-center")
        div(class="col-4 text-right")= match.opponents[0].team.race
        div(class="col-2 text-center") 
          strong race
        div(class="col-4")= match.opponents[1].team.race
      div(class="row justify-content-center")
        -if (match.opponents[0].team.team)
          div(class="col-4 text-right")= match.opponents[0].team.team.nextMatchTV
        -else
          div(class="col-4 text-right")= match.opponents[0].team.value
        div(class="col-2 text-center") 
          strong team value
        -if (match.opponents[1].team.team)
          div(class="col-4")= match.opponents[1].team.team.nextMatchTV
        -else
          div(class="col-4")= match.opponents[1].team.value
      div(class="row justify-content-center")
        -if (match.opponents[0].team.team)
          div(class="col-4 text-right")= Math.floor(match.opponents[0].team.team.cash/1000) + "k"
        -else
          div(class="col-4 text-right") -
        div(class="col-2 text-center") 
          strong cash
        -if (match.opponents[1].team.team)
          div(class="col-4")= Math.floor(match.opponents[1].team.team.cash/1000) + "k"
        -else
          div(class="col-4") -
      div(class="row justify-content-center")
        div(class="col-4 text-right")= match.opponents[0].coach.name
        div(class="col-2 text-center")
          strong coach
        div(class="col-4")= match.opponents[1].coach.name
      div(class="row justify-content-center")
        div(class="col-4 text-right highlight")= "/u/" + (match.opponents[0].coach.reddit ? match.opponents[0].coach.reddit.toLowerCase() :"")
        div(class="col-2 text-center")
          strong reddit
        div(class="col-4 highlight")= "/u/" + (match.opponents[1].coach.reddit ? match.opponents[1].coach.reddit.toLowerCase() : "")
      div(class="row justify-content-center")
        div(class="col-4 text-right")= match.opponents[0].coach.discord
        div(class="col-2 text-center")
          strong discord
        div(class="col-4")= match.opponents[1].coach.discord
      div(class="row justify-content-center")
        div(class="col-4 text-right")= match.opponents[0].coach.steam
        div(class="col-2 text-center")
          strong steam
        div(class="col-4")= match.opponents[1].coach.steam
      div(class="row justify-content-center")
        div(class="col-4 timezone text-right")= match.opponents[0].coach.timezone
          div(class="time")
        div(class="col-2 text-center")
          strong timezone  
          div 
            strong current time
        div(class="col-4 timezone" )= match.opponents[1].coach.timezone
          div(class="time")

