extends .\coach.pug

block append vars
  - var activeSubMenu = "details"
  - var options = {company:company}

block scripts
  script.

    $(document).ready(function(){



      $("#copy").click(function(){
        var copyText = document.getElementById("reddit");
        $("#reddit").prop('disabled',false);
        /* Select the text field */
        copyText.select();

        /* Copy the text inside the text field */
        document.execCommand("copy");
        $("#reddit").prop('disabled',true);

      });

      let input = document.getElementById("timezone");
      $("#tz_info").text(moment().tz(input.value).format('YYYY-MM-DD HH:mm Z'));

    });

block content
  div(class="container")
    - if(coachDetails && coachDetails.roles && coachDetails.roles.indexOf("admin")>-1)
      h1(class="highlight") &nbsp;
        img(style="float:left" src="https://cdn2.rebbl.net/images/skills/StaffMember.png")
        = coachDetails.coach
    - else
      h1(class="highlight")= coachDetails  ? coachDetails.coach : name
    h3 Contact Data
    div
      label(for="coach") Blood Bowl 2 coach name
      input(type="text" id="coach" name="coach" value=(coachDetails ? coachDetails.coach : name)  disabled)
    - if(coachDetails)  
      div
        label(for="coach") Reddit
        input(type="text" id="reddit" name="coach" value="/u/" + coachDetails.reddit.toLowerCase()  disabled)
        span(id="copy" title="copy to clipboard" style="cursor:pointer")= '📋'
      div
        label(for="timezone") Timezone
        input(id="timezone" name="timezone" disabled title="timezone" value=coachDetails.timezone)
        label(id="tz_info")
      div
        label(for="discord") Discord
        input(type="text" id="discord" name="discord" value=coachDetails.discord  disabled)
      div
        label(for="steam") Steam
        input(type="text" id="steam" name="steam" value=coachDetails.steam disabled)
      br
      br
