extends .\coach.pug 

block append vars
  - var activeSubMenu = "teams"
  - var options = {company:company}

block content
  div(class="Background u-bottomPadding--large u-topPadding--medium")
    div(class="/*TexturedBackground TexturedBackground--light-primary*/")
      div(class="container navcontainer" style="display:flex;flex-flow:wrap" data-index="0")
        each team, index in teams.sort(function(a,b){return a.team.id > b.team.id ? -1 :1})
          - let name = team.team.name.toLowerCase()
          - let show = name.indexOf("admin") === -1 && name.indexOf("bye week") === -1  
          - if(show)
            div(class="card" style="width: 18rem;")
              -if (team.team.name.indexOf("[colour") === 0)
                h5(class="card-text text-center" style="color: rgb(24, 119, 162)" )= team.team.name.substr(19, team.team.name.length-17)
              - else
                h5(class="card-text text-center" style="color: rgb(24, 119, 162)")= team.team.name
              img(src=`https://cdn2.rebbl.net/images/logo/256x256/logo_${team.team.logo.toLowerCase()}.png` class="card-img-top" alt="...")
              div(class="card-body")
                div
                  p(style="margin:0")= `TV${team.team.value}`  
                  -if (team.stats)
                    p(style="margin:0")= `touchdowns ${team.stats.inflictedtouchdowns} / ${team.stats.sustainedtouchdowns}`
                    p(style="margin:0")= `deaths ${team.stats.inflicteddead} / ${team.stats.sustaineddead}` 
                i=team.team.leitmotiv
                a(style="    position: absolute;bottom: 10px;right: 10px;font-size: 2em;" href="/rebbl/team/" + team.team.id)
                  i(class="fa fa-arrow-circle-right")


