extends layout.pug
include functions.pug


block append vars
  -
    let options = {company:company}
    
block scripts 
  script.
    const toggleStats = function(id){
      console.log("ok");
      const e = document.getElementById(`table-${id}`);
      const sw = e.querySelector("input[type='checkbox']");
      
      if (sw.checked) {
        [...e.querySelectorAll("[data-type='match']")].map(x => x.classList.add('d-none'));
        [...e.querySelectorAll("[data-type='stats']")].map(x => x.classList.remove('d-none'));
      } else {
        [...e.querySelectorAll("[data-type='match']")].map(x => x.classList.remove('d-none'));
        [...e.querySelectorAll("[data-type='stats']")].map(x => x.classList.add('d-none'));
      }
    }

block head 
  style.
    table img {width: 40px;height: 40px;}    
    .table > :not(caption) > * > * {background-color:unset !important; border-bottom-width:0 !important}
    .table > * > * > td {max-height:40px;padding:0px;min-height:40px;}
    .even {background-color:var(--bs-table-striped-bg)!important}

block main
  .container
    .row
      .col-12.text-center
        h3= match.competition.name
    .row.g-0
      .col-4.row.g-0
        .col-4
          div: img.img-fluid(src=`https://cdn.rebbl.net/images/bb3/Logos/${match.homeTeam.logo.icon}` alt="" class="TeamLabel-logo")
        .col-8.text-end
            div
              a.fs-4(href=`/team/${match.homeTeam.id}` )= match.homeTeam.name
            div
              a.fs-4(href=`/profile/${match.homeGamer.id}`)= match.homeGamer.name
            div.fs-4= "Fairweather fans: " + (match.homeGameResultGain.fanAttendanceRoll * 1000)
            - let homeFans = Number(match.homeGameResultGain.newDedicatedFans) - Number(match.homeGameResultGain.previousDedicatedFans)
            - if (homeFans != 0)
              div.fs-4(title=`previous: ${match.homeGameResultGain.previousDedicatedFans}`)= match.homeGameResultGain.newDedicatedFans + " Dedicated Fans " + (homeFans > 0 ? `(+${homeFans})` : `(${homeFans})`)
            -else 
              div.fs-4(title=`previous: ${match.homeGameResultGain.previousDedicatedFans}`)= match.homeGameResultGain.newDedicatedFans + " Dedicated Fans"
      .col-4.text-center 
        if !match.released 
          .col-12(style="justify-content: end;padding: 0px;background-color: unset;}")
            span.fs-4.badge.text-bg-warning unreleased

        span
          if match.homeScore > match.awayScore
            span.fs-2(class="MatchStatus-score is-winner")= match.homeScore
            span.fs-2(class="MatchStatus-score") -
            span.fs-2(class="MatchStatus-score")= match.awayScore
          else if match.awayScore > match.homeScore
            span.fs-2(class="MatchStatus-score")= match.homeScore
            span.fs-2(class="MatchStatus-score") -
            span.fs-2(class="MatchStatus-score is-winner")= match.awayScore
          else
            span.fs-2(class="MatchStatus-score")= match.homeScore
            span.fs-2(class="MatchStatus-score") -
            span.fs-2(class="MatchStatus-score")= match.awayScore
        if (match.replayFile)
          .col-12
            a(href=`https://replays.rebbl.net/bb3/${match.replayFile}`)
              img(src=`https://cdn.rebbl.net/images/Rare.png` style="height:60px" alt="Download replay" title="Download replay")


      .col-4.row.g-0
        .col-8
          div
            a.fs-4(href=`/team/${match.awayTeam.id}` )= match.awayTeam.name
          div
            a.fs-4(href=`/profile/${match.awayGamer.id}`)= match.awayGamer.name
          div.fs-4= "Fairweather fans: " + (match.awayGameResultGain.fanAttendanceRoll * 1000)
          - let awayFans = Number(match.awayGameResultGain.newDedicatedFans) - Number(match.awayGameResultGain.previousDedicatedFans)
          - if ( awayFans != 0)
            div.fs-4(title=`previous: ${match.awayGameResultGain.previousDedicatedFans}`)= match.awayGameResultGain.newDedicatedFans + " Dedicated Fans " + (awayFans > 0 ? `(+${awayFans})` : `(${awayFans})`)
          -else 
            div.fs-4(title=`previous: ${match.awayGameResultGain.previousDedicatedFans}`)= match.awayGameResultGain.newDedicatedFans + " Dedicated Fans"
        .col-4
          div: img.img-fluid(src=`https://cdn.rebbl.net/images/bb3/Logos/${match.awayTeam.logo.icon}` alt="" class="TeamLabel-logo")
    .row
      .col-12 &nbsp;

    //.row
      if match.homeHasConceded == "0" && match.awayHasConceded == "0"
        .col-12
          br
        .col-12.d-flex
          table.table.table-dark
            thead 
              tr 
                th statistic 
                th= match.homeTeam.name
                th= match.awayTeam.name

            tbody
              tr
                td Team value
                td= match.homeTeam.value
                td= match.awayTeam.value
          table.table.table-dark
            thead 
              tr 
                th statistic 
                th= match.homeTeam.name
                th= match.awayTeam.name

            tbody
              tr
                td &nbsp;
                td &nbsp;
                td &nbsp;
              - const collator = new Intl.Collator(undefined, {numeric: true, sensitivity: "base"});
    .row
      - match.homeTeam.mvp = match.homeMvp
      - match.awayTeam.mvp = match.awayMvp
      hr
      - match.homeTeam.coach = match.homeGamer 
      - match.awayTeam.coach = match.awayGamer 
      each team in [match.homeTeam, match.awayTeam]
        table.table.table-dark.table-striped(id=`table-${team.id}`)
          include matchTeam.pug
