
extends layout.pug

block vars
  - page = "profile"



block head
  style.
    .backdrop{max-width: 210px;padding: 0px;position: relative;overflow: clip;}
    .backdrop.mini{max-width:135px;max-height: 135px;}
    .backdrop.common{background-color: #00FF34;}
    .backdrop.uncommon{background-color: #00E5FF;}
    .backdrop.rare{background-color: #00E5FF;}
    .backdrop.epic{background-color: #7F00FF;}
    .backdrop.legendary{background-color: #FF7E00;}
    .highlight{height: 210px;overflow: clip;}
    .highlight.mini{height: 135px;}
    .highlight.common{opacity:0.6}
    .highlight.uncommon{opacity:0.6}
    .highlight.rare{opacity:0.6}
    .highlight.epic{opacity:0.4}
    .highlight.legendary{opacity:0.4}
    .image{width:210px;position: absolute;top: 0px;left: 0px;}
    .price{color: #48ec2a;font-weight: bold;vertical-align:middle}

    .followed {
      width: 32px;
      height: 32px;
      background: url('/images/sprite_check_32.png') left center;
      animation: play .25s steps(5) 1;
      animation-fill-mode: forwards;
    }

    .unfollowed {
      width: 32px;
      height: 32px;
      background: url('/images/sprite_check_32.png') left center;
      animation: play .25s steps(6) 1;
      animation-fill-mode: forwards;
      animation-direction:reverse;
    }

    @keyframes play {from { background-position-x: 0px;} to {background-position-x: -160px;}}    

    .item .show-on-hover {
      visibility: hidden;
    }
    .item:hover .show-on-hover {
      visibility: visible;
    }
    .hidden {
     display:none;
    }

    .card {
        margin-bottom: 30px;
    }
    .form-image{
      width: 38px;
      background-color: var(--bs-tertiary-bg);
      border: var(--bs-border-width) solid var(--bs-border-color);
      border-radius: var(--bs-border-radius);
      margin-bottom: 0px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .headerImg{
      background-image: URL("/images/BB3_hero_Standard.webp");
      height: 300px;
      background-position-x: -125px;
      background-position-y: -75px;      
    }

    h1{
      color: var(--bs-heading-color);
    }


block main 
  main.container
    .card.overflow-hidden.g-0
      .card-body.p-0
        .headerImg
        .row.align-items-center(style="background-color:#e3e3e3")
          .col-lg-4.order-lg-1.order-1
            //.d-flex.align-items-center.justify-content-around.m-4
              .text-center
                i.fa.fa-file.fs-6.d-block.mb-2
                h4.mb-0.fw-semibold.lh-1 938
                p.mb-0.fs-4 Posts
              .text-center
                i.fa.fa-user.fs-6.d-block.mb-2
                h4.mb-0.fw-semibold.lh-1 3,586
                p.mb-0.fs-4 Followers
              .text-center
                i.fa.fa-check.fs-6.d-block.mb-2
                h4.mb-0.fw-semibold.lh-1 2,659
                p.mb-0.fs-4 Following                

          .col-lg-4.order-lg-1.order-1.text-center
            .text-left
              h1.bold.m-2= account.zflCoachName
          .col-lg-4.order-lg-1.order-1
            ul.list-unstyled.d-flex.align-items-center.justify-content-center.justify-content-lg-end.my-3.gap-3.me-3
              //li.position-relative
                a.text-white.d-flex.align-items-center.justify-content-center.bg-primary.p-2.fs-4.rounded-circle(href='javascript:void(0)' width='30' height='30')
                  i.fa.fa-facebook
              //li.position-relative
                a.text-white.bg-secondary.d-flex.align-items-center.justify-content-center.p-2.fs-4.rounded-circle(href='javascript:void(0)')
                  i.fa.fa-twitter
              //li.position-relative
                a.text-white.bg-secondary.d-flex.align-items-center.justify-content-center.p-2.fs-4.rounded-circle(href='javascript:void(0)')
                  i.fa.fa-dribbble
              //li.position-relative
                a.text-white.bg-danger.d-flex.align-items-center.justify-content-center.p-2.fs-4.rounded-circle(href='javascript:void(0)')
                  i.fa.fa-youtube


    #pills-tabContent.tab-content
      #pills-profile.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-profile-tab' tabindex='0')
        .row
          .col-lg-4
            .card.shadow-none.border
              .card-body
                h4.fw-semibold.mb-3 Bio
                each paragraph of account.bio.split("\n\n")
                  p#bioBio= paragraph
                ul.list-unstyled.mb-0
                  li.d-flex.align-items-center.gap-3.mb-4
                    i.fa.fa-briefcase.text-dark.fs-6
                    h6#bioCoachName.fs-4.fw-semibold.mb-0= account.zflCoachName
          .col-lg-8
            - if (team)
              - if (!team.kit) team.kit = {homeKit1:"#ffffff", homeKit2: "#ffffff", homeKit3: "#ffffff", awayKit1:"#ffffff", awayKit2: "#ffffff", awayKit3: "#ffffff"}
              .card.shadow-none.border
                .card-body
                  .row
                    .col
                      h3= team.name
                      .row.mb-3
                        .col
                          span#bb3coachSelectLabel home kit colours
                          .col#away1(style="padding: 15px;width: 90px;background-color:"+team.kit.homeKit1) 
                            .col#away2(style="padding: 15px;background-color:"+team.kit.homeKit2) 
                              .col#away3(style="background-color:"+team.kit.homeKit3) &nbsp;

                        .col
                          span#bb3coachSelectLabel away kit colours
                          .col#away1(style="padding: 15px;width: 90px;background-color:"+team.kit.awayKit1) 
                            .col#away2(style="padding: 15px;background-color:"+team.kit.awayKit2) 
                              .col#away3(style="background-color:"+team.kit.awayKit3) &nbsp;
                    .col-1
                      img.float-end(src=`https://cdn.rebbl.net/images/bb3/Logos/${team.logo.icon}` class="align-top" style="height:150px")
            .card.shadow-none.border
              .card-body
                .row.align-items-center 
                  .input-group
                    span.input-group-text BB3 Coach Name
                    input.form-control(type="text" id="coachName" value=account.coach ? account.coach.name : "" disabled)



