extends layout.pug

block vars 
  - let page ="standings"

include functions.pug

block head
  style.
    h2{margin-top:0px;margin-bottom:0px;margin-right:15px}
    .card{width: 12rem;}

    .table > :not(caption) > * > * {padding:0px !important;}
    td > * >  img {max-height:64px}
block main
  .container
    each competition of competitions
      h1= competition.name
      table.table.table-dark
        thead 
          th
          th.align-middle.text-start coach 
          th.align-middle.text-start faction 
          th.align-middle.text-center played 
          th.align-middle.text-center wins 
          th.align-middle.text-center draws 
          th.align-middle.text-center losses 
          th.align-middle.text-center TD+
          th.align-middle.text-center TD-
          th.align-middle.text-center TD diff
          th.align-middle.text-center points
      
        tbody
          each entry of competition.standings 
            tr 
              td 
                a(href=`/team/${entry.id}` target="_blank")
                  img(src=`images/zfl/${entry.logo}` style= "padding:0px")
              - let account = accounts.find(x => x.teamId == entry.id)
              - if (account)
                td.align-middle.text-start.fw-bold.fs-4
                  a.link-underline.link-underline-opacity-0(href=`/profile/${entry.coach.id}`)= account.zflCoachName || entry.coach.name
              - else
                td.align-middle.text-start.fw-bold.fs-4= entry.coach.name
              td.align-middle.text-start.fw-bold.fs-4= getRace(entry.race)
              td.align-middle.text-center= entry.games 
              td.align-middle.text-center= entry.wins 
              td.align-middle.text-center= entry.draws 
              td.align-middle.text-center= entry.losses 
              td.align-middle.text-center= entry.tdFor
              td.align-middle.text-center= entry.tdAgainst
              td.align-middle.text-center= entry.tdDiff
              td.align-middle.text-center.fs-3= entry.points
            