extends layout.pug

block vars
  -
    let options = {company:"Team"}
    let page ="team"

include functions.pug

block head 
  style.
    .col-12 table img {width: 40px;height: 40px;}
    .silhouette-shadow{
      filter: drop-shadow(0px 0px 1px black);
    }

block main
  .container-fluid.px-5
    .col-12.d-flex.flex-wrap.align-items-center.px-5
      img(src=`https://cdn.rebbl.net/images/bb3/Logos/${team.logo.icon}` class="align-top" style="height:100px")
      span(class="h1")=team.name
      .row.col-12
        h3(style="margin-top: 0px;")
          i= team.motto
    .clearfix
    .row(style="margin-left:0px").px-5
      .col-md-2.col-4
        strong=`Current TV: ${team.value}`
      .col-md-2.col-4
        strong=`Cash: ${team.treasury}`
      .col-md-2.col-4
        - if (isAdmin)
          strong admin 
          select#adminId(name="" value=team.admin ? team.admin.id : null onchange="onValueChange()")
            -if (!team.admin)
              option(selected disabled) choose admin
            each admin of admins.sort((a,b) => a.coach.name > b.coach.name)  
              - if (team.admin)
                option(value=admin.coach.id selected=admin.coach.id == team.admin.id && 'selected' )= admin.coach.name
              - else
                option(value=admin.coach.id )= admin.coach.name
        - else if (team.admin)
          strong=`admin: ${team.admin.name}`

    br
    nav.col-12.px-5
      .nav.nav-tabs.bg-dark(data-bs-theme="dark" id="nav-tab" role="tablist")
        a.nav-item.nav-link.active(id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Players
        //a(class="nav-item nav-link" id="nav-matches-tab" data-bs-toggle="tab" href="#nav-matches" role="tab" aria-controls="nav-matches" aria-selected="false" data-bind="click:selectMatches") Matches
    - let teamPositions = [...new Set(team.roster.map(x => x.player.position))]
    - let borders = ["border-success","border-warning","border-primary","border-light","border-info","border-secondary"]  
    .tab-content.tab-dark#tabContent.px-5
      .tab-pane.fade.col-12.show.active.table-responsive-md#nav-home(role="tabpanel" aria-labelledby="nav-home-tab")
        table.table.table-striped.table-dark
            thead.headerText
              tr
                th(scope="col") #
                th(scope="col") name
                th(scope="col") position
                th(scope="col") MA
                th(scope="col") ST
                th(scope="col") AG
                th(scope="col") PA
                th(scope="col") AV
                th(scope="col" style="min-width:160px") Skills
                th(scope="col") CAS
                th(scope="col") SPP
                th(scope="col") Value
            tbody
              - for(let player of team.roster)
                tr(class=Number(player.player.missNextGame)==1?"player-out":"player-in") 
                  td=player.player.number
                  td
                    div
                      - if (player.player.id)
                        img(src=`https://cdn.rebbl.net/images/skills/${player.player.level}.png` alt="", class="TeamLabel-logo" style="width:30px;margin-right:2px;height:30px;float:left;")
                      - else if (player.player.type.startsWith("neutral_")) 
                        img(src=`https://cdn.rebbl.net/images/bb3/hud_inducement_Starplayer.player.png` alt="", class="TeamLabel-logo" style="width:30px;margin-right:2px;height:30px;float:left;")
                      - else
                        img(src=`https://cdn.rebbl.net/images/bb3/hud_mercenary_tile_picto_mercenary.png` alt="", class="TeamLabel-logo" style="width:30px;margin-right:2px;height:30px;float:left;")
                      .match-stats-TeamLabel-name=player.player.name

                  td
                    img(src=getSilhouette(player.player.position) title=player.player.type class=`silhouette-shadow border border-3 rounded-pill ${borders[teamPositions.indexOf(player.player.position)]}`)
                  - let c = player.player.characteristics.playerCharacteristicsEntry.find(x=>x.characteristic==0)
                  td= c.value
                  - c = player.player.characteristics.playerCharacteristicsEntry.find(x=>x.characteristic==1)
                  td= c.value
                  - c = player.player.characteristics.playerCharacteristicsEntry.find(x=>x.characteristic==2)
                  td= c.value
                  - c = player.player.characteristics.playerCharacteristicsEntry.find(x=>x.characteristic==3)
                  td=  c ? c.value : "-"
                  - c = player.player.characteristics.playerCharacteristicsEntry.find(x=>x.characteristic==4)
                  td= c.value
                  td(class="td-prevent")
                    - if (!player.player.skills.skillsItem) player.player.skills = {skillsItem:[]}
                    - if (!Array.isArray(player.player.skills.skillsItem)) player.player.skills.skillsItem = [player.player.skills.skillsItem]
                    - for(let skill of player.player.skills.skillsItem)
                      - let s = skills.find(x => x.id == skill)
                      - if (s)
                        img(src=`https://cdn.rebbl.net/images/skills/${user && user.icon ? user.icon : "BB3Standard"}/${s.icon}` title=s.name.replace(/([A-Z])/g, ' $1').trim() alt="" style="z-index:9999" )
                  td.pull-right
                    - if (player.player.casualties.casualtiesItem)
                      - if (!Array.isArray(player.player.casualties.casualtiesItem)) player.player.casualties.casualtiesItem = [player.player.casualties.casualtiesItem]
                      each cas in player.player.casualties.casualtiesItem
                        -let d = getPlayerCasualtyIcon(cas)[0]
                        if d
                          img(src=`https://cdn.rebbl.net/images/bb3/Icons_Casualty/${d}`)
                      if player.player.missNextGame == "1"
                          img(src=`https://cdn.rebbl.net/images/bb3/Icons_Casualty/ico_action_recovering.png`)

                  td=player.player.spp
                  td(data-bind="text:value")=player.player.value
block scripts 
  script.
    async function onValueChange(admin){
      const e = document.getElementById("adminId");

      console.log(`/api/team/#{team.id}/admin/${e.value}`)

      const response = await fetch(`/api/team/#{team.id}/admin/${e.value}`,{
        method:'PATCH',
        headers:{'Content-Type': 'application/json'},
      });

    }