script.
  class TeamModel extends Tracking{
    constructor(data){
      super(() => new TeamModel(this),['returningPlayers','newPlayer','returningPlayer','skillingPlayer','skillModel']);
      this.map(data || {});
       
      this._reset = () => this.map(data);
      this.isDirty.bind(this);
      this.commit.bind(this);
      
      ko.track(this);
      ko.getObservable(this, 'coach').subscribe(this.onCoachChange.bind(this));
      if (this.isReturningTeam) this.getReturningTeam(this.coach);
    }
    map(data){
      this.skillModel = new SkillModel();

      data.roster?.forEach(x => x.skillModel = this.skillModel);
      this.roster = data.roster?.map(x => new PlayerModel(x)) ||[];
      this.fanfactor = data.fanfactor || 5;
      this.rerolls = data.rerolls || 0;
      this.coaches = data.coaches || 0;
      this.cheerleaders = data.cheerleaders || 0;
      this.apothecary = data.apothecary || false;
      this.id = data.id || 0;
      this.name = data.name || '';
      this.race = data.race || undefined;
      this.coach = data.coach || '';
      this.value = data.value || 0;
      this.cost = data.cost || 0;
      this.tier = data.tier || 0;
      this.isReturningTeam = data.isReturningTeam || false;
      
      this.isNewBloodTeam = data.isNewBloodTeam || false;
      this.isNewBloodOk = data.isNewBloodOk || false;
      this.newBloodValidationData = null;
      this.newBloodValidationError = null;

      this.returningTeam = data.returningTeam ||null;
      this.returningPlayers = [];
      this.returningPlayer = new PlayerModel();
      this.newPlayer = new PlayerModel();
      this.skillingPlayer = new PlayerModel();

      this.skillModel.tier = this.teamTier;
      this.skillModel.race = this.race;

      this.proceedDisabled = false;
    }
    isTeamOwner = () => this.coach === me.coach;
    toggleApo = () => this.apothecary = !this.apothecary;
    toggleReturning = async () => {
      this.isReturningTeam = !this.isReturningTeam;
      if (!this.isReturningTeam) this.returningTeam = null;
      else await this.getReturningTeam(this.coach);
    } 
    subTotalRerolls = () => this.rerolls * this.rerollCost() + (Number(this.cheerleaders) + Number(this.coaches) + Math.max(Number(this.fanfactor) - 5,0)) * 10000 + (this.apothecary ? 50000 : 0);
    rerollCost = () => this.race ? this.race.reroll : 50000;
    playerCost = () => this.roster.reduce((p,c) => p + c.cost() ,0);
    hasLegacyPlayer = () => this.roster.some(player => player.id > 0);
    positions = () => {
      if (!this.race || this.roster.length >= 16) return [];

      const types = this.race.positions;// playerTypes.filter(x => x.race === this.race.id).sort((a,b) => a > b);
      console.dir(types);
      return types.filter(t => this.roster.filter(x => x.playerType.data === t.data).length < t.max);
    }
    availableReturningPlayers = () => {
      if (this.isNewBloodTeam) {
        if (this.returningTeam?.race?.id !== this.race?.id) return [];
        const players = this.roster.filter(x => this.returningPlayers.find(p => p.id === x.id));
        if (players.length === 0 ) return this.returningPlayers;
        return [];
      }  
      
      if (this.roster.length < 16) return this.returningPlayers.filter(x => !this.roster.find(p => p.id === x.id)) 
      
      return [];
    };
    teamValue = () => this.playerCost() + this.subTotalRerolls() + (this.fanfactor < 5 ? this.fanfactor * 10000  : 50000);
    teamCost = () => this.playerCost() + this.subTotalRerolls();
    teamTax = () => TierTax.find(x => x.race === this.race?.name)?.cost || 0;
    teamTier = () => TierTax.find(x => x.race === this.race?.name)?.tier;
    teamTotal = () => this.teamCost() + this.teamTax();

    isTeamCostValid = () => this.isNewBloodTeam ?  this.teamTotal() >= this.returningTeam.teamTotal() : this.teamCost() >= this.teamTier() < 7 ? 1_200_000 : 900_000;

    targetTeamCost = () =>  this.isNewBloodTeam ? (this.returningTeam.teamCost() - this.teamTax()) : this.teamTier() < 7 ? 1_200_000 : 900_000;

    sppSurplus = () => this.roster.reduce((p,c) => p+c.sppSurplus,0);
    spentSPP = () => this.roster.reduce((p,c) => p+c.spentSPP,0);
    onCoachChange = (coach) => this.getReturningTeam(coach).then (t => t);
    isPlayerEligable = (player) => this.sppSurplus() - player.sppSurplus - this.spentSPP() >= player.nextLevelSPP;
    hasTraded = () => this.roster.some(player => player.spentSPP >0);

    async getReturningTeam (coach){
      if (!this.isReturningTeam) return;
      if (!coach) return;

      if (!this.returningTeam){
        let response = await fetch(`/api/v2/clan/build/coach/team?coach=${encodeURIComponent(coach)}`);
        if (!response.ok) return;
    
        this.returningTeam = await response.json();
        this.race = races.find(x => x.id === this.returningTeam.raceId);
      }
    
      let response = await fetch(`/api/v2/clan/build/team/${this.returningTeam?.id}/players`);
      if (!response.ok) return;

      const returningPlayers = await response.json();
      returningPlayers.forEach(x => x.playerType = playerTypes.find(pt => pt.type === x.type));
      returningPlayers.forEach(x => x.fixedSkills = skills[x.type]);
      this.returningPlayers = returningPlayers.map(x => new PlayerModel(x));
      return true;
    }

    superstarPlayerTax(player) {
      const base = this.isNewBloodTeam && this.hasLegacyPlayer() ? 2 : 1;

      if (player.isSkilled()) return base * 10_000;
      return (base + this.roster.filter(x => x.isSuperstar()).indexOf(player)) * 10_000;
    }

    statIncreaseCount = () => this.roster.filter(x => x.hasIncrease()).length;
    doublesCount = () => this.roster.filter(x => x.hasDouble()).length;

    addPlayer () {
      this.roster.push(new PlayerModel({
        name: this.newPlayer.name,
        playerType: this.newPlayer.playerType,
        fixedSkills : skills[this.newPlayer.playerType.type],
        tier: this.teamTier(),
        skillModel: this.skillModel
      }));
      this.newPlayer.playerType = '';
      this.newPlayer.name = '';
    }
    isDouble = (player,skill) => player.playerType.affinities.secondary.includes(SkillDescriptions.find(x => x.name === skill)?.category ||'');
    isIncrease =  (skill) => SkillDescriptions.filter(x => x.category == 'Increase').map(x => x.name).includes(skill);

    addReturningPlayer () {
      this.roster.push(this.returningPlayer);
      const player = this.returningPlayer;
      if (this.isNewBloodTeam) {
        for(let skill of player.skills){
          if (player.fixedSkills.indexOf(skill)>-1) continue;
          if (!this.isDouble(player,skill) && !this.isIncrease(skill)) return;
          if (this.isDouble(player,skill)) this.skillModel.doubleSkills++;
          switch(SkillDescriptions.find(x => x.name === skill).category){
            case 'Increase':
              this.skillModel.statsIncreases.push(skill);
              break;
            case 'General':
              this.skillModel.doubleGeneralSkills.push(skill);
              break;
            case 'Agility':
              this.skillModel.doubleAgilitySkills.push(skill);
              break;
            case 'Passing':
              this.skillModel.doublePassingSkills.push(skill);
              break;
            case 'Strength':
              this.skillModel.doubleStrengthSkills.push(skill);
              break;
            case 'Mutation':
              this.skillModel.doubleMutationSkills.push(skill);
              break;
          }
          /*
            Special race rules:
            Undead may only buy 1 double OR 1 statistic on one of their Mummies.
            Ogres may take either 3 doubles, or 1 double AND 1 statistic, on their Ogres.
          */
          switch (player.playerType.type){
            case 'Undead_Mummy':
              if (this.isDouble(player,skill) || this.isIncrease(skill) ) this.skillModel.mummyDoubleCount++;
              break;
            case 'Ogre_Ogre':
              if (this.isDouble(player,skill) ) this.skillModel.ogreDoubleCount++;
              else if (this.isIncrease(skill) ) this.skillModel.ogreStatsCount++;
              break;
          }   
        }       
      }
    }

    removePlayer (player){
      this.roster.splice(this.roster.indexOf(player),1);
      if (this.isNewBloodTeam && player.id > 0){
        for(let skill of player.skills){
          if (player.fixedSkills.indexOf(skill)>-1) continue;
          if (!this.isDouble(player,skill) && !this.isIncrease(skill)) return;
          if (this.isDouble(player,skill)) this.skillModel.doubleSkills--;
          switch(SkillDescriptions.find(x => x.name === skill).category){
            case 'Increase':
              this.skillModel.statsIncreases.splice(this.skillModel.statsIncreases.indexOf(skill),1);
              break;
            case 'General':
              this.skillModel.doubleGeneralSkills.splice(this.skillModel.doubleGeneralSkills.indexOf(skill),1);
              break;
            case 'Agility':
              this.skillModel.doubleAgilitySkills.splice(this.skillModel.doubleAgilitySkills.indexOf(skill),1);
              break;
            case 'Passing':
              this.skillModel.doublePassingSkills.splice(this.skillModel.doublePassingSkills.indexOf(skill),1);
              break;
            case 'Strength':
              this.skillModel.doubleStrengthSkills.splice(this.skillModel.doubleStrengthSkills.indexOf(skill),1);
              break;
            case 'Mutation':
              this.skillModel.doubleMutationSkills.splice(this.skillModel.doubleMutationSkills.indexOf(skill),1);
              break;
          }
          switch (player.playerType.type){
            case 'Undead_Mummy':
              if (this.isDouble(player,skill) || this.isIncrease(skill) ) this.skillModel.mummyDoubleCount--;
              break;
            case 'Ogre_Ogre':
              if (this.isDouble(player,skill) ) this.skillModel.ogreDoubleCount--;
              else if (this.isIncrease(skill) ) this.skillModel.ogreStatsCount--;
              break;
          }
        }
      }
    }

    showSkillPlayerModal(player){
      this.skillingPlayer = player;
      $('#skillPlayerModal').modal('show');
    }

    async onNewBloodValidateClick(vm, e){
      var context = ko.contextFor(e.target);
      const result = await fetch(`/api/v2/clan/build/${context.$parent.name}/${this.id}/newblood/validate` ,{
        method:'POST',
        headers:{ 'Content-Type': 'application/json'},
        body: JSON.stringify(this)
      });
      if (result.ok) this.isNewBloodOk = true;
      else if (result.status === 400){
        this.newBloodValidationData = await result.json();
      } else {
        this.newBloodValidationError = await result.json();
      }
      if (!result.ok){
        $('#newBloodTeamValidation').modal('show');
      }
    }

    async useNewBlood(vm, e){
      this.newBloodValidationData = null;
      this.newBloodValidationError = null;
      $('#newBloodTeam').trigger('click');
      var context = ko.contextFor(e.target);
      const result = await fetch(`/api/v2/clan/build/${context.$parent.name}/${this.id}/newblood` ,{
        method:'POST',
        headers:{ 'Content-Type': 'application/json'},
        body: JSON.stringify(this)
      });
      if (result.ok){
        $('#toast-success-message').text(`New Blood applied successfully.`);
        $('#toast-success').toast('show');
      } else {
        $('#toast-error-message').text(`Something went wrong applying new blood.`);
        $('#toast-error').toast('show');
      }
    }

    onShowModalClick(){
      $('#newBloodTeam').modal('show');
    }

    async skillPlayer (vm, e){
      this.proceedDisabled = true;
      var context = ko.contextFor(e.target);
      this.commit();
      const data = this.clone();
      delete data._original;
      delete data.excludeFields;
      delete data.returningPlayers;
      delete data.returningPlayer; 
      delete data.skillingPlayer;
      delete data.newPlayer;
      delete data.skillModel; 
      data.roster.forEach(n => delete n.skillModel);      
      context.$root.skilling = true;
      await fetch(`/api/v2/clan/build/${context.$parent.name}/${this.id}/skill` ,{
        method:'PUT',
        headers:{ 'Content-Type': 'application/json'},
        body: JSON.stringify(data)
      });

      const result = await fetch(`/api/v2/clan/build/${context.$parent.name}/${this.id}/skill` ,{
        method:'POST',
        headers:{ 'Content-Type': 'application/json'},
        body: JSON.stringify(this.skillingPlayer)
      });
      const player = await result.json();
      if (result.ok){
        $('#toast-success-message').text(`Player skilled successfully`);
        $('#toast-success').toast('show');
        var index = this.roster.findIndex(x => x.id === player.id);
        player.skillModel = this.skillModel;
        player.skillModel.tier = this.teamTier;
        player.skillModel.race = this.race;

        this.roster[index] = new PlayerModel(player);
      } else {
        $('#toast-error-message').text(`Skill failed: ${player.error}`);
        $('#toast-error').toast('show');
      }        
      $('#skillPlayerModal').trigger('click');
      this.proceedDisabled = false;
      context.$root.skilling = false;
    }

  }      

