doctype html
html(lang="en")
  head
      meta(name="og:type" content="website") 
      meta(name="og:site_name" content=`${team.coach.name}`  ) 
      meta(name="og:title" content=`${team.team.name} - ${team.team.nextMatchTV}TV`  ) 
      meta(name="og:url" content=`https://rebbl.net/team/${team.team.id}`)
      -if(standing) 
        meta(name="og:description" content=`${standing.competition}: #${standing.position} ${standing.win}-${standing.draw}-${standing.loss} Δ${standing.tddiff}`) 
        meta(name="og:description" content=team.team.leitmotiv) 
      -else
        meta(name="og:description" content=team.team.leitmotiv) 
      meta(name="og:image" content=`https://cdn2.rebbl.net/images/logo/256x256/logo_${team.team.logo.toLowerCase()}.png`) 
  body