
- let levels = [0,0,6,16,31,51,76,176,"*"]
- let playerName = (player.number === 0 ? player.type.split('_')[1].replace(/([A-Z])/g, ' $1') : player.name) + ""
- let playerPos = "" 
- if (player.number > 0)
  - let playerType = player.type.split('_')
  - playerPos  = playerType.length === 3 ? playerType[2].replace(/([A-Z])/g, ' $1') : playerType[1].replace(/([A-Z])/g, ' $1') 
- let playerId = playerPos === "" ? playerName.replace(/ /g,'') : (player.id ? player.id : player.name.replace(/ /g,'')) 
- let cls = (player.active && player.suspended_next_match) ? "player-out" : ""
- let imagePath = "/images/"
- if (process.env.NODE_ENV === 'production')
  - imagePath = `https://cdn.rebbl.net${imagePath}`
tr(class="stats "+cls ) 
  td(data-bs-toggle="collapse" data-bs-target="#"+playerId  aria-expanded="false" aria-controls=""+playerId)= player.number
  td(data-bs-toggle="collapse" data-bs-target="#"+playerId  aria-expanded="false" aria-controls=""+playerId)
    div
      - if( player.xp >= levels[player.level+1] )
        img(src=`${imagePath}level.png` alt="", class="TeamLabel-logo" style="width:30px;margin-right:2px;height:30px;float:left;")
      - else
        img(src=`${imagePath}skills/${player.level}.png` alt="", class="TeamLabel-logo" style="width:30px;margin-right:2px;height:30px;float:left;")
      - if (/\[colour='[0-9A-F]{2}([0-9A-F]{6})']/i.test(playerName))
        div(class="match-stats-TeamLabel-name" style="color:#"+playerName.match(/\[colour='[0-9A-F]{2}([0-9A-F]{6})']/i)[1])= playerName.replace(/\[colour='[0-9A-F]{2}([0-9A-F]{6})']/i,'')
      - else
        div(class="match-stats-TeamLabel-name")= playerName
  td(data-bs-toggle="collapse" data-bs-target="#"+playerId  aria-expanded="false" aria-controls=""+playerId)= playerPos
  td(data-bs-toggle="collapse" data-bs-target="#"+playerId  aria-expanded="false" aria-controls=""+playerId)= player.attributes.ma
  td(data-bs-toggle="collapse" data-bs-target="#"+playerId  aria-expanded="false" aria-controls=""+playerId)= player.attributes.st
  td(data-bs-toggle="collapse" data-bs-target="#"+playerId  aria-expanded="false" aria-controls=""+playerId)= player.attributes.ag
  td(data-bs-toggle="collapse" data-bs-target="#"+playerId  aria-expanded="false" aria-controls=""+playerId)= player.attributes.av
  td(data-bs-toggle="collapse" data-bs-target="#"+playerId  aria-expanded="false" aria-controls=""+playerId)= player.matchplayed
  td(data-bs-toggle="collapse" data-bs-target="#"+playerId  aria-expanded="false" aria-controls=""+playerId)= player.mvp
  td(class="td-prevent")
    - if (player.skills)
      each skill in player.skills
        img(src=`${imagePath}skills/${skill}.png` alt="" title=""+skill.replace(/([A-Z])/g, ' $1').trim() data-bs-toggle="modal" data-bs-target=`#${skill.toLowerCase()}` style="z-index:9999" )
  td(data-bs-toggle="collapse" data-bs-target="#"+playerId  aria-expanded="false" aria-controls=""+playerId)
    -if(player.eic)
      span.badge.badge-success EIC!
    each cas in player.casualties_state
      - let casIcon = bb3 ? `skills/bb3/Icon_Casualty/ico_action_${cas}.png` : `skills/${cas}.png`;
      -if (cas !== "BadlyHurt")
        img(src=`${imagePath}/${casIcon}` alt="" title=""+cas.replace(/([A-Z])/g, ' $1').trim() )
    - if((player.casualties_sustained && player.casualties_sustained[0] === "Dead") &&( player.casualties_state && player.casualties_state.indexOf("Dead") === -1) )    
      img(src=`${imagePath}skills/Dead.png` alt="" title="Dead" )
    - if(player.diceRoll)
      div(title=`rolled: ${new Date(player.diceRoll.date)}, by: ${player.diceRoll.clan}`)
      each dice in player.diceRoll.dice
        div(class="dice dice-"+dice)
  td(data-bs-toggle="collapse" data-bs-target="#"+playerId  aria-expanded="false" aria-controls=""+playerId)= `${player.xp}/${levels[player.level+1]}`    
  td= player.value || 0
include playerstats.pug
        
