tr(class="collapse multi-collapse" id=""+playerId)
  td(colspan="11")
    table 
      thead(class="headerText")
        tr 
          th
          th tackles
          th injuries
          th stuns
          th ko
          th CAS
          th dead
          th running (m)
          th passing (m)
          th passes
          th catch
          th interc.
          th touchdowns
          th surfs
      tbody
        tr
          td inflicted
          td= player.stats ? player.stats.inflictedtackles : 0
          td= player.stats ? player.stats.inflictedinjuries : 0
          td= player.stats ? player.stats.inflictedstuns : 0
          td= player.stats ? player.stats.inflictedko : 0
          td= player.stats ? player.stats.inflictedcasualties : 0
          td= player.stats ? player.stats.inflicteddead : 0
          td= player.stats ? player.stats.inflictedmetersrunning : 0
          td= player.stats ? player.stats.inflictedmeterspassing : 0
          td= player.stats ? player.stats.inflictedpasses : 0
          td= player.stats ? player.stats.inflictedcatches : 0
          td= player.stats ? player.stats.inflictedinterceptions : 0
          td= player.stats ? player.stats.inflictedtouchdowns : 0
          td= player.stats ? player.stats.inflictedpushouts : 0
        tr  
          td sustained
          td= player.stats ? player.stats.sustainedtackles:0
          td= player.stats ? player.stats.sustainedinjuries:0
          td= player.stats ? player.stats.sustainedstuns:0
          td= player.stats ? player.stats.sustainedko:0
          td= player.stats ? player.stats.sustainedcasualties:0
          td= player.stats ? player.stats.sustaineddead:0
          td -
          td -
          td -
          td -
          td= player.stats ? player.stats.sustainedinterceptions:0
          td -
          td -
