extends ../layout.pug



block scripts
  script(src="https://cdn.rebbl.net/scripts/knockout-3.4.2.js")
  script.
    function DateModel() {
        const self = this;
        self.games = ko.observableArray([]);
        self.loading = ko.observable(true);
        self.played = ko.observable(true);
        self.unplayed = ko.observable(true);


        self.filteredDivisions = ko.observableArray([]);
        self.filteredRounds = ko.observableArray([]);

        self.divisions = ko.computed(function(){
          let collator = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});
          return [...new Set(self.games().map(x => x.competition))].sort(collator.compare); 
        });

        self.rounds = ko.computed(function(){
          let collator = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});
          return [...new Set(self.games().map(x => x.round || 2))].sort(collator.compare); 
        });

        self.filteredGames = ko.computed(function(){

          if (self.filteredDivisions().length > 0  && self.filteredRounds().length  > 0){
            return self.games().filter(x => self.filteredDivisions.indexOf(x.competition) > -1
              && self.filteredRounds.indexOf(x.round || 2) > -1
              && ((self.played() && x.status === 2) || (self.unplayed() && x.status === 1 ))        
            );
          }

          if (self.filteredRounds().length  > 0){
            return self.games().filter(x => self.filteredRounds.indexOf(x.round || 2) > -1 
              && ((self.played() && x.status === 2) || (self.unplayed() && x.status === 1 ))        
            );
          }

          if (self.filteredDivisions().length > 0  && self.filteredRounds().length  > 0){

            return self.games().filter(x => self.filteredDivisions.indexOf(x.competition) > -1
              && self.filteredRounds.indexOf(x.round || 2) > -1       
              && ((self.played() && x.status === 2) || (self.unplayed() && x.status === 1 ))        
            );
          }

          if (self.filteredDivisions().length > 0 ){

            return self.games().filter(x => self.filteredDivisions.indexOf(x.competition) > -1
              && ((self.played() && x.status === 2) || (self.unplayed() && x.status === 1 ))        
            );
          }

          if (self.filteredDivisions().length > 0 ){
            return self.games().filter(x => self.filteredDivisions.indexOf(x.competition) > -1
              && ((self.played() && x.status === 2) || (self.unplayed() && x.status === 1 ))        
            );
          }

          if ( self.filteredRounds().length > 0){
            return self.games().filter(x => self.filteredRounds.indexOf(x.round || 2) > -1
              && ((self.played() && x.status === 2) || (self.unplayed() && x.status === 1 ))        
            );
          }

          return self.games().filter(x => (self.played() && x.status === 2) || (self.unplayed() && x.status === 1 ));

        });


        self.toggleDivision= function(d,e){
          self.toggleButton(e);
          let i = self.filteredDivisions.indexOf(d);
          if( i === -1){
            self.filteredDivisions.push(d);
          } else {
            self.filteredDivisions.splice(i,1);  
          }
        }
        self.toggleRound= function(r,e){
          self.toggleButton(e);
          let i = self.filteredRounds.indexOf(r);
          if( i === -1){
            self.filteredRounds.push(r);
          } else {
            self.filteredRounds.splice(i,1);  
          }
        }
        self.togglePlayed= function(r,e){
          self.toggleButton(e);
          self.played(!self.played());
        }        
        self.toggleUnplayed= function(r,e){
          self.toggleButton(e);
          self.unplayed(!self.unplayed());
        }
        self.toggleButton = function(e){
          const toggle = new bootstrap.Button(e.target,{
            toggle:true
          });
          toggle.toggle();          
        }

        //- self.refresh = async function(g){
        //-   await fetch(`/api/v1/admin/unplayed/${g.contest_id}`,{method:"POST"});
        //- }

    }

    const model = new DateModel();

    $(document).ready(async function(){
        ko.applyBindings(model);

        const response = await fetch("/api/v1/admin/unplayed");
        if (response.ok) model.games(await response.json());
        
        model.loading(false);
    });


block content
  .container
    //ko if: loading
    .row.col-12.justify-content-center
      i(class="fa-solid fa-spinner fa-spin" style="margin-top:250px;font-size:96px;color: #e67b00;")
    // /ko
    .row.col-12
      .btn-group-toggle(data-toggle="buttons")
        // ko foreach: divisions
        input.btn-check(type="checkbox" autocomplete="off" data-bind="attr:{id:'div_btn'+$index()}")
        label.btn.btn-outline-primary(data-bind="click: $root.toggleDivision, text: $data, attr:{for:'div_btn'+$index()}")
        // /ko
    br
    .row.col-12
      .btn-group-toggle(data-toggle="buttons")
        // ko foreach: rounds
        input.btn-check(type="checkbox" autocomplete="off" data-bind="attr:{id:'week_btn'+$index()}")
        label.btn.btn-outline-primary(data-bind="click: $root.toggleRound, text: $data, attr:{for:'week_btn'+$index()}") 
        // /ko        
    br
    .row.col-12
      .btn-group-toggle(data-toggle="buttons")
        input.btn-check(type="checkbox" autocomplete="off" data-bind="attr:{id:'played_btn'}")
        label.btn.btn-outline-primary.active(data-bind="click: $root.togglePlayed, text: 'played', attr:{for:'played_btn'}") 
        input.btn-check(type="checkbox" autocomplete="off" data-bind="attr:{id:'unplayed_btn'}")
        label.btn.btn-outline-primary.active(data-bind="click: $root.toggleUnplayed, text: 'unplayed', attr:{for:'unplayed_btn'}") 
    br
    table.table.table-sm
      thead
        th Competition 
        th Home Coach 
        th Home Team 
        th Away Team 
        th Away Coach
      tbody(data-bind="foreach: filteredGames" )
        tr
          td
            // ko if: status === 2
            a(data-bind="text: competition, attr:{href:`/bb3/match/${matchId}` }"  target="_blank" style="color:#03a9f4")
            // /ko
            // ko if: status === 1
            span( data-bind="text: competition")
            // /ko
          td
            a(data-bind="text: home.coach.name, attr:{href:'/coach/bb3/'+ home.coach.id}"  target="_blank" style="color:#03a9f4")
            // ko if: $data.hasOwnProperty("validatedBy") && validatedBy.indexOf(home.coach.id) > -1
            span.badge.badge-sm.text-bg-success.mx-2 validated
            // /ko
            // ko if: $data.hasOwnProperty("notValidatedBy") && notValidatedBy.indexOf(home.coach.id) > -1
            span.badge.bage-sm.text-bg-danger.mx-2 blocked
            // /ko
          td 
            span(data-bind="text: home.team.name")
          td 
            span(data-bind="text: away.team.name ")
          td
            a(data-bind="text: away.coach.name, attr:{href:'/coach/bb3/'+ away.coach.id}" target="_blank" style="color:#03a9f4")
            // ko if: $data.hasOwnProperty("validatedBy") && validatedBy.indexOf(away.coach.id) > -1
            span.badge.bage-sm.text-bg-success.mx-2 validated
            // /ko
            // ko if: $data.hasOwnProperty("notValidatedBy") && notValidatedBy.indexOf(away.coach.id) > -1
            span.badge.bage-sm.text-bg-danger.mx-2 blocked
            // /ko






