extends ../sublayout.pug

block content
  style .btn-following-on {background-color:#4F4F4F}
  .container
    .row.justify-content-center.no-gutters
      h1 Is there something to watch?
      .row.col-12.justify-content-center
        // ko foreach: leagues()
        button.btn.btn-primary.btn-sm(data-bind="text: $data, click:$parent.toggle.bind(this, $data)" style="margin-right:5px") 
        // /ko
      // ko foreach: $root.visibleLeagues()
      // ko foreach: $root.filteredCompetitions($data)
      .row.col-12.justify-content-center  
        h3(data-bind="text: `${$data.league} - ${$data.competition}`") 
      // ko foreach: $root.filterGames($data)
      .row.col-12  
        .row.col-12
          .row.col-12.justify-content-center.no-gutters
            .col-5
              .row.col-12.no-gutters(style="padding:unset")
                .col-12(style="text-align: right;padding-right:5px;")
                  .float-right.d-none.d-md-block: img(data-bind="attr: {src: $root.logo(LogoTeam1)}" alt="" class="TeamLabel-logo" )
                  div(data-bind="text: NameTeam1" style="font-size:1.2em")
                  .TeamLabel-coach(data-bind="text: NameCoach1" style="margin-top:-7px" )
            .col-1.align-center
              .MatchStatus-score(data-bind="text: ScoreTeam1") 
              .MatchStatus-score -
              .MatchStatus-score(data-bind="text: ScoreTeam2") 
              .TeamLabel-coach(data-bind="text: `Turn ${CurrentTurn}`" style="margin-top:-7px" )
            .col-5
              .row.col-12.no-gutters(style="padding:unset")
                .col-12
                  div.float-left.d-none.d-md-block(style="padding-right:5px"): img(data-bind="attr: {src: $root.logo(LogoTeam2)}" alt="" class="TeamLabel-logo")
                  div(data-bind="text: NameTeam2"  style="font-size:1.2em")
                  .TeamLabel-coach(data-bind="text: NameCoach2" style="margin-top:-7px" )
      // /ko
      // /ko
      br
      // /ko


block scripts
  script(src="https://cdn2.rebbl.net/scripts/knockout-3.4.2.js")
  script.
    function Model() {
      const self = this;
      // Editable data
      self.games = ko.observableArray([]);
      self.competitions = ko.observableArray([]);
      self.leagues = ko.observableArray([]);
      self.visibleLeagues =  ko.observableArray([])

      self.load = async function(){
        let result = await fetch(`/api/v1/upcoming/ongoing`);

        if (result.ok){
            let data = await result.json();
            self.games(data);
            let leagues = data.reduce((p,c) => {
              if (!p.find(x => x.competition === c.CompetitionName && x.league === c.LeagueName))
                p.push({competition: c.CompetitionName, league:c.LeagueName});
              return p;
            },[]);
            
            self.competitions(leagues);
            leagues = data.map(d => `${d.LeagueName}`);
            self.leagues([...new Set(leagues)]);
            self.visibleLeagues([...new Set(leagues)]);

        }
      }
      self.logo = function(logo){
        return `https://cdn2.rebbl.net/images/logo/logo_${logo.toLowerCase()}.png`;
      }
      self.filterGames = function (league){
        return self.games().filter(x => x.LeagueName === league.league && x.CompetitionName === league.competition);
      }
      self.toggle = function(league,data,event){
        
        $(event.currentTarget || event.target ).toggleClass("btn-secondary");
        $(event.currentTarget || event.target ).toggleClass("btn-primary");

        let index = self.visibleLeagues.indexOf(league);
        if (index > -1){
          self.visibleLeagues.splice(index,1);
        } else {
          self.visibleLeagues.push(league);
        }
      }
      self.filteredCompetitions = function(league){
        return self.competitions().filter(x => self.visibleLeagues().indexOf(league)>-1 && x.league === league);
      }
    }
    const model = new Model();
    $(document).ready(async function(){
        ko.applyBindings(model);
        model.load();
    });