extends ./template.pug

block body
  div#wrap.wrap.clearfix
    section#pages
      ul
        <li class="one-page TextTVPage"><ul class="inpage-pages  subpage-count-1"><li><div class="root"><span class="line toprow"><span class="bgBl">   </span><span class="bgBl W  inputNumber">#{number} </span><span class="bgBl Y">REBBL Text </span><span class="bgBl W date"></span></span>
        <span class="line"><span class="bgBl"> </span><span class="bgB"> </span><span class="bgB W">#{`REBBL`.padEnd(36, ' ')}   </span></span>
        <span class="line"><span class="bgBl">                                        </span></span><br/>
        - let rowCount = 1;
        each page in pages
          - rowCount++
          <span class="line"><span class="bgBl">  </span><span class="#{cls}">#{page.announcement.title.substr(0,30).padEnd(30,' ')} <a href='#{page.number}'>#{(page.number + '').padStart(3,' ')}</a></span></span><br/>
        
        <span class="line"><span class="bgBl">                                        </span></span><br/>
         - rowCount++
        <span class="line"><span class="bgBl C">       ReBBL Standings     <a href='200'>200</a>          </span></span><br/>
         - rowCount++
        <br/>
          - for(var x = 21-rowCount; x > 0; x--)
            <span class="line"><span class="bgBl">                                        </span></span><br/>
        <span class="line"><span class="bgBl"> </span><span class="bgB">     </span><span class="bgB W">Continue to next page <a href='#{(number+1)}'>#{(number+1)}</a>          </span></span>
        <span class="line"><span class="bgBl"> </span><span class="bgR Bl">    &lt;     </span><span class="bgG Bl">    -     </span><span class="bgY Bl">    +     </span></span><span class="bgB Bl">     &gt;    </span></span></div></li></ul></li>