extends ./template.pug

block body
  div#wrap.wrap.clearfix
    section#pages
      ul
        <li class="one-page TextTVPage"><ul class="inpage-pages  subpage-count-1"><li><div class="root"><span class="line toprow"><span class="bgBl">   </span><span class="bgBl W">#{number} </span><span class="bgBl Y">REBBL Text </span><span class="bgBl W">Wednesday 17 nov 2021     </span></span>
        <span class="line"><span class="bgBl"> </span><span class="bgB"> </span><span class="bgB W">#{`${announcement.title.substr(0,36)}`.padEnd(36, ' ')}  </span></span>
        <span class="line"><span class="bgBl">                                        </span></span><br/>
        - let rowCount = 1;
        - let renderBreak = false
        each chunk in announcement.processed
          - rowCount++
          - renderBreak = chunk.indexOf('\n\n') > -1
          if (renderBreak === true)
            <br/><br/>
          <span class="line"><span class="bgBl">  </span><span class="#{cls}">#{chunk.replace(/\n\n/g, '').trimStart().padEnd(37, ' ')}</span></span><br/>
            
        - for(var x = 21-rowCount; x > 0; x--)
          <span class="line"><span class="bgBl">                                        </span></span><br/>
        <span class="line"><span class="bgBl"> </span><span class="bgB">        </span><span class="bgB W">Continue to next page <a href='#{(number+1)}'>#{(number+1)}</a>      </span></span></div></li></ul></li>