extends ..\..\layout.pug

block scripts
  script(src="/scripts/jquery-3.3.1.slim.min.js")
  script(src="/scripts/popper-1.14.3.min.js")
  script(src="/scripts/bootstrap.min.js")

block vars
  - var options = {active: "team", title: " "}

block additionalMainNavigation
  a(href="/coach" class="Tabs-tab Tabs-tab--active") TEAM
block content
  div(class="container")
    h1= team.team.name
    h3(style="margin-top: -20px;")
      i= team.team.leitmotiv
    div(class="row" style="margin-left:0px")
      div(class="col col-3")
        strong current TV
      div(class="col col-3")
        strong= team.team.value  
      div(class="col col-3")
        strong Total cash earned
      div(class="col col-3")
        strong= (team.stats ? team.stats.cashearned/1000 :0) + "k"
    div(class="row" style="margin-left:0px")
      div(class="col col-3")
        strong next match TV
      div(class="col col-3")
        strong= team.team.nextMatchTV  
      div(class="col col-3")
        strong Spiralling Expenses
      div(class="col col-3")
        strong=  team.stats ? team.stats.spirallingexpenses:0
    div(class="row" style="margin-left:0px")
      div(class="col col-3")
        strong actual TV
      div(class="col col-3")
        strong= team.team.actualTV  
      div(class="col col-3")
        strong Audience
      div(class="col col-3")
        strong= team.stats ? team.stats.nbsupporters:0
    div(class="row" style="margin-left:0px")
      div(class="col col-3")
        strong cash
      div(class="col col-3")
        strong= team.team.cash/1000 + "k"  

    table(class="table table-striped") 
      thead(class="headerText")
        tr 
          th
          th tackles
          th injuries
          th stuns
          th ko
          th CAS
          th dead
          th running (m)
          th passing (m)
          th passes
          th interc.
          th touchdowns
          th surfs
      tbody
        tr
          td inflicted
          td= team.stats ? team.stats.inflictedtackles : 0
          td= team.stats ? team.stats.inflictedinjuries : 0
          td= team.stats ? team.stats.inflictedstuns : 0
          td= team.stats ? team.stats.inflictedko : 0
          td= team.stats ? team.stats.inflictedcasualties : 0
          td= team.stats ? team.stats.inflicteddead : 0
          td= team.stats ? team.stats.inflictedmetersrunning : 0
          td= team.stats ? team.stats.inflictedmeterspassing : 0
          td= team.stats ? team.stats.inflictedpasses : 0
          td= team.stats ? team.stats.inflictedinterceptions : 0
          td= team.stats ? team.stats.inflictedtouchdowns : 0
          td= team.stats ? team.stats.inflictedpushouts : 0
        tr  
          td sustained
          td= team.stats ? team.stats.sustainedtackles:0
          td= team.stats ? team.stats.sustainedinjuries:0
          td= team.stats ? team.stats.sustainedstuns:0
          td= team.stats ? team.stats.sustainedko:0
          td= team.stats ? team.stats.sustainedcasualties:0
          td= team.stats ? team.stats.sustaineddead:0
          td= team.stats ? team.stats.sustainedmetersrunning : 0
          td= team.stats ? team.stats.sustainedmeterspassing : 0
          td= team.stats ? team.stats.sustainedpasses : 0
          td= team.stats ? team.stats.sustainedinterceptions:0
          td= team.stats ? team.stats.sustainedtouchdowns:0
          td= team.stats ? team.stats.sustainedpushouts:0

    br
    nav
      div(class="nav nav-tabs" id="nav-tab" role="tablist")
        a(class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Current
        a(class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false") Previous
        a(class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false") Star Players &amp; Loners
    div(class="tab-content" id="tabContent")
      div(class="tab-pane fade show active col col-12" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
        table(class="table table-striped")
          thead
            tr
              th(scope="col") #
              th(scope="col") name
              th(scope="col") position
              th(scope="col") MA
              th(scope="col") ST
              th(scope="col") AG
              th(scope="col") AV
              th(scope="col") GP
              th(scope="col") MVP
              th(scope="col") Skills
              th(scope="col") CAS
              th(scope="col") SPP
          tbody
            each player in roster.filter(function(a){return a.active})
              include player.pug

      div(class="tab-pane fade col col-12" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab")
        table(class="table table-striped")
          thead
            tr
              th(scope="col") #
              th(scope="col") name
              th(scope="col") position
              th(scope="col") MA
              th(scope="col") ST
              th(scope="col") AG
              th(scope="col") AV
              th(scope="col") GP
              th(scope="col") MVP
              th(scope="col") Skills
              th(scope="col") CAS
              th(scope="col") SPP
          tbody
            each player in roster.filter(function(a){return !a.active && a.id})
              include player.pug

      div(class="tab-pane fade col col-12" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab")
        table(class="table table-striped")
          thead
            tr
              th(scope="col") #
              th(scope="col") name
              th(scope="col") position
              th(scope="col") MA
              th(scope="col") ST
              th(scope="col") AG
              th(scope="col") AV
              th(scope="col") GP
              th(scope="col") MVP
              th(scope="col") Skills
              th(scope="col") CAS
              th(scope="col") SPP
          tbody
            each player in roster.filter(function(a){return !a.active && !a.id})
              include player.pug          