extends ../../no-cache-sub-relayout.pug
block scripts
  script.
    $(document).ready(function(){
      const el = $(".unplayed").first().prev(".unplayed-anchor").prevObject[0];
      const y = el.getBoundingClientRect().top + window.pageYOffset - 140 ;
      window.scrollTo({top: y});
    });
block vars
  - var options = {active: league, title: league, company:company}

block navigation
  .nav-item.dropdown.mr-3
    #dropdowWeek.d-inline-block.text-light.dropdown-toggle(alt='' role='button' data-toggle='dropdown')
      | Scroll to week
    div
      .dropdown-menu.bg-dark(aria-labelledby='dropdowWeek')
        for week, x in matches
          a(class=`dropdown-item`   href=`#${x}`)=  x

block content
  div(class="Background u-bottomPadding--large u-topPadding--medium")
    div(class="/*TexturedBackground TexturedBackground--light-primary*/")
      div(class="container navcontainer" data-index="0")
        h1(class="u-no-text-transform u-verticalMargin--xx-small")= league + " " + competition
        div(class="League-Standings")
          for week, x in matches
            br
            div(class="table-striped TeamLabel-info")
              div(class="TableHeader" style="border-bottom: 3px solid #bdbcbccf;padding-bottom: 2px;text-align:center")
                a(name=x class="unplayed-anchor" style="padding-top:180px;margin-top:-180px" href=`/${company}/${league}/${competition}/${x}`)
                  div(title="" class="Standings-details Standings-header highlight" )= "Week " + x
              each match, y in week
                include matches.pug