//- round.pug
extends ..\sublayout.pug
block scripts
  script(src="/scripts/jquery-3.3.1.slim.min.js")
  script(src="/scripts/popper-1.14.3.min.js")
  script(src="/scripts/bootstrap.min.js")
  script.
    $(document).ready(function(){
      $('.dropdown-item').click(function(){
          debugger;
          let classes = this.className.split(' ');
          let season = classes.find(function(e){return e.toLowerCase().indexOf("season")>-1;});
          $('.Season').hide();
          $('.'+season).show();
          $("#"+$(this).parent().attr('aria-labelledby')).text($(this).text());
          $(this).parent().parent().addClass('active');
      });
    });
block vars
  - var options = {active: league, title: "REBBL SEASON 8"}
  - let seasons = []
  for div, x in divisions
    - let season = div.substr(0,9)
    - if(seasons.indexOf(season) === -1) seasons.push(season)  
  - let collator = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});    

block navigation
  nav(class="navbar navbar-expand-md navbar-dark bg-dark bg-rebbl" style="top:-50px")
    div(class="container")
      a(class="navbar-brand" href=".") STANDINGS
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse")
        ul(class="navbar-nav mr-auto")
          li( class="nav-item active")
            div(class="nav-link") DISPLAY 
          li( class="nav-item dropdown")
            a(class="nav-link dropdown-toggle" href="#" id="dropdownSeason" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") SEASON
            div(class="dropdown-menu" aria-labelledby="dropdownSeason")
              each season in seasons
                a(class="dropdown-item " + season.replace(' ', '')  href="#")= season.toUpperCase()
          li( class="nav-item active")
            div(class="nav-link") NAVIGATE TO
          li( class="nav-item dropdown")
            a(class="nav-link dropdown-toggle" href="#" id="dropdownDivision" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") DIVISION
            div(class="dropdown-menu" aria-labelledby="dropdownDivision")
              each round in divisions.sort(collator.compare)
                -let season = round.substr(0,9).replace(' ','') 
                a(class=`dropdown-item Season ${season}`  href=`/rebbl/${league}/${round}`)=  round.toUpperCase()
          li( class="nav-item active")
            div(class="nav-link") week                  
          li( class="nav-item dropdown")
            a(class="nav-link dropdown-toggle" href="#" id="dropdowWeek" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") WEEK
            div(class="dropdown-menu" aria-labelledby="dropdowWeek")
              for w in weeks.sort(function(a,b){return a - b ;})
                a(class=`dropdown-item Season ${season}`   href=`./${w}`)=  w


block content
  div(class="Background u-bottomPadding--large u-topPadding--medium")
    div(class="/*TexturedBackground TexturedBackground--light-primary*/")
      div(class="container navcontainer" data-index="0")
        h1(class="u-no-text-transform u-verticalMargin--xx-small")= league + " " + competition + " week " + week
        div(style="grid-template-columns: auto auto;display:grid;")
          div(class="table-striped TeamLabel-info")
            div(class="TableHeader" style="border-bottom: 3px solid #bdbcbccf;padding-bottom: 2px;")
              div(title="" class="Standings-details Standings-header")= "Week "
            each match, y in matches
               include matches.pug






