extends ..\..\no-cache-sub-layout.pug

block vars
  - let options = {active: league, title: "REBBL SEASON 10"}
  - let seasons = []
  - let ignoreLeagues = ["one minute", "rebbll", "xscessively elfly league", "open invitational", "greenhorn cup", "rabble"]
  - if (ignoreLeagues.indexOf(league.toLowerCase()) === -1)
    for div, x in standings
      - if (div[0].competition.toLowerCase().indexOf("rampup") > 0 ) continue;
      - let season = div[0].competition.substr(0,9)
      - if(seasons.indexOf(season) === -1) seasons.push(season)
  - seasons = seasons.sort(function(a,b){ return a > b ? -1 :1})
  - let collator = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});

block scripts
  script.
    $(document).ready(function(){
      $('.dropdown-item').click(function(){
          let classes = this.className.split(' ');
          let season = classes.find(function(e){return e.toLowerCase().indexOf("season")>-1;});
          $('.Season').hide();
          $('.'+season).show();
          $(".title").text($(this).text());
          $("#"+$(this).parent().attr('aria-labelledby')).text($(this).text());
          $(this).parent().parent().addClass('active');
      });
      let seasons = ["!{seasons.join('\",\"')}"];
      if (seasons.length > 0 && seasons[0] !== ""){
        $("#dropdownSeason").text(seasons[0]);
        $("#dropdownSeason").parent().addClass('active');
        $(".title").text(seasons[0]);
      }
    });
    
block navigation
  nav(class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" style="min-height:80px;top:80px;justify-content:unset")
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rebblSubNav" aria-controls="rebblSubNav" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    a(class="navbar-brand d-md-none d-lg-none d-xl-none " href="#")= "STANDINGS - " + league 
    div(class="collapse navbar-collapse" id="rebblSubNav")
      ul(class="navbar-nav mr-auto")
        - if (seasons.length > 0 )
          li( class="nav-item active")
            div(class="nav-link") DISPLAY 
          li( class="nav-item dropdown")
            a(class="nav-link dropdown-toggle" href="#" id="dropdownSeason" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") SEASON
            div(class="dropdown-menu" aria-labelledby="dropdownSeason")
              each season in seasons
                a(class="dropdown-item " + season.replace(' ', '')  href="#")= season.toUpperCase()
        li( class="nav-item active")
          div(class="nav-link") NAVIGATE TO
        li( class="nav-item dropdown")
          a(class="nav-link dropdown-toggle" href="#" id="dropdownDivision" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") DIVISION
          div(class="dropdown-menu" aria-labelledby="dropdownDivision")
            each round in rounds.sort(collator.compare)
              - let season = round.substr(0,9).replace(' ', '')
              - let hideSeason = season.toLowerCase().trim() != (seasons[0] || "").replace(' ', '').toLowerCase().trim()
              a(class=`dropdown-item Season ${season}` style=`${hideSeason ? "display:none": ""}` href=`/rebbl/${league}/${round}`)=  round.toUpperCase()
block content
  -let seasonName = ""
  -let i = -1
  for div, x in standings
    - i++
    -let config = cutoffs.find((c) => div[0].competition.toLowerCase().indexOf(c.name) > -1 )
    - if (config && seasonName !== config.name)
      - seasonName = config.name
      - i = 0
    -let cutoff = config ? (config.cutoff[i] === -1 ? 2 : config.cutoff[i]) : -1;
    -let cutin = config.cutoff[i] === -1
    -let hide = seasonName.toLowerCase().trim() != (seasons[0] || "").toLowerCase().trim()
    -if( league.toLowerCase() === "one minute" )
      - cutoff = cutoffs[0].cutoff[i]
    div(class=`container Season ${div[0].competition.substr(0,9).replace(' ','')} ` style=`${hide ? "display:none": ""}`)
      div(class="row col-12")
        h2
         i(id=div[0].competition  style="padding-top:180px;margin-top:-180px")
         a( href=`/rebbl/${league}/${div[0].competition}`  class="highlight")= div[0].competition
      div(class="season-table")  
        div(class="row col-12 " style="border-bottom: 3px solid #bdbcbccf;")
          div(class="row col-6" style="font-size:1.25em")
            div(class="col-1" ) #
            div(class="col-4" ) Coach
            div(class="col-7" ) Team
          div(class="col-2" style="font-size:1.25em") Race
          div(class="row col-4" style="font-size:1.25em")
            div(class="col-2" ) Pts.
            div(class="col-2") W  
            div(class="col-2") D  
            div(class="col-2") L  
            div(class="col-2") P
            div(class="col-2 text-right") ΔTD
        each coach, y in div
          div(class="row col-12 season-table-row")
            div(class="row col-6")
              div(class="col-1" )= y+1
              div(class="col-4" style=";overflow:hidden") 
                a(href=`/rebbl/coach/${coach.id}` )= coach.name
                - if(coach.account && coach.account.donations && coach.account.showDonation)
                  | &nbsp; &nbsp; 
                  img(src="/images/gold.png" style="height:25px;float:right;margin-top: 2px;" title="donator")
              div(class="col-7" style=";overflow:hidden") 
                -if (coach.team.indexOf("[colour") === 0)
                  a(href=`/rebbl/team/${coach.teamId}`)= coach.team.substr(19, coach.team.length-17)
                - else
                  a(href=`/rebbl/team/${coach.teamId}` )= coach.team
            div(class="col-2" style=";overflow:hidden")= coach.race.replace(/([A-Z])/g, ' $1').replace(/^./, function(str){ return str.toUpperCase(); })
            div(class="row col-4" )
              div(class="col-2" )= coach.points
              div(class="col-2")= coach.win 
              div(class="col-2")= coach.draw 
              div(class="col-2")= coach.loss 
              div(class="col-2")= coach.games
              div(class="col-2 text-right" )= coach.tddiff
          - if (y+1 == cutoff && !cutin)
            div(class="row col-12 season-table-row")
              div(class="col-1 Standings-divider--flex")
                span(class="Standings-dividerText--correction")
              div(class="col-6 Standings-divider--flex" )
                span(class="Standings-dividerText" style="font-size:1.5em")  &nbsp; &nbsp;Playoffs Cutoff &nbsp; &nbsp;
              div(class="col-5 Standings-divider--flex")
                span(class="Standings-dividerText--correction")
          - if (y+1 == cutoff && cutin)
            div(class="row col-12 season-table-row")
              div(class="col-1 Standings-divider--flex")
                span(class="Standings-dividerText--correction")
              div(class="col-6 Standings-divider--flex" )
                span(class="Standings-dividerText" style="font-size:1.5em")  &nbsp; &nbsp;Playins Cutin &nbsp; &nbsp;
              div(class="col-5 Standings-divider--flex")
                span(class="Standings-dividerText--correction")
          - if (league.toLowerCase() === "one minute" && y+1 == cutoff+2)
            div(class="row col-12 season-table-row")
              div(class="col-1 Standings-divider--flex")
                span(class="Standings-dividerText--correction")
              div(class="col-6 Standings-divider--flex" )
                span(class="Standings-dividerText" style="font-size:1.5em")  &nbsp; &nbsp;Wildcards &nbsp; &nbsp;
              div(class="col-5 Standings-divider--flex")
                span(class="Standings-dividerText--correction")                