extends ..\sublayout.pug
block vars
  - let options = {active: league, title: "REBBL SEASON 8"}
  - let seasons = []
  for div, x in standings
    - let season = div[0].competition.substr(0,9)
    - if(seasons.indexOf(season) === -1) seasons.push(season)
  - seasons = seasons.sort(function(a,b){ return a > b ? -1 :1})

block scripts
  script(src="/scripts/jquery-3.3.1.slim.min.js")
  script(src="/scripts/popper-1.14.3.min.js")
  script(src="/scripts/bootstrap.min.js")
  script.
    $(document).ready(function(){
      $('.dropdown-item').click(function(){
          let classes = this.className.split(' ');
          let season = classes.find(function(e){return e.toLowerCase().indexOf("season")>-1;});
          $('.Season').hide();
          $('.'+season).show();
          $("#"+$(this).parent().attr('aria-labelledby')).text($(this).text());
          $(this).parent().parent().addClass('active');
      });
      let seasons = ["!{seasons.join('\",\"')}"];
      $('.Season').hide();
      $('.'+seasons[0].replace(' ','')).show();
      $("#dropdownSeason").text(seasons[0]);
      $("#dropdownSeason").parent().addClass('active');
    });
    
block navigation
  nav(class="navbar navbar-expand-md navbar-dark bg-dark bg-rebbl" style="top:-50px")
    div(class="container")
      a(class="navbar-brand" href="#") STANDINGS
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse")
        ul(class="navbar-nav mr-auto")
          li( class="nav-item active")
            div(class="nav-link") DISPLAY 
          li( class="nav-item dropdown")
            a(class="nav-link dropdown-toggle" href="#" id="dropdownSeason" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") SEASON
            div(class="dropdown-menu" aria-labelledby="dropdownSeason")
              each season in seasons
                a(class="dropdown-item " + season.replace(' ', '')  href="#")= season.toUpperCase()
          li( class="nav-item active")
            div(class="nav-link") NAVIGATE TO
          li( class="nav-item dropdown")
            a(class="nav-link dropdown-toggle" href="#" id="dropdownDivision" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") DIVISION
            div(class="dropdown-menu" aria-labelledby="dropdownDivision")
              each round in rounds.sort(function(a,b){return a.replace('10','') > b.replace('10','') ? 1: -1})
                - let season = round.substr(0,9).replace(' ', '')
                a(class=`dropdown-item Season ${season}`  href=`/rebbl/${league}/${round}`)=  round.toUpperCase()
block content
  div(class="Background u-bottomPadding--large u-topPadding--medium")
    div(class="/*TexturedBackground TexturedBackground--light-primary*/")
      div(class="container navcontainer" data-index="0")
        h1(class="u-no-text-transform u-verticalMargin--xx-small")= "Standings " + league
        div(class="League-Standings")
          -let i = -1
          for div, x in standings
            - i++
            div(class=`table-striped TeamLabel-info Season ${div[0].competition.substr(0,9).replace(' ','')} `)
              div(class="TableHeader" style="border-bottom: 3px solid #bdbcbccf;padding-bottom: 2px;")
                div(title="" class="Standings-details Standings-header")= div[0].competition
              div(class="TableHeader" style="border-bottom: 3px solid #bdbcbccf;padding-bottom: 2px;")
                div(style="display:flex; flex-direction:row;flex-wrap:wrap")
                  div(style="flex-grow:1;flex-basis:0;font-size: 1.25em") #
                  div(style="flex-grow:6;flex-basis:0;font-size: 1.25em") Coach
                  div(style="flex-grow:6;flex-basis:0;font-size: 1.25em") Team
                  div(style="flex-grow:6;flex-basis:0;font-size: 1.25em") Race
                  div(style="flex-grow:2;flex-basis:0;font-size: 1.25em") Pts.
                  div(style="flex-grow:2;flex-basis:0;font-size: 1.25em") W
                  div(style="flex-grow:2;flex-basis:0;font-size: 1.25em") D
                  div(style="flex-grow:2;flex-basis:0;font-size: 1.25em") L
                  div(style="flex-grow:2;flex-basis:0;font-size: 1.25em;overflow:hidden") P
                  div(style="flex-grow:2;flex-basis:0;font-size: 1.25em;overflow:hidden") TD diff
                  div(style="display:block;width:100%;height:0;") &nbsp;
                  - let cutoffs = league === "REL" ? [5,3,3,3,2,2,2,2,1,1,1,1,1] : (league === "GMan" ? [5,3,3,2,2,1,1,1,1,1] : [5,3,2,1,1])
                  each coach, y in div.sort(function(a,b){if(a.points > b.points) {return -1} if (b.points > a.points) {return 1} if (a.tddiff > b.tddiff) {return -1} if (b.tddiff > a.tddiff) {return 1} if(a.loss>b.loss){return 1} if(b.loss > a.loss){return -1} return 0; })
                    div(style="flex-grow:1;flex-basis:0")= y+1
                    div(style="flex-grow:6;flex-basis:0;overflow:hidden")
                      a(href=`/rebbl/coach/${coach.id}` )= coach.name
                    div(style="flex-grow:6;flex-basis:0;overflow:hidden")
                      a(href=`/rebbl/team/${coach.teamId}` )= coach.team
                    div(style="flex-grow:6;flex-basis:0;overflow:hidden")= coach.race
                    div(style="flex-grow:2;flex-basis:0")= coach.points
                    div(style="flex-grow:2;flex-basis:0")= coach.win
                    div(style="flex-grow:2;flex-basis:0")= coach.draw
                    div(style="flex-grow:2;flex-basis:0")= coach.loss
                    div(style="flex-grow:2;flex-basis:0")= coach.games
                    div(style="flex-grow:2;flex-basis:0")= coach.tddiff
                    div(style="display:block;width:100%;height:0;") &nbsp;
                    - if (y+1 == cutoffs[i])
                      div(style="flex-grow:1;flex-basis:0" class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction")
                      div(style="flex-grow:6;flex-basis:0;margin-top:0px" class="Standings-divider--flex" )
                        span(class="Standings-dividerText")  &nbsp; &nbsp;Playoffs Cutoff &nbsp; &nbsp;
                      div(style="flex-grow:6;flex-basis:0" class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction")
                      div(style="flex-grow:2;flex-basis:0" class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction")
                      div(style="flex-grow:2;flex-basis:0" class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction")
                      div(style="flex-grow:2;flex-basis:0" class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction")
                      div(style="flex-grow:2;flex-basis:0" class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction")
                      div(style="flex-grow:2;flex-basis:0" class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction")
                      div(style="flex-grow:2;flex-basis:0" class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction")
                      div(style="display:block;width:100%;height:0;") &nbsp;