extends ../../no-cache-sub-relayout.pug

block vars
  - let options = {active: league, title: "REBBL SEASON 17"}
  - let seasons = []
  - let collator = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});

block scripts

block content
  -let seasonName = ""
  div(class=`container Season ` )
    for div,x in standings
      div(class="row col-12")
        a(href=`/bb2/rebbl/rampup/${div[0].competition}`)
          h2= div[0].competition
      div(class="season-table")  
        div(class="row col-12 " style="border-bottom: 3px solid #bdbcbccf;")
          div(class="col-8 col-md-6" style="font-size:1.25em")
            div(class="row")
              div(class="col-1" ) #
              div(class="col" ) Coach
              div(class="col" ) Team
          div(class="col-2 d-none d-md-block" style="font-size:1.25em") Race
          div(class="col-4" style="font-size:1.25em")
            div(class="row")
              div(class="col-4 col-md-2" ) Pts.
              div(class="col-2 d-none d-md-block") W  
              div(class="col-2 d-none d-md-block") D  
              div(class="col-2 d-none d-md-block") L
              div(class="col-4 col-md-2") P
              div(class="col-4 col-md-2 text-end") ΔTD
        each coach, y in div
          div(class="row season-table-row")
            div(class="col-8 col-md-6")
              div(class="row")
                div(class="col-1" )= y+1
                div(class="col" style=";overflow:hidden") 
                  a(href=`/coach/${coach.id}` )= coach.name
                div(class="col" style=";overflow:hidden") 
                  -if (coach.team.indexOf("[colour") === 0)
                    a(href=`/team/${coach.teamId}`)= coach.team.substr(19, coach.team.length-17)
                  - else
                    a(href=`/team/${coach.teamId}` )= coach.team
            div(class="col-2 d-none d-md-block" style=";overflow:hidden")= coach.race.replace(/([A-Z])/g, ' $1').replace(/^./, function(str){ return str.toUpperCase(); })
            div(class="col-4" )
              div(class="row")
                div(class="col-4 col-md-2" )= coach.points
                div(class="col-2 d-none d-md-block")= coach.win 
                div(class="col-2 d-none d-md-block")= coach.draw 
                div(class="col-2 d-none d-md-block")= coach.loss 
                div(class="col-4 col-md-2")= coach.games
                div(class="col-4 col-md-2 text-end" )= coach.tddiff
          - if (y+1 == 1)
            div(class="row col-12 season-table-row")
              div(class="col-1 Standings-divider--flex")
                span(class="Standings-dividerText--correction")
              div(class="col-6 Standings-divider--flex" )
                span(class="Standings-dividerText" style="font-size:1.5em")  &nbsp; &nbsp;Playins Cutin &nbsp; &nbsp;
              div(class="col-5 Standings-divider--flex")
                span(class="Standings-dividerText--correction")