extends ../no-cache-sub-layout.pug
include ../nav-link

block vars
  
  - let options = {active: league, title: "REBBL SEASON 8", company:data.company}
  - let fullJquery = true
  - if (!active) { var active =  (options && options.active) ? options.active : "" }
  - let company = data.company || "";



block scripts
  - if (process.env.NODE_ENV === 'production')
      link(rel="stylesheet" href="https://cdn2.rebbl.net/styles/slider.css")
  - else
    link(rel="stylesheet" href="styles/slider.css")
  style.
    .divSlider {
      width:300px;
      position:absolute;
      top:0;
      background-color:#777;
      visibility: hidden;
      line-height:1;

    }
  
    .divSlider.left{
      left:-300px;
      transition: visibility 0s, left 0.5s ease;
      border-radius: 0 0.25rem 0.25rem 0;
    }
    .divSlider.right{
      right:-300px;
      transition: visibility 0s, right 0.5s ease;
      border-radius: 0.25rem 0 0 0.25rem;      
    }
    .matchDiv:hover .divSlider {
      visibility:visible;
    }  

    .matchDiv:hover .left {
      left:0px;
    }  

    .matchDiv:hover .right {
      right:0px;
    }  

    .switch input { 
      display:none;
    }
    .switch {
      display:inline-block;
      width:60px;
      height:30px;
      margin:8px;
      transform:translateY(50%);
      position:relative;
    }

    .btn-slider {
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      border-radius:30px;
      box-shadow:0 0 0 2px #777, 0 0 4px #777;
      cursor:pointer;
      border:4px solid transparent;
      overflow:hidden;
      transition:.4s;
    }
    .btn-slider:before {
      position:absolute;
      content:"";
      width:100%;
      height:100%;
      background:#777;
      border-radius:30px;
      transform:translateX(-30px);
      transition:.4s;
    }

    input:checked + .btn-slider:before {
      transform:translateX(30px);
      background:limeGreen;
    }
    input:checked + .btn-slider {
      box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
    }
  script.
    var scaling = 1.1;
    //count
    var showCount = 4;
    let scrollDiff = 0;
    let scrollWidth = 0;
    let currentSliderCount = 0;
    const storage = window.localStorage;

    storage.removeItem("starplayers");
    storage.removeItem("skillDescriptions");
    storage.removeItem("skillDescriptions.v1");

    let autoScroll = !(storage.getItem("autoscroll") === "false");

    $(document).ready(function(){
        $("#scroll-switch").on("click", toggleScroll);
        $(".slider-container").each(init)
        controls();

        if (!autoScroll){
          $('.carousel').carousel({interval:false});
        } else{
          $('.carousel').carousel({interval:10000});
        }
        $("#scroll-switch").prop("checked",autoScroll);
    });
    $( window ).resize(function() {
        setTimeout(init,100);
    });
    function init(index, container){
        currentSliderCount = 0;

        var videoCount = $(".slider-container").children().length;
        
        //var sliderCount = videoCount / showCount;
        var controlsWidth = 40;

        var scollWidth = 0;
        // elements
        var sliderFrame = $(".slider-frame");
        var parent = sliderFrame[0].parentElement;
        var sliderContainer = $(".slider-container");
        var slide = $(sliderContainer).find(".slide");
        
        //counts
        scollWidth = 0;
    
        //sizes
        var windowWidth = parent.clientWidth;
        var frameWidth = windowWidth - 80;
        

        showCount = Math.floor(windowWidth/332);
        scrollDiff = showCount* 332;
        var videoWidth = 332 //((windowWidth - controlsWidth * 2) / showCount );
        var videoHeight = 125 //Math.round(videoWidth / (9/7));
        
        var videoWidthDiff = (videoWidth * scaling) - videoWidth;
        var videoHeightDiff = (videoHeight * scaling) - videoHeight;
        
      
        
        //set sizes
        sliderFrame.width(windowWidth);
        sliderFrame.height(videoHeight * scaling);
        
        
        //sliderFrame.css("top", (videoHeightDiff / 2));
        
        sliderContainer.height(videoHeight * scaling);
        sliderContainer.width((videoWidth * videoCount) + videoWidthDiff);
        sliderContainer.css("top", (videoHeightDiff / 2));
        sliderContainer.css("margin-left", (controlsWidth));
        
        slide.height(videoHeight);
        slide.width(videoWidth);
    }
    function onNext(e){
      let container =  $(this).parent().find('.slider-container');
      let delta = $(container).position().left - scrollDiff;
      let videoCount = $(container).children().length;
      let sliderCount = Math.ceil(videoCount / showCount);

      currentSliderCount = Math.floor(Math.abs($(container).position().left) / scrollDiff);

      $(container).animate({
          left: delta
      }, 300, function(){ 
          if(currentSliderCount >= sliderCount-1){
              $(container).css("left", 0);
              currentSliderCount = 0;
              scrollWidth = 0;
          }else{
              currentSliderCount++;
          }
      });        
    }
    function onPrev(e){
      let container =  $(this).parent().find('.slider-container');
      let delta = $(container).position().left + scrollDiff;
      let videoCount = $(container).children().length;
      let sliderCount = Math.ceil(videoCount / showCount);

      currentSliderCount = Math.abs($(container).position().left) / scrollDiff;

      $(container).animate({
          left: + delta
      }, 300, function(){ 
        if(currentSliderCount <= 0){
            currentSliderCount = sliderCount-1;
            $(container).css("left", -scrollDiff * currentSliderCount );
        }else{
          currentSliderCount--;
        }
      });
    }
    function controls(){
        var prev = $(".prev");
        var next = $(".next");
        next.on("click", onNext);
        prev.on("click", onPrev);

        const callTrigger = function(){
          $(".next").trigger("click");
        }
        setInterval(callTrigger,30000);
    };
    function toggleScroll(e){
      autoScroll = !autoScroll;
      storage.setItem("autoscroll",autoScroll);
      $('.carousel').carousel('dispose');
      if(autoScroll){
        $('.carousel').carousel({interval:10000});
      } else{
        $('.carousel').carousel({interval:false});
      }
    }

block navigation
  nav(class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" style="min-height:80px;top:80px;justify-content:unset")
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rebblSubNav" aria-controls="rebblSubNav" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    a(class="navbar-brand d-md-none d-lg-none d-xl-none " href="#")= "STANDINGS - " + league 
    div(class="collapse navbar-collapse" id="rebblSubNav")
      -let style = company === "" ? "margin:0 auto" : ""
      ul(class="navbar-nav" style=style)
        - if (company === "")
          +nav-link("Upcoming games", "/rebbl/upcoming")
          +nav-link("Ongoing games", "/rebbl/ongoing")
          +nav-link("Star Players", "/bloodbowl/starplayers")
          +nav-link("Legendary players", "/bloodbowl/legendaryplayers")
          +nav-link("Account", "/account")
        - if (company === "rebbrl")
          +nav-link("Upcoming games", "/rebbrl/upcoming")
        - if (company === "rebbl")
          +nav-link("Upcoming games", "/rebbl/upcoming")
          +nav-link("Challenger Cup", "rebbl/playoffs/Challenger's Cup XIII")
          +nav-link("Playoffs", "rebbl/playoffs/REBBL Playoffs Season 13")
          +nav-link("OSI", "/rebbl/Off Season International")
          +nav-link("GREENHORN", "/rebbl/Greenhorn Cup")
          +nav-link("RPL", "/perpetual")
          +nav-link("CRIPPLE", "/cripple/standings")



block content
  
  div(class="container-flex no-gutters")
    div(class="col-12 no-gutters")
      h2(style="margin-left:50px;margin-top:10px") ANNOUNCEMENTS
      div(class="slider-frame")
        div(class="btn prev")
          i(class="fa fa-chevron-left" style="position: absolute;top: 47%;")
        div(class="btn next")
          i(class="fa fa-chevron-right" style="position: absolute;top: 47%;")
        div(class="slider-container")
          for announcement in data.announcements.sort((a,b) => a.date > b.date ? -1 : 1).splice(0,5)
            div(class="slide")
              div(class="col-12 no-gutters slide-gutter" style="padding:0 15px;")
                div(class="row col-12 no-gutters slide-overflow" style="border:1px dashed  rgb(154, 90, 10);")
                  div(class="col-2 no-gutters")
                      a(target="_blank" href=announcement.url title=announcement.title)
                        img(src="https://cdn2.rebbl.net/images/small-fist.png" style="width:40px;margin-left: 7px;margin-top:3px")
                  div(class="col-10 no-gutters")
                    a(href=announcement.url target="_blank")= announcement.title
                    - let date = new Date(announcement.date *1000)
                  span(class="TeamLabel-coach pull-left" style="position:absolute;bottom:0px")= date.toISOString().substring(0,10) 
    div(class="row")
      div(class="col-lg-12 d-lg-block d-md-none")
        br
      div
        label(class="switch")
          input(type="checkbox" id="scroll-switch")
          span(class="btn-slider")
        | autoscroll matchresults
    div(class="row" style="justify-content: center")
      div(class="col-lg-6 col-md-12 no-gutters")
        -let titleMain = company === "" ? "LATEST REBBL GAMES" : `LATEST ${company} GAMES`
        -let urlMain = company === "" ? "rebbl" : company
        a(href=`/${urlMain}`)
          h2(style="margin-left:50px;margin-top:10px")= titleMain
        div( id="leftgames" class="col-12 carousel slide" data-ride="carousel")
          ol(class="carousel-indicators" style="bottom:unset;top:0px;")
            li(data-target="#leftgames" data-slide-to="0" class="active")
            li(data-target="#leftgames" data-slide-to="1" )
            li(data-target="#leftgames" data-slide-to="2" )
            li(data-target="#leftgames" data-slide-to="3" )
          br(style="line-height:15px")
          div(class="carousel-inner")

            - for(var x=0; x<4;x++)
              div(class="carousel-item " + (x === 0 ? "active" : "") style="background-color:unset" )
                for match,index in data.rebbl.slice(x*5,5*x + 5)
                  div(class="col-12 matchDiv")    
                    -let url=`/${urlMain}/match/${match.match_uuid}`
                    a(href=url class="MatchRow-contentWrapper" target="_blank")
                      div(class="row col-12 no-gutters" style="margin: 0 auto;")
                        div(class="col-md-1 d-none d-md-block no-gutters" style="text-align:center") 
                          img(src=`https://cdn2.rebbl.net/images/logo/logo_${match.opponents[0].team.logo.toLowerCase()}.png`)
                        div(class="col-md-3 col-4  no-gutters")
                          div(class="col-md-12 no-gutters" style="font-size:16px")
                            span(class="pull-left")= match.opponents[0].team.name
                            br
                            span(class="TeamLabel-coach pull-left")= match.opponents[0].coach.name
                        div(class="col-4 no-gutters")
                          div(class="col-5 row no-gutters"  style="margin:0 auto;text-align:center")
                            div(class="col-5" style="font-size:1.25rem;text-align:center") 
                              -if(match.winner && match.winner.coach.id === match.opponents[0].coach.id)
                                strong(class="TeamLabel-coach" style="font-size:inherit")= match.opponents[0].team.score
                              -else
                                span= match.opponents[0].team.score
                            div(class="col-2" style="font-size:1.25rem;text-align:center") -
                            div(class="col-5" style="font-size:1.25rem;text-align:center")
                              -if(match.winner && match.winner.coach.id === match.opponents[1].coach.id)
                                strong(class="TeamLabel-coach" style="font-size:inherit")= match.opponents[1].team.score
                              -else
                                span= match.opponents[1].team.score
                        div(class="col-md-3 col-4 no-gutters")
                            div(class="col-md-12 no-gutters" style="font-size:16px")
                              span(class="pull-right" )= match.opponents[1].team.name
                              br
                              span(class="TeamLabel-coach pull-right")= match.opponents[1].coach.name        
                        div(class="col-md-1 d-none d-md-block no-gutters" style="text-align:center")
                          img(src=`https://cdn2.rebbl.net/images/logo/logo_${match.opponents[1].team.logo.toLowerCase()}.png`)        
                    div(class="divSlider left row")
                      -let league = match.league
                      div(class="col-2")
                        -if (match.league.toLowerCase() === 'rebbl - big o')
                          -league="Big O"
                          img(src="https://cdn2.rebbl.net/images/logo/logo_amazon_14.png" )
                        -if (match.league.toLowerCase() === 'rebbl - gman')
                          -league="Gman"
                          img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_23.png" )
                        -if (match.league.toLowerCase() === 'rebbl - rel')
                          -league="REL"
                          img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_27.png" )
                        -if (match.league.toLowerCase() === 'gman rampup')
                          -league="rampup"
                          img(src="https://cdn2.rebbl.net/images/logo/logo_human_15.png" )
                        -if (match.league.toLowerCase() === 'rel rampup')
                          -league="rampup"
                          img(src="https://cdn2.rebbl.net/images/logo/logo_orc_17.png" )
                        -if (match.league.toLowerCase() === 'rebbrl college league' || match.league.toLowerCase() === 'rebbrl upstarts' || match.league.toLowerCase() === 'rebbrl minors league')
                          img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_27.png" )
                      div(class="col-9 offset-1")
                        div
                          a(href=`/${urlMain}/${league}` style="font-size:16px")= match.league.replace(/rebbl - /i,'' )
                        div
                          a(href=href=`/${urlMain}/${league}/${match.competition}` style="font-size:0.8rem")= match.competition.replace(/10 - /i,'')
      div(class="col-lg-6 col-md-12 no-gutters")
        - let titleSide = company === "" ? "LATEST REBBRL GAMES" : "LATEST SIDE LEAGUE GAMES"
        - titleSide = company === "rebbrl" ? "LATEST MINORS GAMES" : titleSide
        - let urlFix = company === "" ? "rebbrl" : company
        a(href=`/${urlFix}`)
          h2(style="margin-left:50px;margin-top:10px")= titleSide      
        div( id="rightgames" class="col-12 carousel slide" data-ride="carousel")
          ol(class="carousel-indicators" style="bottom:unset;top:0px;")
            li(data-target="#rightgames" data-slide-to="0" class="active" )
            li(data-target="#rightgames" data-slide-to="1")
            li(data-target="#rightgames" data-slide-to="2")
            li(data-target="#rightgames" data-slide-to="3")
          br(style="line-height:15px")
          div(class="carousel-inner")

            - for(var x=0; x<4;x++)
              div(class="carousel-item " + (x === 0 ? "active" : "") style="background-color:unset" )
                for match,index in data.sides.slice(x*5,5*x + 5)
                  div(class="col-12 matchDiv")    
                    -let url=`/${urlMain}/match/${match.match_uuid}`
                    a(href=url class="MatchRow-contentWrapper" target="_blank")
                      div(class="row col-md-12 no-gutters" style="margin: 0 auto;")
                        div(class="col-md-1 d-none d-md-block no-gutters" style="text-align:center") 
                          img(src=`https://cdn2.rebbl.net/images/logo/logo_${match.opponents[0].team.logo.toLowerCase()}.png`)
                        div(class="col-md-3 col-sm-4  no-gutters")
                          div(class="col-md-12 no-gutters" style="font-size:16px")
                            span(class="pull-left")= match.opponents[0].team.name
                            br
                            span(class="TeamLabel-coach pull-left")= match.opponents[0].coach.name
                        div(class="col-4 no-gutters")
                          div(class="col-5 row no-gutters"  style="margin:0 auto;text-align:center")
                            div(class="col-5" style="font-size:1.25rem;text-align:center") 
                              -if(match.winner && match.winner.coach.id === match.opponents[0].coach.id)
                                strong(class="TeamLabel-coach" style="font-size:inherit")= match.opponents[0].team.score
                              -else
                                span= match.opponents[0].team.score
                            div(class="col-2" style="font-size:1.25rem;text-align:center") -
                            div(class="col-5" style="font-size:1.25rem;text-align:center")
                              -if(match.winner && match.winner.coach.id === match.opponents[1].coach.id)
                                strong(class="TeamLabel-coach" style="font-size:inherit")= match.opponents[1].team.score
                              -else
                                span= match.opponents[1].team.score
                        div(class="col-md-3 col-sm-4 no-gutters")
                            div(class="col-md-12 no-gutters" style="font-size:16px")
                              span(class="pull-right" )= match.opponents[1].team.name
                              br
                              span(class="TeamLabel-coach pull-right")= match.opponents[1].coach.name        
                        div(class="col-md-1 d-none d-md-block no-gutters" style="text-align:center")
                          img(src=`https://cdn2.rebbl.net/images/logo/logo_${match.opponents[1].team.logo.toLowerCase()}.png`)   
                    div(class="divSlider right row")
                      -let league = match.league
                      div(class="col-9")
                        div
                          a(href=`/${urlMain}/${league}` style="font-size:16px")= match.league.replace(/rebbl - /i,'' )
                        div
                          a(href=href=`/${urlMain}/${league}/${match.competition}` style="font-size:0.8rem")= match.competition.replace(/10 - /i,'')
                      div(class="col-2 ")
                        -if (match.league.toLowerCase() === 'rebbl one minute league')
                          -league= "One Minute"
                          img(src="https://cdn2.rebbl.net/images/logo/logo_human_01.png" )
                        -if (match.league.toLowerCase() === 'the rebbl rabble mixer')
                          -league="rabble"
                          img(src="https://cdn2.rebbl.net/images/logo/logo_highelf_20.png" )
                        -if (match.league.toLowerCase() === 'xscessively elfly league')
                          img(src="https://cdn2.rebbl.net/images/logo/logo_highelf_08.png" )
                        -if (match.league.toLowerCase() === 'rebbll ')
                          -league = "rebbll"     
                          img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_14.png" )                                           
                        -if (match.league.toLowerCase() === 'rebbl - big o')
                          -league="Big O"
                          img(src="https://cdn2.rebbl.net/images/logo/logo_amazon_14.png" )
                        -if (match.league.toLowerCase() === 'rebbl - gman')
                          -league="Gman"
                          img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_23.png" )
                        -if (match.league.toLowerCase() === 'rebbl - rel')
                          -league="REL"
                          img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_27.png" )
                        -if (match.league.toLowerCase() === 'gman rampup')
                          -league="rampup"
                          img(src="https://cdn2.rebbl.net/images/logo/logo_human_15.png" )
                        -if (match.league.toLowerCase() === 'rel rampup')
                          -league="rampup"
                          img(src="https://cdn2.rebbl.net/images/logo/logo_orc_17.png" )
                        -if (match.league.toLowerCase() === 'rebbrl college league' || match.league.toLowerCase() === 'rebbrl upstarts' || match.league.toLowerCase() === 'rebbrl minors league')
                          img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_27.png" )                          
    - if (data.upcoming.length > 0)
      div(class="row")
        div(class="col-lg-6 col-md-12 no-gutters")
          h2(style="margin-left:50px;margin-top:10px") UPCOMING GAMES
          div( id="upcoming" class="col-12 carousel slide" data-ride="carousel")
            - var l = Math.floor(data.upcoming.length/5) +1;
            ol(class="carousel-indicators" style="bottom:unset;top:0px;")
              - for(var x=0; x<l;x++)
                li(data-target="#upcoming" data-slide-to=x class=(x===0?"active":""))
            br(style="line-height:15px")
            div(class="carousel-inner")
              - for(var x=0; x<l;x++)
                div(class="carousel-item " + (x === 0 ? "active" : "") style="background-color:unset" )
                  for match,index in data.upcoming.slice(x*5,5*x + 5)      
                    div(class="col-12")    
                      -let url=`/${company === "" ? "rebbl" : company}/match/unplayed/${match.contest_id}`
                      div(class="row col-md-12 no-gutters" style="margin: 0 auto;")
                        a(href=url class="col-md-11 MatchRow-contentWrapper" target="_blank")
                          div(class="col-md-3 col-sm-4  no-gutters")
                            div(class="col-md-12 no-gutters" style="font-size:16px")
                              span(class="pull-left")= match.opponents[0].team.name
                              br
                              span(class="TeamLabel-coach pull-left")= match.opponents[0].coach.name
                          div(class="row col-4 no-gutters")
                            div(class="col-2" style="font-size:1rem;text-align:center") 
                              img(src=`https://cdn2.rebbl.net/images/logo/logo_${match.opponents[0].team.logo.toLowerCase()}.png`)
                            div(class="col-8" style="font-size:1rem;text-align:center") 
                                span(style="display:block;margin-left:auto;margin-right:auto")= match.date + "UTC"
                            div(class="col-2" style="font-size:1rem;text-align:center")
                              img(src=`https://cdn2.rebbl.net/images/logo/logo_${match.opponents[1].team.logo.toLowerCase()}.png`) 
                          div(class="col-md-4 col-sm-4 no-gutters")
                              div(class="col-md-12 no-gutters" style="font-size:16px")
                                span(class="pull-right" )= match.opponents[1].team.name
                                br
                                span(class="TeamLabel-coach pull-right")= match.opponents[1].coach.name        
                        div(class="col-md-1 no-gutters")
                          -if (match.stream)
                            a(target="_blank" href=match.stream.url title=match.stream.name)
                              img(src="/images/glitch.png" style="width:32px;height:32px;margin-left: 7px;")

