extends ../no-cache-sub-layout.pug
include ../nav-link

block vars
  
  - let options = {active: league, title: "REBBL SEASON 8", company:data.company}
  - let fullJquery = true
  - if (!active) { var active =  (options && options.active) ? options.active : "" }
  - let company = data.company || "";



block scripts
  - if (process.env.NODE_ENV === 'production')
      link(rel="stylesheet" href="https://cdn2.rebbl.net/styles/slider.css")
  - else
    link(rel="stylesheet" href="styles/slider.css")
    
  script.
    var scaling = 1.50;
    //count
    var showCount = 4;
        

    $(document).ready(function(){
        //$('.slider-container .slide:nth-last-child(-n+4)').prependTo('.slider-container');
        //init();
        
         $(".slider-container").each(init)

    });
    $( window ).resize(function() {
        init();
    });
    function init(index, container){
        var currentSliderCount = 0;

        var videoCount = $(".slider-container").children().length;
        
        var sliderCount = videoCount / showCount;
        var controlsWidth = 40;

        var scollWidth = 0;
        // elements
        var win = $(window);
        var sliderFrame = $(".slider-frame");
        var sliderContainer = $(".slider-container");
        var slide = $(".slide");
        
        //counts
        var scollWidth = 0;
    
        
        //sizes
        var windowWidth = win.width();
        var frameWidth = win.width() - 80;
        

        showCount = Math.floor(windowWidth/332);
        var scrollDiff = showCount* 332;
        var videoWidth = 332 //((windowWidth - controlsWidth * 2) / showCount );
        var videoHeight = 253 //Math.round(videoWidth / (9/7));
        
        var videoWidthDiff = (videoWidth * scaling) - videoWidth;
        var videoHeightDiff = (videoHeight * scaling) - videoHeight;
        
      
        
        //set sizes
        sliderFrame.width(windowWidth);
        sliderFrame.height(videoHeight * scaling);
        
        
        //sliderFrame.css("top", (videoHeightDiff / 2));
        
        sliderContainer.height(videoHeight * scaling);
        sliderContainer.width((videoWidth * videoCount) + videoWidthDiff);
        sliderContainer.css("top", (videoHeightDiff / 2));
        sliderContainer.css("margin-left", (controlsWidth));
        
        slide.height(videoHeight);
        slide.width(videoWidth);
        
        // controls
        controls(container, scrollDiff, scollWidth);
    }
    function controls(container,frameWidth, scollWidth){
        var prev = $(container).parent().find(".prev");
        var next = $(container).parent().find(".next");

        next.on("click", function(){
            //let container =  $(this).parent().find('.slider-container');
            let delta = $(container).position().left - frameWidth;
            let videoCount = $(container).children().length;
            let sliderCount = Math.ceil(videoCount / showCount);

            let currentSliderCount = Math.floor(Math.abs($(container).position().left) / frameWidth);

            $(container).animate({
                left: delta
            }, 300, function(){ 
                if(currentSliderCount >= sliderCount-1){
                    $(container).css("left", 0);
                    currentSliderCount = 0;
                    scollWidth = 0;
                }else{
                    currentSliderCount++;
                }
            });        
        });
        prev.on("click", function(){
            //let container =  $(this).parent().find('.slider-container');
            let delta = $(container).position().left + frameWidth;
            let videoCount = $(container).children().length;
            let sliderCount = Math.ceil(videoCount / showCount);

            let currentSliderCount = Math.abs($(container).position().left) / frameWidth;

            $(container).animate({
                left: + delta
            }, 300, function(){ 
              if(currentSliderCount <= 0){
                  currentSliderCount = sliderCount-1;
                  $(container).css("left", -frameWidth * currentSliderCount );
              }else{
                currentSliderCount--;
              }
            });
        });
    };

block navigation
  nav(class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" style="min-height:80px;top:80px;justify-content:unset")
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rebblSubNav" aria-controls="rebblSubNav" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    a(class="navbar-brand d-md-none d-lg-none d-xl-none " href="#")= "STANDINGS - " + league 
    div(class="collapse navbar-collapse" id="rebblSubNav")
      -let style = company === "" ? "margin:0 auto" : ""
      ul(class="navbar-nav" style=style)
        - if (company === "")
          +nav-link("Upcoming games", "/rebbl/upcoming")
          +nav-link("Starplayers", "/bloodbowl/starplayers")
          +nav-link("Legendary players", "/bloodbowl/legendaryplayers")
          +nav-link("Account", "/account")
        - if (company === "rebbrl")
          +nav-link("Upcoming games", "/rebbrl/upcoming")
        - if (company === "rebbl")
          +nav-link("Upcoming games", "/rebbl/upcoming")
          +nav-link("Challenger Cup", "rebbl/playoffs/REBBL Challenger's Cup XI")
          +nav-link("Playoffs", "rebbl/playoffs/REBBL Playoffs Season 11")
          +nav-link("OI", "/rebbl/Open Invitational")
          +nav-link("GREENHORN", "/rebbl/Greenhorn Cup")
          +nav-link("EUROGAMER", "/rebbl/eurogamer")
          +nav-link("CRIPPLE", "/cripple/standings")



block content
  
  div(class="container-flex no-gutters")
    div(class="row col-12 no-gutters")
      div(class="slider-frame")
        -let titleMain = company === "" ? "LATEST REBBL GAMES" : `LATEST ${company} GAMES`
        -let urlMain = company === "" ? "rebbl" : company
        a(href=`/${urlMain}`)
          h2(style="margin-left:50px;margin-top:10px")= titleMain
        div(class="btn prev")
          i(class="fa fa-chevron-left" style="position: absolute;top: 47%;")
        div(class="btn next")
          i(class="fa fa-chevron-right" style="position: absolute;top: 47%;")
        div(class="slider-container")
          for match in data.rebbl
            div(class="slide")
              div(class="col-12 no-gutters slide-gutter" style="padding:0 15px;")
                div(class="row col-12 no-gutters slide-overflow" style="border:1px dashed  rgb(154, 90, 10);")
                  -let league = match.league
                  div(class="col-2 no-gutters")
                    -if (match.league.toLowerCase() === 'rebbl - big o')
                      -league="Big O"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_amazon_14.png" )
                    -if (match.league.toLowerCase() === 'rebbl - gman')
                      -league="Gman"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_23.png" )
                    -if (match.league.toLowerCase() === 'rebbl - rel')
                      -league="REL"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_27.png" )
                    -if (match.league.toLowerCase() === 'gman rampup')
                      -league="rampup"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_human_15.png" )
                    -if (match.league.toLowerCase() === 'rel rampup')
                      -league="rampup"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_orc_17.png" )
                    -if (match.league.toLowerCase() === 'rebbrl college league' || match.league.toLowerCase() === 'rebbrl upstarts' || match.league.toLowerCase() === 'rebbrl minors league')
                      img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_27.png" )
                  div(class="col-10 no-gutters")
                    a(href=`/${urlMain}/${league}`)= match.league.replace(/rebbl - /i,'')
                    br
                    a(href=href=`/${urlMain}/${league}/${match.competition}` style="font-size:0.9rem")= match.competition.replace(/10 - /i,'')
                  div(class="col-12" style="margin-bottom:10px")    
                    -let url=`/${urlMain}/match/${match.match_uuid}`
                    a(href=url class="MatchRow-contentWrapper")
                      div(class="row col-12 no-gutters" style="margin: 0 auto;")
                        div(class="col-10 no-gutters")
                          div(class="col-12 no-gutters" style="font-size:0.8rem")
                            span(class="pull-left")= match.opponents[0].team.name
                            br
                            span(class="TeamLabel-coach pull-left")= match.opponents[0].coach.name
                        div(class="col-2 no-gutters" style="font-size:2rem;text-align:center") 
                          img(src=`https://cdn2.rebbl.net/images/logo/logo_${match.opponents[0].team.logo.toLowerCase()}.png`)
                        div(class="row col-12 no-gutters")
                          div(class="col-5 row no-gutters"  style="margin:0 auto;text-align:center")
                            div(class="col-5" style="font-size:2rem;text-align:center") 
                              -if(match.winner && match.winner.coach.id === match.opponents[0].coach.id)
                                strong= match.opponents[0].team.score
                              -else
                                span= match.opponents[0].team.score
                            div(class="col-2" style="font-size:2rem;text-align:center") -
                            div(class="col-5" style="font-size:2rem;text-align:center")
                              -if(match.winner && match.winner.coach.id === match.opponents[1].coach.id)
                                strong= match.opponents[1].team.score
                              -else
                                span= match.opponents[1].team.score

                        div(class="col-2 no-gutters" style="font-size:1.5rem;text-align:center")
                          img(src=`https://cdn2.rebbl.net/images/logo/logo_${match.opponents[1].team.logo.toLowerCase()}.png`)
                        div(class="col-10 no-gutters")
                          div(class="col-12 no-gutters" style="font-size:0.8rem")
                            span(class="pull-right" style="font-size:0.8rem")= match.opponents[1].team.name
                            br
                            span(class="TeamLabel-coach pull-right")= match.opponents[1].coach.name  
                        //div(class="col-12 no-gutters row" style="margin-top:25px")
                          div(class="col-4 align-center")
                            img(src="https://cdn2.rebbl.net/images/skills/Dead.png" style="height:32px;") 
                            span 2
                          div(class="col-4 align-center")
                            img(src="https://cdn2.rebbl.net/images/skills/SmashedHand.png" style="height:32px;")
                            span 3
                          div(class="col-4 align-center")
                            img(class="pull-right" src="https://cdn2.rebbl.net/images/stadium/foodarea.png" style="height:40px;")          
    br
    br
    div(class="row col-12 no-gutters")
      div(class="slider-frame")
        - let titleSide = company === "" ? "LATEST REBBRL GAMES" : "LATEST SIDE LEAGUE GAMES"
        - titleSide = company === "rebbrl" ? "LATEST MINORS GAMES" : titleSide
        - let urlFix = company === "" ? "rebbrl" : company
        a(href=`/${urlFix}`)
          h2(style="margin-left:50px;margin-top:10px")= titleSide
        div(class="btn prev")
          i(class="fa fa-chevron-left" style="position: absolute;top: 47%;")
        div(class="btn next")
          i(class="fa fa-chevron-right" style="position: absolute;top: 47%;")
        div(class="slider-container")
          for match in data.sides
            div(class="slide")
              div(class="col-12 no-gutters slide-gutter" style="padding:0 15px;")
                div(class="row col-12 no-gutters slide-overflow" style="border:1px dashed  rgb(154, 90, 10);")
                  -let league = match.league
                  div(class="col-2 no-gutters")
                    -if (match.league.toLowerCase() === 'rebbl one minute league')
                      -league= "One Minute"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_human_01.png" )
                    -if (match.league.toLowerCase() === 'the rebbl rabble mixer')
                      -league="rabble"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_highelf_20.png" )
                    -if (match.league.toLowerCase() === 'xscessively elfly league')
                      img(src="https://cdn2.rebbl.net/images/logo/logo_highelf_08.png" )
                    -if (match.league.toLowerCase() === 'rebbll ')
                      -league = "rebbll"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_14.png" )
                    -if (match.league.toLowerCase() === 'rebbrl college league' || match.league.toLowerCase() === 'rebbrl upstarts' || match.league.toLowerCase() === 'rebbrl minors league')
                      img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_27.png" )
                  div(class="col-10 no-gutters")
                    a(href=`/${urlFix}/${league}`)= match.league.replace(/rebbl - /i,'')
                    br
                    a(href=href=`/${urlFix}/${league}/${match.competition}` style="font-size:0.9rem")= match.competition.replace(/season 11 - /i,'')
                  div(class="col-12" style="margin-bottom:10px")    
                    -let url=`/${urlFix}/match/${match.match_uuid}`
                    a(href=url class="MatchRow-contentWrapper")
                      div(class="row col-12 no-gutters" style="margin: 0 auto;")
                        div(class="col-10 no-gutters")
                          div(class="col-12 no-gutters" style="font-size:0.8rem")
                            span(class="pull-left")= match.opponents[0].team.name
                            br
                            span(class="TeamLabel-coach pull-left")= match.opponents[0].coach.name
                        div(class="col-2 no-gutters" style="font-size:2rem;text-align:center") 
                          img(src=`https://cdn2.rebbl.net/images/logo/logo_${match.opponents[0].team.logo.toLowerCase()}.png`)
                        div(class="row col-12 no-gutters")
                          div(class="col-5 row no-gutters"  style="margin:0 auto;text-align:center")
                            div(class="col-5" style="font-size:2rem;text-align:center") 
                              -if(match.winner && match.winner.coach.id === match.opponents[0].coach.id)
                                strong= match.opponents[0].team.score
                              -else
                                span= match.opponents[0].team.score
                            div(class="col-2" style="font-size:2rem;text-align:center") -
                            div(class="col-5" style="font-size:2rem;text-align:center")
                              -if(match.winner && match.winner.coach.id === match.opponents[1].coach.id)
                                strong= match.opponents[1].team.score
                              -else
                                span= match.opponents[1].team.score
                        div(class="col-2 no-gutters" style="font-size:1.5rem;text-align:center")
                          img(src=`https://cdn2.rebbl.net/images/logo/logo_${match.opponents[1].team.logo.toLowerCase()}.png`)
                        div(class="col-10 no-gutters")
                          div(class="col-12 no-gutters" style="font-size:0.8rem")
                            span(class="pull-right" style="font-size:0.8rem")= match.opponents[1].team.name
                            br
                            span(class="TeamLabel-coach pull-right")= match.opponents[1].coach.name  
                        //div(class="col-12 no-gutters row" style="margin-top:25px")
                          div(class="col-4 align-center")
                            img(src="https://cdn2.rebbl.net/images/skills/Dead.png" style="height:32px;") 
                            span 2
                          div(class="col-4 align-center")
                            img(src="https://cdn2.rebbl.net/images/skills/SmashedHand.png" style="height:32px;")
                            span 3
                          div(class="col-4 align-center")
                            img(class="pull-right" src="https://cdn2.rebbl.net/images/stadium/foodarea.png" style="height:40px;")     
    br
    br
    div(class="row col-12 no-gutters")
      div(class="slider-frame")
        h2(style="margin-left:50px;margin-top:10px") UPCOMING GAMES
        div(class="btn prev")
          i(class="fa fa-chevron-left" style="position: absolute;top: 47%;")
        div(class="btn next")
          i(class="fa fa-chevron-right" style="position: absolute;top: 47%;")
        div(class="slider-container")
          for match in data.upcoming
            div(class="slide")
              div(class="col-12 no-gutters slide-gutter" style="padding:0 15px;")
                div(class="row col-12 no-gutters slide-overflow" style="border:1px dashed  rgb(154, 90, 10);")
                  -let league = match.league
                  -let company = "rebbl"
                  div(class="col-2 no-gutters")
                    -if (match.league.toLowerCase() === 'rebbl one minute league')
                      -league= "One Minute"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_human_01.png" )
                    -if (match.league.toLowerCase() === 'the rebbl rabble mixer')
                      -league="rabble"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_highelf_20.png" )
                    -if (match.league.toLowerCase() === 'xscessively elfly league')
                      img(src="https://cdn2.rebbl.net/images/logo/logo_highelf_08.png" )
                    -if (match.league.toLowerCase() === 'rebbll ')
                      -league = "rebbll"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_14.png" )
                    -if (match.league.toLowerCase() === 'rebbl - big o')
                      -league="Big O"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_amazon_14.png" )
                    -if (match.league.toLowerCase() === 'rebbl - gman')
                      -league="Gman"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_23.png" )
                    -if (match.league.toLowerCase() === 'rebbl - rel')
                      -league="REL"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_27.png" )
                    -if (match.league.toLowerCase() === 'rebbrl college league' || match.league.toLowerCase() === 'rebbrl upstarts' || match.league.toLowerCase() === 'rebbrl minors league')
                      -company="rebbrl"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_neutre_27.png" )
                    -if (match.league.toLowerCase() === 'gman rampup')
                      -league="rampup"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_human_15.png" )
                    -if (match.league.toLowerCase() === 'rel rampup')
                      -league="rampup"
                      img(src="https://cdn2.rebbl.net/images/logo/logo_orc_17.png" )                      
                    -if (match.stream)
                      a(target="_blank" href=match.stream.url title=match.stream.name)
                        img(src="/images/glitch.png" style="width:32px;height:32px;margin-left: 7px;")
                  div(class="col-10 no-gutters")
                    a(href=`/${company}/${league}`)= match.league.replace(/rebbl - /i,'')
                    br
                    a(href=href=`/${company}/${league}/${match.competition}` style="font-size:0.9rem")= match.competition.replace(/season 11 - /i,'')

                  div(class="col-12" style="margin-bottom:10px")    
                    -let url=`/${company}/match/unplayed/${match.contest_id}`
                    a(href=url class="MatchRow-contentWrapper")
                      div(class="row col-12 no-gutters" style="margin: 0 auto;")
                        div(class="col-10 no-gutters")
                          div(class="col-12 no-gutters" style="font-size:0.8rem")
                            span(class="pull-left")= match.opponents[0].team.name
                            br
                            span(class="TeamLabel-coach pull-left")= match.opponents[0].coach.name
                        div(class="col-2 no-gutters" style="font-size:2rem;text-align:center") 
                          img(src=`https://cdn2.rebbl.net/images/logo/logo_${match.opponents[0].team.logo.toLowerCase()}.png`)
                        div(class="row col-12 no-gutters")
                          div(class="col-12 row no-gutters"  style="margin:0 auto;text-align:center")
                            span(style="display:block;margin-left:auto;margin-right:auto")= match.date + "UTC"
                        div(class="col-2 no-gutters" style="font-size:1.5rem;text-align:center")
                          img(src=`https://cdn2.rebbl.net/images/logo/logo_${match.opponents[1].team.logo.toLowerCase()}.png`)
                        div(class="col-10 no-gutters")
                          div(class="col-12 no-gutters" style="font-size:0.8rem")
                            span(class="pull-right" style="font-size:0.8rem")= match.opponents[1].team.name
                            br
                            span(class="TeamLabel-coach pull-right")= match.opponents[1].coach.name  
                        //div(class="col-12 no-gutters row" style="margin-top:25px")
                          div(class="col-4 align-center")
                            img(src="https://cdn2.rebbl.net/images/skills/Dead.png" style="height:32px;") 
                            span 2
                          div(class="col-4 align-center")
                            img(src="https://cdn2.rebbl.net/images/skills/SmashedHand.png" style="height:32px;")
                            span 3
                          div(class="col-4 align-center")
                            img(class="pull-right" src="https://cdn2.rebbl.net/images/stadium/foodarea.png" style="height:40px;")