extends ../layout.pug
include ../nav-link

block vars
  - let options = {active: league, title: "REBBL season 11", company:"clan"}
  - let fullJquery = true
  - if (!active) { var active =  (options && options.active) ? options.active : "" }
  - let company = "clan";

block head
  style.
    .MatchRow-contentWrapper--hover:hover .text-info{color:#e67b00 !important}
    .MatchRow-contentWrapper--hover:hover {border-left:0px}
    .highlight:hover {background-color:gainsboro}
block content
  .Background.u-bottomPadding--large.u-topPadding--medium
    .container.navcontainer(data-index="0" id="app" style="max-width:1650px")
      .row.col-12
        .btn-group-toggle(data-toggle="buttons")
          template(v-for="division in divisions")
            label.btn.btn-outline-primary(style="margin-right: 15px" @click="load(division)")
              input(type="radio" checked autocomplete="off")       
              span {{division}}
          label.btn.btn-outline-primary(style="margin-right: 15px" @click="loadCoaches()")
            input(type="radio" checked autocomplete="off")       
            span Coaches
      br
      template(v-if="showCoaches")
        .row.col-12
          .col-2 Clan
          .col-2 Coach
          .col-2 Discord
          .col-2 Reddit
        .row.col-12
          .col-2
            label(style="float: left; margin-left: -75px;") search
            input(v-model="searchClan")
          .col-2
            input(v-model="searchCoach")
          .col-2
            input(v-model="searchDiscord")
          .col-2
            input(v-model="searchReddit")
        template(v-for="coach in filteredCoaches")   
          .row.col-12
            .col-2
              a(target="_blank" v-bind:href="`/clan/clan/${coach.clan}`") {{coach.clan}}
            .col-2 
              a(target="_blank" v-bind:href="`/clan/coach/${coach.coachId}`") {{coach.coach}}
            .col-2 {{coach.discord}}
            .col-2
              a(target="_blank" v-bind:href="`https://old.reddit.com/u/${coach.reddit}`") {{coach.reddit}}


      template(v-if="!showCoaches && !schedule && schedules.length > 0")
        .row
          template(v-for="row in numberOfRows")
            br
            .col.table-striped(style="width:unset;display:unset" )
              .col-12.TableHeader(style="display:block;border-bottom: 3px solid #bdbcbccf;padding-bottom: 2px;text-align:center")
                .Standings-details.Standings-header.highlight(title="") Round {{row}}
              template(v-for="col in numberOfRounds")
                .MatchRow-contentWrapper.MatchRow-contentWrapper--hover(@click="showMatchup(_schedule(row,col))")
                  .MatchRow-team
                    .TeamLabel.TeamLabel--reverse
                      div: img(v-bind:src="'https://cdn2.rebbl.net/' + _schedule(row,col).home.logo" alt="" class="TeamLabel-logo" style="width:unset")
                      .TeamLabel-info.TeamLabel-info--noScore
                        .text-info {{ _schedule(row,col).home.clan }}
                  .MatchRow-status
                    div.MatchStatus.MatchStatus--transparent(style="display:block")
                      template(v-if="isIncomplete(_schedule(row,col))")
                        .text-danger Incomplete
                          br
                      div
                        template(v-if="_schedule(row,col).home.win > _schedule(row,col).away.win")
                          span.MatchStatus-score.is-winner {{_schedule(row,col).home.win}}
                          span.MatchStatus-score -
                          span.MatchStatus-score {{_schedule(row,col).away.draw}}
                          span.MatchStatus-score -
                          span.MatchStatus-score {{_schedule(row,col).away.win}}
                        template(v-else-if="_schedule(row,col).home.win < _schedule(row,col).away.win")
                          span.MatchStatus-score {{_schedule(row,col).home.win}}
                          span.MatchStatus-score -
                          span.MatchStatus-score {{_schedule(row,col).away.draw}}
                          span.MatchStatus-score -
                          span.MatchStatus-score.is-winner {{_schedule(row,col).away.win}}
                        template(v-else)
                          span.MatchStatus-score {{_schedule(row,col).home.win}}
                          span.MatchStatus-score -
                          span.MatchStatus-score {{_schedule(row,col).away.draw}}
                          span.MatchStatus-score -
                          span.MatchStatus-score {{_schedule(row,col).away.win}}
                  .MatchRow-team
                    .TeamLabel
                      div: img(v-bind:src="'https://cdn2.rebbl.net/' + _schedule(row,col).away.logo" alt="" class="TeamLabel-logo" style="width:unset")
                      .TeamLabel-info.TeamLabel-info--noScore
                        .text-info {{ _schedule(row,col).away.clan }}

      template(v-if="!showCoaches && schedule")
        .row.col-12.no-gutters
          .col.text-left
            button.btn.btn-sm.btn-primary(@click="selectedSide=schedule.home" data-toggle="modal" data-target="#newCoach") Substitute coach
          .col.text-right
            button.btn.btn-sm.btn-primary(@click="selectedSide=schedule.away" data-toggle="modal" data-target="#newCoach") Substitute coach      
        .row.col-12.no-gutters
          .col-5
            .row.col-12.border-bottom.border-info.pb-1
              .col-10.media.text-centerd.-flex.flex-wrap.align-items-center
                .media-body
                  h1 
                    a(v-bind:href="`/clan/clan/${schedule.home.clan.name}`" target="_blank") {{ schedule.home.clan.name }}
                img(v-bind:src="`https://cdn2.rebbl.net/${schedule.home.clan.logo}`" style="max-height:120px;max-width:180px")
              .col-2.text-right
                h1 {{schedule.home.win}}
            template(v-if="schedule.matches.length === 0")
              br
              .row
                template(v-for="power in Object.keys(schedule.home.clan.powers)")
                  template(v-if="schedule.home.clan.powers[power] > 0")
                    .p-1
                      button.btn.btn-outline-info.btn-sm(type="button" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-title="powers.find(function(x){return x.key == power}).name" v-bind:data-content="powers.find(function(x){return x.key == power}).description")
                        | {{powers.find(function(x){return x.key == power}).name}} 
                        span.badge.badge-secondary {{schedule.home.clan.powers[power]}}
              br
              .row
                template(v-for="team in schedule.home.clan.teams")
                  template(v-if="team")
                    .p-1
                      a.btn.btn-outline-info.btn-sm(v-bind:href="`/team/${team.team.id}`" target="_blank")
                        img(v-bind:src="`https://cdn2.rebbl.net/images/races/${team.team.idraces}.png`" style="height:40px")
                        span.text-info  {{team.team.name}}
                        img(v-bind:src="`https://cdn2.rebbl.net/images/logo/256x256/logo_${team.team.logo.toLowerCase()}.png`" style="height:40px")
                        br
                        span.badge.badge-success /u/{{reddit(schedule.home.clan,team.coach.name)}}
                        span.badge.badge-warning {{team.coach.name}}
                        span.badge.badge-info TV: {{team.team.nextMatchTV || team.team.value}}

          .col.text-center
            h1 - {{schedule.home.draw}} -
            button.btn.btn-primary.btn-sm(data-toggle="modal" data-target="#clanScore") Change score
          .col-5
            .row.col-12.border-bottom.border-info.pb-1
              .col-2.text-left
                h1  {{schedule.away.win}}
              .col-10.media.text-center.d-flex.flex-wrap.align-items-center
                img(v-bind:src="`https://cdn2.rebbl.net/${schedule.away.clan.logo}`" style="max-height:120px;max-width:180px")
                .media-body
                  h1 
                    a(v-bind:href="`/clan/clan/${schedule.away.clan.name}`" target="_blank") {{schedule.away.clan.name}}
            template(v-if="schedule.matches.length === 0")
              br
              .row
                template(v-for="power in Object.keys(schedule.away.clan.powers)")
                  template(v-if="schedule.away.clan.powers[power] > 0")
                    .p-1
                      button.btn.btn-outline-info.btn-sm(type="button" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-title="powers.find(function(x){return x.key == power}).name" v-bind:data-content="powers.find(function(x){return x.key == power}).description")
                        | {{powers.find(function(x){return x.key == power}).name}} 
                        span.badge.badge-secondary {{schedule.away.clan.powers[power]}}
              br
              .row
                template(v-for="team in schedule.away.clan.teams")
                  template(v-if="team")
                    .p-1
                      a.btn.btn-outline-info.btn-sm(v-bind:href="`/team/${team.team.id}`" target="_blank")
                        img(v-bind:src="`https://cdn2.rebbl.net/images/races/${team.team.idraces}.png`" style="height:40px")
                        span.text-info  {{team.team.name}}
                        img(v-bind:src="`https://cdn2.rebbl.net/images/logo/256x256/logo_${team.team.logo.toLowerCase()}.png`" style="height:40px")
                        br
                        span.badge.badge-success /u/{{reddit(schedule.away.clan,team.coach.name)}}
                        span.badge.badge-warning {{team.coach.name}}
                        span.badge.badge-info TV: {{team.team.nextMatchTV || team.team.value}}
          button.close(type="button" aria-label="Close" style="position: absolute;right: 0;font-size: 2em;" @click="schedule=null")
            span(aria-hidden="true") &times;

        .row.col-12.no-gutters.justify-content-center
          .col-12.row.justify-content-center
            h1 Apply failed Draft Step
          .col-12.row.justify-content-center
            a(v-bind:href="`https://rebbl.net/clandraft/?division=${schedule.competition}&round=${schedule.round}&house=${schedule.house}`" target="_blank") draft result
            button.btn.btn-primary.btn-sm.mx-2(data-toggle="button" @click="doDraftProcess(schedule,'powers')") Powers
            button.btn.btn-primary.btn-sm.mx-2(data-toggle="button" @click="doDraftProcess(schedule,'matches')") Matches
            button.btn.btn-primary.btn-sm.mx-2(data-toggle="button" @click="doDraftProcess(schedule,'post')") Reddit Post
          .col-12.row.justify-content-center
            h1 Register Powers Used
            .col-12.row.justify-content-center
              .col-5
                .row.btn-group-toggle(data-toggle="buttons")
                  template(v-for="power in Object.keys(availablePowers(schedule.home))")
                    template(v-for="t in availablePowers(schedule.home)[power]")
                      .p-1
                        template(v-if="power === 'emergencyIntensiveCare'")
                          button(type="button" v-bind:class="getClass(schedule.home,power,t)" v-bind:aria-pressed="powerUsed(schedule.home,power,t) ? 'true':'false'" data-toggle="button")
                            | {{powers.find(function(x){return x.key == power}).name}} 
                        template(v-else-if="power === 'newBlood'")
                          button(type="button" v-bind:class="getClass(schedule.home,power,t)" @click="selectedSide=schedule.home" data-toggle="modal" data-target="#newBlood")
                            | {{powers.find(function(x){return x.key == power}).name}} 
                        template(v-else-if="power === 'assassination'")
                          button(type="button" v-bind:class="getClass(schedule.home,power,t)" @click="selectedSide=schedule.home;oppositeSide=schedule.away" data-toggle="modal" data-target="#assassination")
                            | {{powers.find(function(x){return x.key == power}).name}} 
                        template(v-else)
                          button(type="button" v-bind:class="getClass(schedule.home,power,t)" @click="togglePower($event,schedule.home,power)" v-bind:aria-pressed="powerUsed(schedule.home,power,t) ? 'true':'false'" data-toggle="button")
                            | {{powers.find(function(x){return x.key == power}).name}} 
              .col
              .col-5
                .row.btn-group-toggle(data-toggle="buttons")
                  template(v-for="power in Object.keys(availablePowers(schedule.away))")
                    template(v-for="t in availablePowers(schedule.away)[power]")
                      .p-1
                        template(v-if="power === 'emergencyIntensiveCare'")
                          button(type="button" v-bind:class="getClass(schedule.away,power,t)" v-bind:aria-pressed="powerUsed(schedule.away,power,t) ? 'true':'false'" data-toggle="button")
                            | {{powers.find(function(x){return x.key == power}).name}} 
                        template(v-else-if="power === 'newBlood'")
                          button(type="button" v-bind:class="getClass(schedule.away,power,t)" @click="selectedSide=schedule.away" data-toggle="modal" data-target="#newBlood")
                            | {{powers.find(function(x){return x.key == power}).name}} 
                        template(v-else-if="power === 'assassination'")
                          button(type="button" v-bind:class="getClass(schedule.away,power,t)" @click="selectedSide=schedule.away;oppositeSide=schedule.home;" data-toggle="modal" data-target="#assassination")
                            | {{powers.find(function(x){return x.key == power}).name}} 
                        template(v-else)
                          button(type="button" v-bind:class="getClass(schedule.away,power,t)" @click="togglePower($event,schedule.away,power)" v-bind:aria-pressed="powerUsed(schedule.away,power,t) ? 'true':'false'" data-toggle="button")
                            | {{powers.find(function(x){return x.key == power}).name}} 

        template(v-if="schedule.matches.length > 0")
          .row.col-12.no-gutters.justify-content-center
            .col-12.row.justify-content-center
              h1 Matches
            template(v-for="match in sortedMatches")
              .row.col-12.justify-content-center.highlight
                .row.col-12.justify-content-center(style="color:#cacaca")
                  |  {{match.competition}}
                .col-2 
                  template(v-if="match.counted === true")
                    template(v-if="isPlayedButUnconfirmed(match)")
                      span.badge.badge-warning unconfirmed   
                    template(v-if="isPlayed(match) && hasEIC(match,0)")
                      button(type="button" class="btn btn-outline-info btn-sm active float-right" @click="loadEicPlayers(match, 0)"  data-toggle="modal" data-target="#eicUse")
                        | EIC      
                a.col-8.MatchRow-contentWrapper.MatchRow-contentWrapper--hover(v-bind:href="match.match_uuid ? `/clan/match/${match.match_uuid}` : '#'" target="_blank")
                  .MatchRow-team
                    .TeamLabel.TeamLabel--reverse
                      div: img(v-bind:src="`https://cdn2.rebbl.net/images/logo/256x256/logo_${match.opponents[0].team.logo.toLowerCase()}.png`" alt="" class="TeamLabel-logo")
                      .TeamLabel-info.TeamLabel-info--noScore
                        .text-info {{ match.opponents[0].team.name }}
                  .MatchRow-status.row
                    .MatchStatus.MatchStatus--transparent
                      span
                        template(v-if="match.opponents[0].team.score > match.opponents[1].team.score")
                          span.MatchStatus-score.is-winner {{match.opponents[0].team.score}}
                          span.MatchStatus-score -
                          span.MatchStatus-score {{match.opponents[1].team.score}}
                        template(v-else-if="match.opponents[0].team.score < match.opponents[1].team.score")
                          span.MatchStatus-score {{match.opponents[0].team.score}}
                          span.MatchStatus-score -
                          span.MatchStatus-score.is-winner {{match.opponents[1].team.score}}
                        template(v-else)
                          span.MatchStatus-score {{match.opponents[0].team.score}}
                          span.MatchStatus-score -
                          span.MatchStatus-score {{match.opponents[1].team.score}}
                    template(v-if="match.eic")
                      .justify-content-center 
                        span.badge.badge-success= "EIC!"
                  .MatchRow-team
                    .TeamLabel
                      div: img(v-bind:src="`https://cdn2.rebbl.net/images/logo/256x256/logo_${match.opponents[1].team.logo.toLowerCase()}.png`" alt="" class="TeamLabel-logo")
                      .TeamLabel-info.TeamLabel-info--noScore
                        .text-info {{  match.opponents[1].team.name  }}
                .col-2
                  template(v-if="match.counted === true && match.match_uuid !== null")
                    button.mx-1.btn.btn-success.btn-sm(type="button" @click="refreshMatch(match.match_uuid)") 
                      i(class="fa fa-refresh")  
                  template(v-if="isPlayed(match) &&  hasEIC(match, 1)")
                    button.btn.btn-outline-info.btn-sm.active(type="button" @click="loadEicPlayers(match, 1)"  data-toggle="modal" data-target="#eicUse")
                      | EIC      
                  template(v-if="match.counted === true && isPlayedButUnconfirmed(match)")
                    button.btn.btn-primary.btn-sm(type="button" @click="resetMatch(match)") Reset Game
                  template(v-if="!match.counted && match.match_uuid === null")
                    button.btn.btn-primary.btn-sm(type="button" @click="abandonMatch(match)") Abandon Game
                  template(v-if="match.counted === true && match.match_uuid !== null")
                    button.mx-1.btn.btn-primary.btn-sm(type="button" data-toggle="modal" data-target="#clanScore" @click="selectedMatch=match") Change score
        template(v-if="loadingMissingGames")        
          .row.col-12.no-gutters.justify-content-center
            .col-12.row.justify-content-center
              i(class="fa fa-spinner fa-spin" style="margin-top:250px;font-size:96px;color: #e67b00;")
        template(v-if="missingGames.length > 0")
          .row.col-12.no-gutters.justify-content-center
            .col-12.row.justify-content-center
              h2 Not Started
            template(v-for="match in missingGames")
              .row.col-12.justify-content-center.highlight
                .row.col-12.justify-content-center(style="color:#cacaca")
                  |  {{match.competitionName}}
                .col-12.MatchRow-contentWrapper.MatchRow-contentWrapper--hover
                  .MatchRow-team
                    .TeamLabel.TeamLabel--reverse
                      div: img(v-bind:src="`https://cdn2.rebbl.net/images/logo/256x256/logo_${match.coaches[0].logo.toLowerCase()}.png`" alt="" class="TeamLabel-logo")
                      .TeamLabel-info.TeamLabel-info--noScore
                        .text-info {{ match.coaches[0].teamName }}
                        .TeamLabel-coach
                          template(v-if="match.coaches[0].notAcceptedTicket")
                            span.badge.badge-danger {{ match.coaches[0].coachName }}
                          template(v-else)
                            span.badge.badge-success {{ match.coaches[0].coachName }}
                  .MatchRow-status.row
                    .MatchStatus.MatchStatus--transparent
                      span
                          span.MatchStatus-score &nbsp;
                          span.MatchStatus-score -
                          span.MatchStatus-score &nbsp;
                  .MatchRow-team
                    .TeamLabel(v-if="match.coaches.length > 1")
                      div: img(v-bind:src="`https://cdn2.rebbl.net/images/logo/256x256/logo_${match.coaches[1].logo.toLowerCase()}.png`" alt="" class="TeamLabel-logo")
                      .TeamLabel-info.TeamLabel-info--noScore
                        .text-info {{  match.coaches[1].teamName  }}
                        .TeamLabel-coach
                          template(v-if="match.coaches[1].notAcceptedTicket")
                            span.badge.badge-danger {{ match.coaches[1].coachName }}
                          template(v-else)
                            span.badge.badge-success {{ match.coaches[1].coachName }}

      .modal.fade(tabindex='-1' role='dialog' id="clanScore")
        .modal-dialog.modal-dialog-centered(role='document')
          .modal-content
            .modal-header
              slot(name="header")
                h5.modal-title Change score
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
            .modal-body
              template(v-if="selectedMatch")
                .input-group.mb-3
                  .input-group-prepend
                    span#home.input-group-text home score
                  input.form-control(type='text' aria-describedby='home' v-model="selectedMatch.opponents[0].team.score")
                .input-group.mb-3
                  .input-group-prepend
                    span#away.input-group-text away score
                  input.form-control(type='text' aria-describedby='away' v-model="selectedMatch.opponents[1].team.score")            
              template(v-else-if="schedule")
                .input-group.mb-3
                  .input-group-prepend
                    span#home.input-group-text home wins
                  input.form-control(type='text' aria-describedby='home' v-model="schedule.home.win")
                .input-group.mb-3
                  .input-group-prepend
                    span#homedraw.input-group-text home draws
                  input.form-control(type='text' aria-describedby='homedraw' v-model="schedule.home.draw")
                .input-group.mb-3
                  .input-group-prepend
                    span#homeloss.input-group-text home losses
                  input.form-control(type='text' aria-describedby='homeloss' v-model="schedule.home.loss")
                .input-group.mb-3
                  .input-group-prepend
                    span#away.input-group-text away wins
                  input.form-control(type='text' aria-describedby='away' v-model="schedule.away.win")
                .input-group.mb-3
                  .input-group-prepend
                    span#awaydraw.input-group-text away draws
                  input.form-control(type='text' aria-describedby='awaydraw' v-model="schedule.away.draw")
                .input-group.mb-3
                  .input-group-prepend
                    span#awayloss.input-group-text away losses
                  input.form-control(type='text' aria-describedby='awayloss' v-model="schedule.away.loss")

            .modal-footer
              slot(name="footer")
                button.btn.btn-secondary(type='button' data-dismiss='modal' @click="reset") Cancel &amp; Close
                template(v-if="selectedMatch")
                  button.btn.btn-primary(type='button' @click="saveMatchScore") Save changes
                template(v-else-if="schedule")
                  button.btn.btn-primary(type='button' @click="saveClanScore") Save changes

      .modal.fade(tabindex='-1' role='dialog' id="eicUse")
        .modal-dialog.modal-dialog-centered(role='document')
          .modal-content
            .modal-header
              slot(name="header")
                h5.modal-title Use Emergency Intensive Care for {{selectedSide ? selectedSide.clan.name : ''}}
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
            .modal-body
              template(v-if="selectedTeam")
                .input-group.mb-3
                  .input-group-prepend
                    span#home.input-group-text player
                    select.form-control(v-model="selectedPlayer")
                      option(v-for="player in eicPlayers" v-bind:value="player.id") {{ player.name }}
            .modal-footer
              slot(name="footer")
                button.btn.btn-secondary(type='button' data-dismiss='modal' @click="reset") Cancel &amp; Close
                button.btn.btn-primary(type='button' @click="saveEICUse") Use                  

      .modal.fade(tabindex='-1' role='dialog' id="newBlood")
        .modal-dialog.modal-dialog-centered(role='document')
          template(v-if="selectedSide !== null")
            .modal-content
              .modal-header
                slot(name="header")
                  h5.modal-title Apply New Blood for {{`[${selectedSide.clan.name}]`}}
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
              .modal-body
                .input-group-prepend
                  span#home.input-group-text Replace
                  select.form-control(v-model="selectedTeam")
                    option(v-for="team in selectedSide.clan.teams" v-bind:value="team.team.id") {{ team.team.name }}
                .input-group-prepend.my-1
                  span#home.input-group-text with
                  input(type="text" v-model="newBloodTeam")
                  .flex
                    .m-1.btn.btn-primary.btn-sm(type="button" @click="checkTeam") 
                      i(class="fa fa-search")
                    template(v-if="newBloodOK")
                      .m-1.btn.btn-success.btn-sm(type="button") 
                        i(class="fa fa-check") 
                    template(v-if="newBloodOK !== null && !newBloodOK")
                      .m-1.btn.btn-danger.btn-sm(type="button") 
                        i(class="fa fa-close")  
                  
              .modal-footer
                slot(name="footer")
                  button.btn.btn-secondary(type='button' data-dismiss='modal' @click="reset") Cancel &amp; Close
                  button.btn.btn-primary(type='button' @click="saveNewBlood" v-bind:disabled="!newBloodOK") Use    

      .modal.fade(tabindex='-1' role='dialog' id="assassination")
        .modal-dialog.modal-dialog-centered(role='document')
          template(v-if="selectedSide !== null && oppositeSide !== null")
            .modal-content
              .modal-header
                slot(name="header")
                  h5.modal-title Apply Assassination for {{`[${selectedSide.clan.name}]`}}
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
              .modal-body
                .input-group-prepend
                  span#home.input-group-text Assassinate
                  select.form-control(v-model="selectedTeam" @change="loadPlayersForAssassination()")
                    option(v-for="team in oppositeSide.clan.teams" v-bind:value="team.team.id" ) {{ team.team.name }}
                template(v-if="selectedTeam")
                  .input-group.mb-3
                    .input-group-prepend
                      span#home.input-group-text player
                      select.form-control(v-model="selectedPlayer")
                        option(v-for="player in assPlayers" v-bind:value="player.id") {{ player.name }} 
                  
              .modal-footer
                slot(name="footer")
                  button.btn.btn-secondary(type='button' data-dismiss='modal' @click="reset") Cancel &amp; Close
                  button.btn.btn-primary(type='button' @click="saveAssassination") Use    

      .modal.fade(tabindex='-1' role='dialog' id="newCoach")
        .modal-dialog.modal-dialog-centered(role='document')
          template(v-if="selectedSide !== null")
            .modal-content
              .modal-header
                slot(name="header")
                  h5.modal-title Substitute a Coach and Team for {{`[${selectedSide.clan.name}]`}}
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
              .modal-body
                .input-group-prepend
                  span#home.input-group-text Replace
                  select.form-control(v-model="selectedTeam")
                    option(v-for="team in selectedSide.clan.teams" v-bind:value="team.team.id") {{ team.team.name }}
                .input-group-prepend.my-1
                  span#home.input-group-text with
                  input(type="text" v-model="newBloodTeam")
                  .flex
                    .m-1.btn.btn-primary.btn-sm(type="button" @click="checkTeam") 
                      i(class="fa fa-search")
                    template(v-if="newBloodOK")
                      .m-1.btn.btn-success.btn-sm(type="button") 
                        i(class="fa fa-check") 
                    template(v-if="newBloodOK !== null && !newBloodOK")
                      .m-1.btn.btn-danger.btn-sm(type="button") 
                        i(class="fa fa-close")  
                  
              .modal-footer
                slot(name="footer")
                  button.btn.btn-secondary(type='button' data-dismiss='modal' @click="reset") Cancel &amp; Close
                  button.btn.btn-primary(type='button' @click="saveNewCoach" v-bind:disabled="!newBloodOK") Save                      


block scripts
  - if (process.env.NODE_ENV === 'production')
    script(src="https://cdn2.rebbl.net/scripts/vue-2.6.10.min.js")
  - else
    script(src="/scripts/vue-2.6.10.min.js")

  script.
        // app Vue instance
    var app = new Vue({
      // app initial state
      data: {
        divisions:["Division 1","Division 2A","Division 2B","Division 3A","Division 3B","Division 3C"],
        selectedMatch:null,
        schedules: [],
        schedule: null,
        missingGames:[],
        selectedSide:null,
        oppositeSide:null,
        selectedTeam: null,
        newBloodTeam:null,
        newBloodOK:null,
        selectedPlayer:null,
        eicPlayers:[],
        assPlayers:[],
        loadingMissingGames:false,
        coaches:[],
        showCoaches:false,
        searchClan: "",
        searchCoach: "",
        searchDiscord: "",
        searchReddit: ""
      },
      computed: {
        numberOfRounds() {
          return this.schedules.length % 5 === 0 ? 5 : 4;
        },
        numberOfRows() {
          const numberOfRounds = this.schedules.length % 5 === 0 ? 5 : 4;
          return Math.ceil(this.schedules.length / numberOfRounds );
        },
        sortedMatches(){
          return this.schedule.matches.sort(function(a,b){return a.competition > b.competition;})
        },
        filteredCoaches(){
          return this.coaches
            .filter(c => this.searchClan.length > 0 ? c.clan.toLowerCase().indexOf(this.searchClan) > -1 : true )
            .filter(c => this.searchCoach.length > 0 ? c.coach.toLowerCase().indexOf(this.searchCoach) > -1 : true )
            .filter(c => this.searchDiscord.length > 0 ? c.discord.toLowerCase().indexOf(this.searchDiscord) > -1 : true )
            .filter(c => this.searchReddit.length > 0 ? c.reddit.toLowerCase().indexOf(this.searchReddit) > -1 : true )
            .sort((a,b) => {
              var r = a.clan.localeCompare(b.clan, undefined,{sensitivity:"base"});
              if (r !== 0) return r;
              return a.coach.localeCompare(b.coach, undefined,{sensitivity:"base"});
            });

        }
      },
      methods:{
        _schedule: function(r,c){
          const numberOfRounds = this.schedules.length % 5 === 0 ? 5 : 4;
          return this.schedules[(r - 1) * numberOfRounds + (c - 1)];
        },
        isIncomplete: function(schedule){
          const l = schedule.matches.filter(x => x.status === 'played').length;
          return 0 < l && l < 5;
        },
        async load(division){
          this.schedule = null;
          this.showCoaches = false;
          this.missingGames =[];
          let response = await fetch(`/api/v2/clan/schedule/season 11/${division}`);
          let data = await response.json();
          this.schedules = data.sort((a,b)=>{
              if(a.round > b.round) return 1;
              if(a.round < b.round) return -1;
              if(a.house > b.house) return 1;
              if(a.house < b.house) return -1;
              return 0;
          });
        },
        async showMatchup(s){
          this.reset();
          let response = await fetch(`/api/v2/clan/season 11/${s.competition}/${s.round}/${s.house}`);

          this.schedule = await response.json();
          if(this.schedule.matches.length < 5){
            this.loadingMissingGames = true;
            this.loadMissingCompetitions(s.competition, s.round, s.house);
          }
        },
        loadMissingCompetitions: async function(division, round, house){
          let response = await fetch(`/api/v2/clan/competition/${division}/${round}/${house}`);
          this.loadingMissingGames = false;
          this.missingGames = await response.json();
        },
        loadCoaches: async function(){
          if (this.coaches.length === 0) {
            let response = await fetch(`/api/v2/clan/coaches`);
            this.coaches = await response.json();
          }
          this.showCoaches = true;
        },
        reddit: function(clan, coach){
          let account = clan.members.find(function(x){return x.coach.toLowerCase() === coach.toLowerCase()});
          return account ? account.reddit : '??';
        },
        availablePowers: function(side){
          if(!side.usedPowers) return side.clan.powers;

          let powers = Object.assign({},side.clan.powers);
          Object.keys(side.usedPowers).map(key => {
            if(powers[key]) powers[key] += side.usedPowers[key];
            else powers[key] = side.usedPowers[key];
          });
          return powers;
        },
        togglePower: async function(e, side,power){
          if(!side.usedPowers) side.usedPowers = {};

          if(!e.target.attributes["aria-pressed"] || e.target.attributes["aria-pressed"].value === "false"){
            side.clan.powers[power]--; 
            if(side.usedPowers[power]) side.usedPowers[power]++; 
            else side.usedPowers[power] = 1;
            await fetch(`/api/v2/clan/season 11/${this.schedule.competition}/${this.schedule.round}/${this.schedule.house}/${side.clan.name}/usepower/${power}`, {
              method: "PUT"
            });
          } else if(e.target.attributes["aria-pressed"].value === "true") {
            side.clan.powers[power]++;
            side.usedPowers[power]--;
            await fetch(`/api/v2/clan/season 11/${this.schedule.competition}/${this.schedule.round}/${this.schedule.house}/${side.clan.name}/unusepower/${power}`, {
              method: "PUT"
            });
          }
        },
        powerUsed:function(side,power,i){
          if(!side.usedPowers || ((side.usedPowers[power] || 0) === 0)) return false;
          return (side.usedPowers[power] || 0) >= i;
        },
        doDraftProcess:async function(schedule,part){
          await fetch(`/api/v2/clan/draft/season 11/${schedule.competition}/${schedule.round}/${schedule.house}/${part}`, {
            method: "PUT"
          });
        },
        getClass:function(side,power,i){
          return `btn btn-outline-info btn-sm ${this.powerUsed(side,power,i) ? 'active':''}`;   
        },
        saveClanScore:async function(){
          await fetch(`/api/v2/clan/season 11/${this.schedule.competition}/${this.schedule.round}/${this.schedule.house}/${this.schedule.home.clan.name}/score/${this.schedule.home.win}/${this.schedule.home.draw}/${this.schedule.home.loss}`, {
            method: "PUT"
          });
          await fetch(`/api/v2/clan/season 11/${this.schedule.competition}/${this.schedule.round}/${this.schedule.house}/${this.schedule.away.clan.name}/score/${this.schedule.away.win}/${this.schedule.away.draw}/${this.schedule.away.loss}`, {
            method: "PUT"
          });
          $('#clanScore').modal('hide');
          this.reset();
        },
        resetMatch:async function(match){
          let response = await fetch(`/api/v2/clan/season 11/${this.schedule.competition}/${this.schedule.round}/${this.schedule.house}/game/${match.contest_id}/reset`, {
            method: "PUT"
          });
          if (response.ok) match.counted = false;
        },
        abandonMatch:async function(match){
          let response = await fetch(`/api/v2/clan/abandon/${match.contest_id}/`, {
            method: "PUT"
          });
          if (response.ok) this.reset();
        },
        refreshMatch:async function(id){
          await fetch(`/api/v2/clan/refreshMatch/${id}`);
        },
        saveMatchScore:async function(){
         await fetch(`/api/v2/clan/season 11/${this.schedule.competition}/${this.schedule.round}/${this.schedule.house}/game/${this.selectedMatch.contest_id}/0/score/${this.selectedMatch.opponents[0].team.score}`, {
            method: "PUT"
          });
          await fetch(`/api/v2/clan/season 11/${this.schedule.competition}/${this.schedule.round}/${this.schedule.house}/game/${this.selectedMatch.contest_id}/1/score/${this.selectedMatch.opponents[1].team.score}`, {
            method: "PUT"
          });
          $('#clanScore').modal('hide');
          this.reset();
        },
        async loadEicPlayers(match, index) {
          const re = new RegExp(`\\[${this.schedule.home.clan.name}]`,"i");
          this.selectedSide = re.test(match.opponents[index].team.name) ? this.schedule.home: this.schedule.away;

          this.selectedMatch = match;
          this.selectedTeam = match.opponents[index].team;

          let result = await fetch(`/api/v2/team/${this.selectedTeam.id}/players`)
          if(result.ok){
            let players = await result.json();
            this.eicPlayers = players.filter(p => p.casualties_sustained.filter(x => x !== "BadlyHurt").length > 0 );
          }
        },
        async loadPlayersForAssassination(){
          let result = await fetch(`/api/v2/team/${this.selectedTeam}/players`)
          if(result.ok){
            this.assPlayers = await result.json();
          }
        },
        isPlayedButUnconfirmed: function(match){
          return match.status === 'scheduled' && match.match_uuid !== null;
        },
        isPlayed: function(match){
          return match.match_uuid !== null;
        },
        hasEIC: function(match, index){
          const re = new RegExp(`\\[${this.schedule.home.clan.name}]`,"i");
          let side = re.test(match.opponents[index].team.name) ? this.schedule.home: this.schedule.away;
          return side.clan.powers['emergencyIntensiveCare'] > 0;
        },
        reset: function(){
          this.selectedSide =null;
          this.oppositeSide =null;
          this.selectedTeam =null;
          this.newBloodTeam =null;
          this.newBloodOK =null;
          this.selectedPlayer =null;
          this.eicPlayers=[];
          this.assPlayers=[];
          this.missingGames=[];
        },
        saveEICUse:async function(){
          await fetch(`/api/v2/clan/eic/${this.selectedMatch.match_uuid}/${this.selectedPlayer}`, {
            method: "PUT"
          });


          if(!this.selectedSide.usedPowers) this.selectedSide.usedPowers = {};
          this.selectedSide.clan.powers['emergencyIntensiveCare']--; 
          if(this.selectedSide.usedPowers['emergencyIntensiveCare']) this.selectedSide.usedPowers['emergencyIntensiveCare']++; 
          else this.selectedSide.usedPowers['emergencyIntensiveCare'] = 1;
          await fetch(`/api/v2/clan/season 11/${this.schedule.competition}/${this.schedule.round}/${this.schedule.house}/${this.selectedSide.clan.name}/usepower/emergencyIntensiveCare`, {
            method: "PUT"
          });

          this.reset();

          $('#eicUse').modal('hide');
        },
        saveNewBlood:async function(){
          await fetch(`/api/v2/clan/${this.selectedSide.clan.name}/applynewblood/${this.selectedTeam}/${this.newBloodTeam}`, {
            method: "POST"
          });

          if(!this.selectedSide.usedPowers) this.selectedSide.usedPowers = {};
          this.selectedSide.clan.powers['newBlood']--; 
          if(this.selectedSide.usedPowers['newBlood']) this.selectedSide.usedPowers['newBlood']++; 
          else this.selectedSide.usedPowers['newBlood'] = 1;
          await fetch(`/api/v2/clan/season 11/${this.schedule.competition}/${this.schedule.round}/${this.schedule.house}/${this.selectedSide.clan.name}/usepower/newBlood`, {
            method: "PUT"
          });

          this.reset();

          $('#newBlood').modal('hide');
        },
        saveAssassination:async function(){
          await fetch(`/api/v2/clan/assassinate/${this.selectedTeam}/${this.selectedPlayer}`, {
            method: "PUT"
          });

          if(!this.selectedSide.usedPowers) this.selectedSide.usedPowers = {};
          this.selectedSide.clan.powers['assassination']--; 
          if(this.selectedSide.usedPowers['assassination']) this.selectedSide.usedPowers['assassination']++; 
          else this.selectedSide.usedPowers['assassination'] = 1;
          await fetch(`/api/v2/clan/season 11/${this.schedule.competition}/${this.schedule.round}/${this.schedule.house}/${this.selectedSide.clan.name}/usepower/assassination`, {
            method: "PUT"
          });

          this.reset();

          $('#assassination').modal('hide');

        },
        saveNewCoach:async function(){
          await fetch(`/api/v2/clan/${this.selectedSide.clan.name}/substitutecoach/${this.selectedTeam}/${this.newBloodTeam}`, {
            method: "POST"
          });
          this.reset();

          $('#newCoach').modal('hide');
        },        
        checkTeam:async function(){
          let result = await fetch(`/api/v2/clan/team/${this.newBloodTeam}`);
          if(result.ok) this.newBloodOK = true;
          else this.newBloodOK =false;
        }

      },
      async mounted() {
        const storage = window.localStorage;
        if (storage)    
          this.powers = JSON.parse(localStorage.getItem('powers')) || [];

        if(this.powers.length === 0 || !this.powers.find(x=>x.key === "version3.2")){
          let response = await fetch("/api/v2/clan/powers");
          this.powers = await response.json();
          storage.setItem('powers', JSON.stringify(this.powers));    
        }
      }
    })

    // mount
    app.$mount('#app')
