extends ..\accountlayout.pug

block content
  div(class="container")
    - if (user.isNew)
      h2= "Welcome to REBBL Season 9, "
        span(class="highlight")= user.reddit
        span !

      p It looks like we don't have you on file yet, please continue with your sign up
        a(href="/signup/change" class="highlighted-rules")= " here"
    - if(user.hasOwnProperty('signedUp'))
      - if (!user.signedUp)
        h2= "Welcome back to REBBL Season 9, "
          span(class="highlight")= user.coach
          span !

        p You haven't signed up yet, so continue with your sign up
          a(href="/signup/change" class="highlighted-rules")= " here"
      - else
        h2= "Welcome back to REBBL Season 9, "
          span(class="highlight")= user.coach
          span !

        div
          h3 You have signed up with
            span(class="highlight")= " " + user.team
            span(style="font-size:0.75em" )= " (" + user.race + ")"
            span= " to the following:"
          div
            h3= "REBBL SEASON 9 - " + user.league
            form(action="/signup/change" method="get" style="float:left;margin-right:116px;")
              button(type="submit") Change

            form(action="/signup/resign" method="post" )
              button(type="submit") Resign

          -if (user.greenHorn)
            div
              h3 THE GREENHORN CUP

              form(action="/signup/resign-greenhorn" method="post")
                  button(type="submit") Resign

          p Nagivate
           a(href="/signup/signups" class="highlighted-rules") &nbsp;here
           span &nbsp;to view all current signups

          h3 Your data
          div(style="float:left;margin-right:35px")
            div
              label(for="coach") Blood Bowl 2 coach name
              input(type="text" id="coach" name="coach" value=user.coach  readonly)
            div
              label(for="team") Team name
              input(type="text" id="team" name="team" value=user.team  readonly)
            div
              label(for="race") Team race
              input(type="text" id="race" name="race" value=user.race readonly)
            div
              label(for="league") League
              input(type="text" id="race" name="race" value=user.league readonly)
            div
              label(for="TZ") Timezone
              input(type="text" id="TZ" name="TZ" value=user.TZ readonly)
          div(style="")
            div
              label(for="discord") Discord
              input(type="text" id="discord" name="discord" value=user.discord readonly)
            div
              label(for="steam") Steam
              input(type="text" id="steam" name="steam" value=user.steam readonly)
            div
              label(for="email") Email
              input(type="text" id="email" name="email" value=user.email readonly)
          div(style="clear:both")
            br
            br