extends ../account/sublayout.pug

block content
  div(class="container")
    - if (user.isNew)
      h2= "Welcome to REBBL, "
        span(class="highlight")= user.reddit
        span !

      h3 It looks like we don't have you on file yet, please continue with your sign up for the REBBL Main season
          a(href="/signup/change" class="highlighted-rules")= " here"          

      h3 If you rather want to play in our rookie's College or Minors league, continue with your sign up
        a(href="/signup/rebbrl" class="highlighted-rules")= " here"          
    - else 
      each signup in signups
        - if(signup.hasOwnProperty('signedUp'))
          - if (signup.type ==="rebbl")
            h2= "Welcome back to REBBL Season 12, "
              span(class="highlight")= signup.coach
              span !
          - else 
            h2= "Welcome back to REBBRL, "
              span(class="highlight")= signup.coach
              span !

          div
            h3 You have signed up with
              span(class="highlight")= " " + signup.team
              span(style="font-size:0.75em" )= " (" + signup.race + ")"
              span= " to the following:"
            div
              //- if(!signup.teamExist)
                div(class="warning")
                  p Your team is either misspelled or not yet existing
                br
              //- if(signup.saveType ==="rampup")
                form(action="/signup/change" method="get" style="float:left;margin-right:116px;")
                  button(type="submit"  class="btn btn-primary") Change

              //- form(action="/signup/confirm" method="post" )
                -if(signup.confirmed)
                  span Thank you for confirming!
                -else
                  button(type="submit") Confirm
              - if (signup.type==="rebbl")
                h3= "REBBL SEASON 12 - " + signup.league
                form(action="/signup/resign" method="post" )
                  br
                  button(type="submit"  class="btn btn-primary") Resign
              - else
                h3= "REBBRL " + signup.league
                form(action="/signup/resign-rebbrl" method="post")
                  br
                  button(type="submit"  class="btn btn-primary") Resign

            -if (signup.greenHorn)
              div
                h3 THE GREENHORN CUP
              form(action="/signup/resign-greenhorn" method="post" )
                br
                button(type="submit"  class="btn btn-primary") Resign
            -else if(signup.type === "rebbl" && signup.saveType !== "existing")
              div
                h3 You can still sign up for THE GREENHORN CUP
                a(href="/signup/signup-greenhorn") Sign me up for The Greenhorn Cup
            p Nagivate 
              a(href="/signup/signups" class="highlighted-rules") here
              span &nbsp;to view all current signups
      - if (signups.length === 0)
        h2= "Welcome back to REBBL, "
          span(class="highlight")= user.coach
          span !

        h3 You haven't signed up yet, so continue with your sign up for the REBBL Main season
          a(href="/signup/change" class="highlighted-rules")= " here"          

        h3 If you rather want to play in our rookie's College or Minors league, continue with your sign up
          a(href="/signup/rebbrl" class="highlighted-rules")= " here"          
