extends ../account/sublayout.pug

block title
  title Signups Overview

block content
  div(class="container")
    each signup in signups
      - if(signup.hasOwnProperty('signedUp'))
        - if (!user.discordId && !user.discordOptedOut)
          .alert.alert-primary
            h2
              span(class="highlight")= user.coach

              p In order to help with the administration of the league, please link your Discord account with rebbl.net. 
              p This is optional but recommended as we use Discord for the majority of our daily communication.&nbsp;
              p Our server can be found here: 
                a(href="https://discord.gg/UbmBd4c" target="_blank") https://discord.gg/UbmBd4c

              div
                a.btn.btn-primary.btn-sm(type="button" href="/signup/discord") Connect

                a.btn.btn-light.btn-sm.pull-right(type="button" href="/signup/nodiscord") No thanks
        - if (signup.type ==="rebbl")
          h2= "Welcome back to REBBL Season 25, "
            span(class="highlight")= signup.coach
            span !
        - else if (signup.type ==="rebbl3")
          h2= "Welcome to REBBL BB3 Season 1, "
            span(class="highlight")= signup.coach
            span !
        - else 
          h2= "Welcome back to REBBRL, "
            span(class="highlight")= signup.coach
            span !

        div
          h3 You have signed up with
            - let teamName =  signup.team.name ?? signup.team
            - let teamRace =  signup.race ?? signup.team.race
            span(class="highlight")= " " + teamName
            span(style="font-size:0.75em" )= " (" + teamRace + ")"
            span= " to the following:"
          div
            - if (signup.type==="rebbl")
              h3= "REBBL Season 25 - " + signup.league
              form(action="/signup/resign" method="post" )
                br
                button(type="submit"  class="btn btn-primary") Resign
              p Nagivate 
                a(href="/signup/signups" class="highlighted-rules") here
                span &nbsp;to view all current signups
            //- else if (signup.type==="rebbl3")
              h3= "REBBL BB3 Season 1 - " + signup.league
              div(style="display:flex")
                form.mx-1(action="/signup/bb3/change" method="get" style="display:flex" )
                  button(type="submit"  class="btn btn-primary") Change
                form(action="/signup/bb3/resign" method="post" style="display:flex" )
                  br
                  button(type="submit"  class="btn btn-primary") Resign
              p Nagivate 
                a(href="/signup/bb3/signups" class="highlighted-rules") here
                span &nbsp;to view all current signups
            //- else
              - if (signup.saveType === "reserve")
                h3= "REBBRL " + signup.league + " (Reserve)"
              - else
                h3= "REBBRL " + signup.league
                //form(action="/signup/resign-rebbrl" method="post")
                  br
                  button(type="submit"  class="btn btn-primary") Resign
              p Nagivate 
                a(href="/signup/signups" class="highlighted-rules") here
                span &nbsp;to view all current signups
          
          //-if (signup.greenHorn)
            div
              h3 THE GREENHORN CUP
            //form(action="/signup/resign-greenhorn" method="post" )
              br
              button(type="submit"  class="btn btn-primary") Resign
          //-else if(signup.type === "rebbl" && signup.saveType !== "existing")
            div
              h3 You can still sign up for THE GREENHORN CUP
              a(href="/signup/signup-greenhorn") Sign me up for The Greenhorn Cup
      hr.my-4

    - if (signups.every(x => x.type !==  "rebbl") )
      h2= "Welcome back to REBBL, "
        span(class="highlight")= user.coach
        span !
      //.jumbotron
        h1.display-4 REBBL Season 25
        p.lead Signups for REBBL Season 25 are currently closed. 

      //.jumbotron
        h1.display-4 REBBL Season 21 - RAMPUP
        p.lead You haven't signed up yet, so hit that button to continue with your sign up for the REBBL Season 21
        hr.my-2
        p 
          a(href="https://www.reddit.com/r/ReBBl/comments/tshhfa/rebbl_rampup_season_19/" class="highlighted-rules") Read more here about our Rampup system for Season 21
        a.btn.btn-primary.btn-lg(href="/signup/change" role="button") Continue

      .jumbotron
        h1.display-4 REBBL Season 25
        p.lead You haven't signed up yet, so hit that button to continue with your sign up for the REBBL Season 25!
        hr.my-2
        p 
          a(href="https://www.reddit.com/r/ReBBl/comments/1c0umm1/rebbl_bb2_season_25/" class="highlighted-rules text-info") Read more here about Season 25
        a.btn.btn-primary.btn-lg(href="/signup/change" role="button") Continue

      //.jumbotron
        h1.display-4 MINORS Season 20
        //p.lead Signups for MINORS Season 20 are currently closed. 
        p.lead If you played in our College League last season and want to continue in the Minors Leauge, look no further!
        hr.my-2
        p Go  
          a(href="https://www.reddit.com/r/ReBBl/comments/17w4hvy/signups_rebbl_s24_minors_s20_college_s21/" class="highlighted-rules") here 
          | for more information, look for the header: &nbsp; 
          span(class="text-info") REBBRL MINORS Season 20
        a.btn.btn-primary.btn-lg(href="/signup/rebbrl/minors" role="button") Continue

      //.jumbotron
        h1.display-4 COLLEGE Season 21
        p.lead Are you a new coach, wanting to learn to play Blood Bowl in our rookie's College League Season 21?
        hr.my-2
        p Read more about what the College League is about 
          a(href="https://www.reddit.com/r/ReBBl/comments/17w4hvy/signups_rebbl_s24_minors_s20_college_s21/" class="highlighted-rules") here
          | , scroll down to the header: &nbsp;
          span(class="text-info") REBBL COLLEGE LEAGUE Season 21
        a.btn.btn-primary.btn-lg(href="/signup/rebbrl/college" role="button") Continue

      //.jumbotron
        h1.display-4 COLLEGE Season 20 - Reserves
        p.lead Are you a new coach, wanting to learn to play Blood Bowl in our rookie's College League Season 20? You just missed signups but
          |  we are accepting reserves to fill spaces that become available.
        p.text-info NOTE: This is not a guarantee, but an opportunity in case there is space and will be slotted into the league as spots open on a first come first served basis.
        hr.my-2
        p Read more about what the College League is about
          a(href="https://www.reddit.com/r/ReBBl/comments/17w4hvy/signups_rebbl_s24_minors_s20_college_s21/" class="highlighted-rules")  here
          | , scroll down to the header: &nbsp;
          span(class="text-info") REBBL COLLEGE LEAGUE Season 20
        a.btn.btn-primary.btn-lg(href="/signup/rebbrl/college-reserves" role="button") Continue
    - if (!signups.some(x => x.type ==="rebbl3"))
      .jumbotron
        h1.display-4 REBBL BB3 Season 1
        p.lead You haven't signed up yet, so hit that button to continue with your sign up for REBBL BB3 Season 1!
        hr.my-2
        p 
          a(href="https://www.reddit.com/r/ReBBl/comments/17w4hvy/signups_rebbl_s24_minors_s20_college_s21/" class="highlighted-rules") Read more here about Season 1
        a.btn.btn-primary.btn-lg(href="/signup/bb3/change" role="button") Continue