extends ../account/sublayout.pug

block title
  title Signups Overview

block content
  div(class="container")
    each signup in signups
      - if(signup.hasOwnProperty('signedUp'))
        - if (signup.type ==="rebbl")
          h2= "Welcome back to REBBL Season 16, "
            span(class="highlight")= signup.coach
            span !
        - else 
          h2= "Welcome back to REBBRL, "
            span(class="highlight")= signup.coach
            span !

        div
          h3 You have signed up with
            span(class="highlight")= " " + signup.team
            span(style="font-size:0.75em" )= " (" + signup.race + ")"
            span= " to the following:"
          div
            //- if(!signup.teamExist)
              div(class="warning")
                p Your team is either misspelled or not yet existing
              br
            //- form(action="/signup/confirm" method="post" )
              -if(signup.confirmed)
                span Thank you for confirming!
              -else
                button(type="submit") Confirm
            - if (signup.type==="rebbl")
              h3= "REBBL Season 16 - " + signup.league
              form(action="/signup/resign" method="post" )
                br
                button(type="submit"  class="btn btn-primary") Resign
            - else
              - if (signup.saveType === "reserve")
                h3= "REBBRL " + signup.league + " (Reserve)"
              - else
                h3= "REBBRL " + signup.league
              form(action="/signup/resign-rebbrl" method="post")
                br
                button(type="submit"  class="btn btn-primary") Resign
        
          -if (signup.greenHorn)
            div
              h3 THE GREENHORN CUP
            form(action="/signup/resign-greenhorn" method="post" )
              br
              button(type="submit"  class="btn btn-primary") Resign
          -else if(signup.type === "rebbl" && signup.saveType !== "existing")
            div
              h3 You can still sign up for THE GREENHORN CUP
              a(href="/signup/signup-greenhorn") Sign me up for The Greenhorn Cup

          //- -if (signup.OI)
          //-   div
          //-     h3 THE OFF-SEASON INTERNATIONAL
          //-   form(action="/signup/resign-oi" method="post" )
          //-     br
          //-     button(type="submit"  class="btn btn-primary") Resign
          //- -else if(signup.saveType === "existing")
          //-   div
          //-     h3 You can still sign up for THE OFF-SEASON INTERNATIONAL
          //-     a(href="/signup/signup-oi") Sign me up for OSI

          p Nagivate 
            a(href="/signup/signups" class="highlighted-rules") here
            span &nbsp;to view all current signups
    - if (signups.length === 0)
      h2= "Welcome back to REBBL, "
        span(class="highlight")= user.coach
        span !
      // .jumbotron
        h1.display-4 REBBL SEASON 16 - RAMPUP
        p.lead You haven't signed up yet, so hit that button to continue with your sign up for the REBBL Season 16!
        hr.my-2
        p 
          a(href="https://www.reddit.com/r/ReBBl/comments/j267w5/rebbl_rampup_season_15" class="highlighted-rules") Read more here about our Rampup system for Season 16
        a.btn.btn-primary.btn-lg(href="/signup/change" role="button") Continue
      
      .jumbotron
        h1.display-4 REBBL SEASON 16
        p.lead You haven't signed up yet, so hit that button to continue with your sign up for the REBBL Season 16!
        hr.my-2
        p 
          a(href="https://www.reddit.com/r/ReBBl/comments/kq98rd/signups_rebbl_s16_minors_s12_college_s13/" class="highlighted-rules") Read more here about Season 16
          | , look for the header: &nbsp; 
          span(class="text-info") REBBL SEASON 16
        a.btn.btn-primary.btn-lg(href="/signup/change" role="button") Continue

      .jumbotron
        h1.display-4 MINORS SEASON 12
        p.lead If you played in our College League last season and want to continue in the Minors Leauge, look no further!
        hr.my-2
        p Go  
          a(href="https://www.reddit.com/r/ReBBl/comments/kq98rd/signups_rebbl_s16_minors_s12_college_s13/" class="highlighted-rules") here 
          | for more information, look for the header: &nbsp; 
          span(class="text-info") REBBRL Minors Season 12     
        a.btn.btn-primary.btn-lg(href="/signup/rebbrl/minors" role="button") Continue

      .jumbotron
        h1.display-4 COLLEGE SEASON 13
        p.lead Are you a new coach, wanting to learn to play Blood Bowl in our rookie's College League Season 13?
        hr.my-2
        p Read more about what the College League is about 
          a(href="https://www.reddit.com/r/ReBBl/comments/kq98rd/signups_rebbl_s16_minors_s12_college_s13/" class="highlighted-rules") here
          | , scroll down to the header: &nbsp;
          span(class="text-info") REBBL COLLEGE LEAGUE SEASON 13  
        a.btn.btn-primary.btn-lg(href="/signup/rebbrl/college" role="button") Continue

      //.jumbotron
      //  h1.display-4 COLLEGE SEASON 13 - Reserves
      //  p.lead Are you a new coach, wanting to learn to play Blood Bowl in our rookie's College League Season 13? You just missed signups but
      //    |  we are accepting reserves to fill spaces that become available.
      //  p.text-info NOTE: This is not a guarantee, but an opportunity in case there is space and will be slotted into the league as spots open on a first come first served basis.
      //  hr.my-2
      //  p Read more about what the College League is about
      //    a(href="https://www.reddit.com/r/ReBBl/comments/kq98rd/signups_rebbl_s16_minors_s12_college_s13/" class="highlighted-rules")  here
      //    | , scroll down to the header: &nbsp;
      //    span(class="text-info") REBBL COLLEGE LEAGUE SEASON 13
      //  a.btn.btn-primary.btn-lg(href="/signup/rebbrl/college-reserves" role="button") Continue
