extends ../account/sublayout.pug

block title
  title Signups Overview

block content
  div(class="container")
    each signup in signups
      - if(signup.hasOwnProperty('signedUp'))
        - if (!user.discordId && !user.discordOptedOut)
          .alert.alert-primary
            h2
              span(class="highlight")= user.coach

              p In order to help with the administration of the league, please link your Discord account with rebbl.net. 
              p This is optional but recommended as we use Discord for the majority of our daily communication.&nbsp;
              p Our server can be found here: 
                a(href="https://discord.gg/UbmBd4c" target="_blank") https://discord.gg/UbmBd4c

              div
                a.btn.btn-primary.btn-sm(type="button" href="/signup/discord") Connect

                a.btn.btn-light.btn-sm.pull-right(type="button" href="/signup/nodiscord") No thanks
        - if (signup.type ==="rebbl")
          h2= "Welcome back to REBBL Season 21, "
            span(class="highlight")= signup.coach
            span !
        - else 
          h2= "Welcome back to REBBRL, "
            span(class="highlight")= signup.coach
            span !

        div
          h3 You have signed up with
            span(class="highlight")= " " + signup.team
            span(style="font-size:0.75em" )= " (" + signup.race + ")"
            span= " to the following:"
          div
            - if (signup.type==="rebbl")
              h3= "REBBL Season 21 - " + signup.league
              form(action="/signup/resign" method="post" )
                br
                button(type="submit"  class="btn btn-primary") Resign
            - else
              - if (signup.saveType === "reserve")
                h3= "REBBRL " + signup.league + " (Reserve)"
              - else
                h3= "REBBRL " + signup.league
                form(action="/signup/resign-rebbrl" method="post")
                  br
                  button(type="submit"  class="btn btn-primary") Resign
          
          -if (signup.greenHorn)
            div
              h3 THE GREENHORN CUP
            form(action="/signup/resign-greenhorn" method="post" )
              br
              button(type="submit"  class="btn btn-primary") Resign
          -else if(signup.type === "rebbl" && signup.saveType !== "existing")
            div
              h3 You can still sign up for THE GREENHORN CUP
              a(href="/signup/signup-greenhorn") Sign me up for The Greenhorn Cup
          p Nagivate 
            a(href="/signup/signups" class="highlighted-rules") here
            span &nbsp;to view all current signups
    - if (signups.length === 0)
      h2= "Welcome back to REBBL, "
        span(class="highlight")= user.coach
        span !
      //.jumbotron
        h1.display-4 REBBL Season 20
        p.lead Signups for REBBL Season 20 are closed. Rampup signups will open up on Thursday.

      //.jumbotron
        h1.display-4 REBBL Season 20 - RAMPUP
        p.lead You haven't signed up yet, so hit that button to continue with your sign up for the REBBL Season 20
        hr.my-2
        p 
          a(href="https://www.reddit.com/r/ReBBl/comments/tshhfa/rebbl_rampup_season_19/" class="highlighted-rules") Read more here about our Rampup system for Season 20
        a.btn.btn-primary.btn-lg(href="/signup/change" role="button") Continue
      
      .jumbotron
        h1.display-4 REBBL Season 21
        p.lead You haven't signed up yet, so hit that button to continue with your sign up for the REBBL Season 21!
        hr.my-2
        p 
          a(href="https://www.reddit.com/r/ReBBl/comments/yrrnku/signups_rebbl_s21_minors_s17_college_s18/" class="highlighted-rules") Read more here about Season 21
          | , look for the header: &nbsp; 
          span(class="text-info") REBBL Season 21
        a.btn.btn-primary.btn-lg(href="/signup/change" role="button") Continue

      .jumbotron
        h1.display-4 MINORS SEASON 17
        p.lead If you played in our College League last season and want to continue in the Minors Leauge, look no further!
        hr.my-2
        p Go  
          a(href="https://www.reddit.com/r/ReBBl/comments/yrrnku/signups_rebbl_s21_minors_s17_college_s18/" class="highlighted-rules") here 
          | for more information, look for the header: &nbsp; 
          span(class="text-info") REBBRL MINORS SEASON 17     
        a.btn.btn-primary.btn-lg(href="/signup/rebbrl/minors" role="button") Continue

      .jumbotron
        h1.display-4 COLLEGE SEASON 18
        p.lead Are you a new coach, wanting to learn to play Blood Bowl in our rookie's College League Season 18?
        hr.my-2
        p Read more about what the College League is about 
          a(href="https://www.reddit.com/r/ReBBl/comments/yrrnku/signups_rebbl_s21_minors_s17_college_s18/" class="highlighted-rules") here
          | , scroll down to the header: &nbsp;
          span(class="text-info") REBBL COLLEGE LEAGUE SEASON 18
        a.btn.btn-primary.btn-lg(href="/signup/rebbrl/college" role="button") Continue

      //.jumbotron
        h1.display-4 COLLEGE SEASON 17 - Reserves
        p.lead Are you a new coach, wanting to learn to play Blood Bowl in our rookie's College League Season 17? You just missed signups but
          |  we are accepting reserves to fill spaces that become available.
        p.text-info NOTE: This is not a guarantee, but an opportunity in case there is space and will be slotted into the league as spots open on a first come first served basis.
        hr.my-2
        p Read more about what the College League is about
          a(href="https://www.reddit.com/r/ReBBl/comments/yrrnku/signups_rebbl_s21_minors_s17_college_s18/" class="highlighted-rules")  here
          | , scroll down to the header: &nbsp;
          span(class="text-info") REBBL COLLEGE LEAGUE SEASON 17
        a.btn.btn-primary.btn-lg(href="/signup/rebbrl/college-reserves" role="button") Continue
