extends ../account/sublayout.pug

block title
  title Signups Overview

block content
  div(class="container")
    each signup in signups
      - if(signup.hasOwnProperty('signedUp'))
        - if (signup.type ==="rebbl")
          h2= "Welcome back to REBBL Season 15, "
            span(class="highlight")= signup.coach
            span !
        - else 
          h2= "Welcome back to REBBRL, "
            span(class="highlight")= signup.coach
            span !

        div
          h3 You have signed up with
            span(class="highlight")= " " + signup.team
            span(style="font-size:0.75em" )= " (" + signup.race + ")"
            span= " to the following:"
          div
            //- if(!signup.teamExist)
              div(class="warning")
                p Your team is either misspelled or not yet existing
              br
            //- form(action="/signup/confirm" method="post" )
              -if(signup.confirmed)
                span Thank you for confirming!
              -else
                button(type="submit") Confirm
            - if (signup.type==="rebbl")
              h3= "REBBL Season 15 - " + signup.league
              form(action="/signup/resign" method="post" )
                br
                button(type="submit"  class="btn btn-primary") Resign
            - else
              h3= "REBBRL " + signup.league
              form(action="/signup/resign-rebbrl" method="post")
                br
                button(type="submit"  class="btn btn-primary") Resign

          -if (signup.greenHorn)
            div
              h3 THE GREENHORN CUP
            form(action="/signup/resign-greenhorn" method="post" )
              br
              button(type="submit"  class="btn btn-primary") Resign
          -else if(signup.type === "rebbl" && signup.saveType !== "existing")
            div
              h3 You can still sign up for THE GREENHORN CUP
              a(href="/signup/signup-greenhorn") Sign me up for The Greenhorn Cup

          //- -if (signup.OI)
          //-   div
          //-     h3 THE OFF-SEASON INTERNATIONAL
          //-   form(action="/signup/resign-oi" method="post" )
          //-     br
          //-     button(type="submit"  class="btn btn-primary") Resign
          //- -else if(signup.saveType === "existing")
          //-   div
          //-     h3 You can still sign up for THE OFF-SEASON INTERNATIONAL
          //-     a(href="/signup/signup-oi") Sign me up for OSI

          p Nagivate 
            a(href="/signup/signups" class="highlighted-rules") here
            span &nbsp;to view all current signups
    - if (signups.length === 0)
        h2= "Welcome back to REBBL, "
          span(class="highlight")= user.coach
          span !

        .jumbotron
          h1.display-4 REBBL SEASON 15
          p.lead You haven't signed up yet, so hit that button to continue with your sign up for the REBBL Season 15!
          hr.my-2
          p 
            a(href="https://www.reddit.com/r/ReBBl/comments/icsee7/signups_rebbls15_minorss11_colleges12" class="highlighted-rules") Read more here about Season 15
            | , look for the header: &nbsp; 
            span(class="text-info") REBBL SEASON 15
          a.btn.btn-primary.btn-lg(href="/signup/change" role="button") Sign up

        .jumbotron
          h1.display-4 MINORS SEASON 11
          p.lead If you played in our College League last season and want to continue in the Minors Leauge, look no further!
          hr.my-2
          p Go  
            a(href="https://www.reddit.com/r/ReBBl/comments/icsee7/signups_rebbls15_minorss11_colleges12" class="highlighted-rules") here 
            | for more information, look for the header: &nbsp; 
            span(class="text-info") REBBRL Minors Season 11       
          a.btn.btn-primary.btn-lg(href="/signup/rebbrl" role="button") Sign up

        .jumbotron
          h1.display-4 COLLEGE SEASON 12
          p.lead Are you a new coach, wanting to learn to play Blood Bowl in our rookie's College League Season 12?
          hr.my-2
          p Read more about what the College League is about 
            a(href="https://www.reddit.com/r/ReBBl/comments/icsee7/signups_rebbls15_minorss11_colleges12" class="highlighted-rules") here
            | , scroll down to the header: &nbsp;
            span(class="text-info") REBBL COLLEGE LEAGUE SEASON 12  
          a.btn.btn-primary.btn-lg(href="/signup/rebbrl" role="button") Sign up