extends ../account/sublayout.pug

block content
  div(class="container")
    h2= "Thanks for signing up " + user.coach + "!"

    p You can always change your signup information at a later stage
      a(href="/signup" class="highlighted-rules")= " here"
      span .

    form(class="signup" action="/signup/confirm-oi" method="post" )

      h2 Interested in playing in
        span(class="highlight")= " the Off-Season International"
        span ?

      p The Off-Season International is a swiss tournament in-between seasons aiming to give coaches something to do, while waiting on Season 14 to start.
      p The Off-Season International is specifically for returning teams and ReBBRL minors.
      p You can read more about the rules
        a(href="https://www.reddit.com/r/ReBBl/comments/fr7jnq/season_13_offseason_everything_you_need_to_know/" class="highlighted-rules" target="_blank")= " here"
        span .


      div(class="warning")
        h3 The competition is inter-divisional so playing outside your preferred time zone is likely to happen.

      h3 By pressing
        i  Sign me up for The Off-Season International
        span , you confirm that you have read and will abide by the cup's rules
        a(href="https://www.reddit.com/r/ReBBl/comments/fr7jnq/season_13_offseason_everything_you_need_to_know/" class="highlighted-rules" target="_blank")= " as described here"
        span .

      button(type="submit"  class="btn btn-primary") Sign me up The Off-Season International