extends ../account/sublayout.pug

block append scripts
  script.
    $(document).ready(function(){
      $("#timezone").on('change', function(e){
        $("#tz_info").text(moment().tz(e.currentTarget.value).format('YYYY-MM-DD HH:mm Z'));
      });

      let select = document.getElementById("timezone");
      let guessed = moment.tz.guess();

      guessed = "#{user.timezone || null}" || guessed;
      let names = moment.tz.names();
      let l = names.length;

      for(let i = 0; i < l; i++){
        let tz = names[i];
        let option = document.createElement("option");
        option.setAttribute("value", tz);
        option.text = tz;
        if (tz === guessed){
          option.setAttribute("selected", "selected")
        }
        select.appendChild(option);
      }
      $("#tz_info").text(moment().tz(guessed).format('YYYY-MM-DD HH:mm ZZ'));

    });


block content
  - console.log(user)
  form(action="/signup/confirm-rampup" method="post" class="container signup")
    div
      h3 The first thing what we would like you to do, is to read thoroughly through
        a(href="https://www.reddit.com/r/ReBBl/wiki/rules/all" class="highlighted-rules" target="_blank")= " our rules"
        span .

      h3 Since REBBL Season 18 has already started, you are signing up for our RAMPUP division, 
        a(href="https://www.reddit.com/r/ReBBl/comments/qqd46n/rebbl_rampup_season_18/" class="highlighted-rules" target="_blank")= " read more about it here"
        span .

      p Once you have done that, take you time to fill out the following:

      fieldset
        legend Required
        div
          label(for="coach") Coach Name
          - if (user.account)
            input(type="text" id="coach" name="coach" value=user.account.coach placeholder="Blood Bowl 2 coach name" title="Blood Bowl 2 coach name" readonly)
          - else
            input(type="text" id="coach" name="coach" value=user.coach required placeholder="Blood Bowl 2 coach name" title="Blood Bowl 2 coach name")
            - if (user.error && user.error.coach)
              p(class="error my-0")= user.error.coach
        div
          label(for="team") Team name
          input(type="text" id="team" name="team" value=user.team required placeholder="team name" title="team name")
          - if (user.error && user.error.team)
            p(class="error my-0")= user.error.team            
        div
          label(for="league") League
          select(name="league" id="league" required value=user.league)
            option(value="" disabled selected style="color: #9b959166;") Select your league
            //option(value="BIG O") BIG O
            option(value="GMAN") RAMPUP GMAN
            option(value="REL") RAMPUP REL
        div
          h3 By pressing complete, you confirm that you have read and will abide by our rules
            a(href="https://www.reddit.com/r/ReBBl/wiki/rules/all" class="highlighted-rules" target="_blank")= " as described here"
            span .
      button(type="submit") Complete
      br
      br