extends ..\account\sublayout.pug

block scripts
  script.
    $(document).ready(function(){
      $("#timezone").on('change', function(e){
        $("#tz_info").text(moment().tz(e.currentTarget.value).format('YYYY-MM-DD HH:mm Z'));
      });

      let select = document.getElementById("timezone");
      let guessed = moment.tz.guess();

      guessed = "#{user.timezone}" || guessed;
      let names = moment.tz.names();
      let l = names.length;

      for(let i = 0; i < l; i++){
        let tz = names[i];
        let option = document.createElement("option");
        option.setAttribute("value", tz);
        option.text = tz;
        if (tz === guessed){
          option.setAttribute("selected", "selected")
        }
        select.appendChild(option);
      }
      $("#tz_info").text(moment().tz(guessed).format('YYYY-MM-DD HH:mm ZZ'));

    });



block content
  form(action="/signup/confirm-reroll" method="post" class="container signup")
    div
      h1 Welcome back to season 10,
        span(class="highlight")= " " +  user.coach
        span !
    fieldset
      legend Required
      div
        div
          label(for="coach") Blood Bowl 2 coach name
          input(type="text" id="coach" name="coach" value=user.coach  disabled title="Blood Bowl 2 coach name")
        div
          label(for="team") Team name
          input(type="text" id="team" name="team" value=user.team  required placeholder="team name" title="team name")
        div
          label(for="race") Team race
          select(id="race" name="race" required)
            - if (user.race === "")
              option(value="" disabled selected style="color: #9b959166;") Select race
            option(value="Amazon" selected=user.race==="Amazon" ) Amazon
            option(value="Bretonnia" selected=user.race==="Bretonnia") Bretonnia
            option(value="Chaos" selected=user.race==="Chaos") Chaos
            option(value="Chaos Dwarf" selected=user.race==="Chaos Dwarf") Chaos Dwarf
            option(value="Dark Elf" selected=user.race==="Dark Elf") Dark Elf
            option(value="Dwarf" selected=user.race==="Dwarf") Dwarf
            option(value="Goblin" selected=user.race==="Goblin") Goblin
            option(value="Human" selected=user.race==="Human") Human
            option(value="Halfling" selected=user.race==="Halfling") Halfling
            option(value="High Elf" selected=user.race==="High Elf") High Elf
            option(value="Khemri" selected=user.race==="Khemri") Khemri
            option(value="Kislev" selected=user.race==="Kislev") Kislev
            option(value="Lizardman" selected=user.race==="Lizardman") Lizardman
            option(value="Necromantic" selected=user.race==="Necromantic") Necromantic
            option(value="Norse" selected=user.race==="Norse") Norse
            option(value="Nurgle" selected=user.race==="Nurgle") Nurgle
            option(value="Ogre" selected=user.race==="Ogre") Ogre
            option(value="Orc" selected=user.race==="Orc") Orc
            option(value="Pro Elf" selected=user.race==="Pro Elf") Pro Elf
            option(value="Skaven" selected=user.race==="Skaven") Skaven
            option(value="Undead" selected=user.race==="Undead") Undead
            option(value="Underworld" selected=user.race==="Underworld") Underworld
            option(value="Vampire" selected=user.race==="Vampire") Vampire
            option(value="Wood Elf" selected=user.race==="Wood Elf") Wood Elf
          - if (user.error && user.error.race)
            p(class="error")= user.error.race
        div
          label(for="league") League
          select(name="league" id="league")
            option(value="BIG O" selected=user.league==="BIG O") BIG O
            option(value="GMAN" selected=user.league==="GMAN") GMAN
            option(value="REL" selected=user.league==="REL") REL
        div
          label(for="timezone") Timezone
          select(id="timezone" name="timezone" required title="timezone")
          label(id="tz_info")
    fieldset
      legend Optional

      div(style="")
        div
          label(for="discord") Discord
          input(type="text" id="discord" name="discord" value=user.discord placeholder="discord" title="discord")
        div
          label(for="steam") Steam
          input(type="text" id="steam" name="steam" value=user.steam placeholder="steam" title="steam")
    div(style="clear:both")
      h3 By pressing complete, you confirm that you have read and will abide by our rules
        a(href="https://www.reddit.com/r/ReBBl/wiki/rules/all" class="highlighted-rules")= " as described here"

      button(type="submit") Complete
    br
    br