extends ../account/sublayout.pug

block append scripts
  script.
    $(document).ready(function(){
      $("#timezone").on('change', function(e){
        $("#tz_info").text(moment().tz(e.currentTarget.value).format('YYYY-MM-DD HH:mm Z'));
      });

      let select = document.getElementById("timezone");
      let guessed = moment.tz.guess();

      guessed = "#{user.timezone}" || guessed;
      let names = moment.tz.names();
      let l = names.length;

      for(let i = 0; i < l; i++){
        let tz = names[i];
        let option = document.createElement("option");
        option.setAttribute("value", tz);
        option.text = tz;
        if (tz === guessed){
          option.setAttribute("selected", "selected")
        }
        select.appendChild(option);
      }
      $("#tz_info").text(moment().tz(guessed).format('YYYY-MM-DD HH:mm ZZ'));

    });



block content
  form(action="/signup/confirm-existing" method="post" class="container signup")
    div
      h2 Your current team is
       span(class="highlight")= " " + user.team
       span(style="font-size: 0.85em")= " [" + user.race +"]"
      p I wish to start with &nbsp;
        a(href="/signup/reroll" class="btn-sm btn-primary") a new team
    fieldset
      legend Required
      div
        label(for="discord") League
        select(name="league" id="league")
          option(value="BIG O" selected=user.league==="BIG O") BIG O
          option(value="GMAN" selected=user.league==="GMAN") GMAN
          option(value="REL" selected=user.league==="REL") REL
    div
      h3 By pressing complete, you confirm that you have read and will abide by our rules
        a(href="https://www.reddit.com/r/ReBBl/wiki/rules/all" class="highlighted-rules")= " as described here"

      button(type="submit" class="btn btn-primary") Complete
    br
    br