extends ..\no-cache-sub-layout.pug

block append vars
  - var activeSubMenu = "signups"

block content
  div(class="Background u-bottomPadding--large u-topPadding--medium")
    div(class="/*TexturedBackground TexturedBackground--light-primary*/")
      div(class="container navcontainer" data-index="0")
        h1(class="u-no-text-transform u-verticalMargin--xx-small") Current Signups



        div(style="float:left")
          span Currently&nbsp;
            span(class="highlight")= signups.all.length
            span &nbsp;coaches have signed up.
        - let races = ["Amazon","Bretonnia","Chaos","Chaos Dwarf","Dark Elf","Dwarf","Goblin","Halfling","High Elf","Human","Khemri","Kislev","Lizardman","Necromantic","Norse","Nurgle","Ogre","Orc","Pro Elf","Skaven","Undead","Underworld","Vampire","Wood Elf"]
        div(style="grid-template-columns: auto;display:grid;clear:both")
          div(class="table-striped TeamLabel-info")
            div(class="TableHeader" style="border-bottom: 3px solid #bdbcbccf;padding-bottom: 2px;height:75px")
              div(style="display: table-cell;width: 100px;" class="Standings-header") League
              for race in races
                div(style="display: table-cell;width: 10px;transform: rotate(-90deg);" class="Standings-header" title=race)= race.substr(0,3)
            - let leagues = ["BIG O","GMAN","REL"]
            for league in leagues
              div(class="TableRow")
                - let total = signups.grouped.reduce(function(p, c){ return c.league === league ? p + c.count : p; }, 0);
                div(style="display: table-cell;width: 100px;")= league
                  span(class="highlight" style="float:right;margin-right:15px")= total
                for race in races
                  - let stat = signups.grouped.filter(function(a){ return a.league === league && a.race.trim() === race.trim() });
                  div(style="white-space: nowrap;display: table-cell;width: 10px;")= stat[0] ? stat[0].count: 0
            div(class="TableRow")
              - let _total = signups.grouped.reduce(function(p, c){ return p + c.count; }, 0);
              div(style="display: table-cell;width: 100px;") Total
                span(class="highlight" style="float:right;margin-right:15px")= _total
              for race in races
                - let stat = signups.grouped.reduce(function(p, c){ return c.race.trim() === race.trim() ? p + c.count : p; }, 0);
                div(style="white-space: nowrap;display: table-cell;width: 10px;")= stat
        br
        - let data = ["existing", "reroll", "new"]
        div(style="grid-template-columns: auto;display:grid;clear:both;width:400px;")
          div(class="table-striped TeamLabel-info")
            div(class="TableHeader" style="border-bottom: 3px solid #bdbcbccf;padding-bottom: 2px;height:20px")
              div(style=";display: table-cell;width: 100px;" class="Standings-header") League
              for d in data
                div(style="display: table-cell;width: 10px;;" class="Standings-header" title=race)= d
            for league in leagues
              div(class="TableRow")
                div(style="display: table-cell;width: 100px;")= league
                for d in data
                  - let stat = signups.all.reduce(function(p, c){ return c.league === league && c.saveType === d ? p+1 : p; }, 0);
                  div(style="white-space: nowrap;display: table-cell;width: 10px;")= stat
            div(class="TableRow")
              div(style="display: table-cell;width: 100px;") Total
              for d in data
                - let stat = signups.all.reduce(function(p, c){ return c.saveType === d ? p+1 : p; }, 0);
                div(class="highlight" style="white-space: nowrap;display: table-cell;width: 10px;")= stat
        br
        br
        div
          div(class="btn btn-outline-primary" id="oi") OI
          div(class="btn btn-outline-primary" id="greenhorn") Greenhorn
        div(style="grid-template-columns: auto;clear:both")
          div(class="table-striped TeamLabel-info")
            div(class="TableHeader" style="border-bottom: 3px solid #bdbcbccf;padding-bottom: 2px;height:20px")
              div(style="white-space: nowrap;display: table-cell;width: 250px;" class="Standings-header") Coach
              div(style="white-space: nowrap;display: table-cell;width: 350px;" class="Standings-header") Team
              div(style="white-space: nowrap;display: table-cell;width: 160px;" class="Standings-header") Race
              div(style="white-space: nowrap;display: table-cell;width: 80px;" class="Standings-header") League
              div(style="white-space: nowrap;display: table-cell;width: 80px;" class="Standings-header") State
              div(style="white-space: nowrap;display: table-cell;width: 80px;" class="Standings-header") Timezone
            for signup, x in signups.all
              div(class="TableRow " + (signup.OI ? "OI" : (signup.greenHorn ? "greenhorn" : "normal") ))
                div(style="white-space: nowrap;display: table-cell;width: 250px;")
                 a(href=`/rebbl/coach/${encodeURIComponent(signup.coach)}/details`)= signup.coach
                div(style="white-space: nowrap;display: table-cell;width: 350px;")= signup.team
                div(style="white-space: nowrap;display: table-cell;width: 160px;")= signup.race.trim()
                div(style="white-space: nowrap;display: table-cell;width: 80px;")= signup.league
                div(style="white-space: nowrap;display: table-cell;width: 80px;")= signup.saveType.replace("existing", "staying").replace("reroll", "rerolling")
                div(style="white-space: nowrap;display: table-cell;width: 80px;")= signup.timezone

block append scripts
  script.
    $(document).ready(function(){
      
      $("#oi").on("click", function(event){
        $(this).toggleClass("active");
        if ($(this).hasClass("active")){
          $(".TableRow.normal").hide();
          $(".TableRow.greenhorn").hide();
          $(".TableRow.OI").show();
        } else {
          $(".TableRow").show();
        }
        if ($("#greenhorn").hasClass("active")){
          $("#greenhorn").toggleClass("active")
        }
      });

      $("#greenhorn").on("click", function(event){
        $(this).toggleClass("active");
        if ($(this).hasClass("active")){
          $(".TableRow.normal").hide();
          $(".TableRow.OI").hide();
          $(".TableRow.greenhorn").show();
        } else {
          $(".TableRow").show();
        }

        if ($("#oi").hasClass("active")){
          $("#oi").toggleClass("active")
        }
      })


    })

  
