extends ../account/sublayout.pug

block content
  div(class="container")
    h2= "Thanks for signing up " + user.coach + "!"

    p You can always change your signup information at a later stage
      a(href="/signup" class="highlighted-rules")= " here"
      span .

    form(class="signup" action="/signup/confirm-greenhorn" method="post" )

      h2 Interested in playing in
        span(class="highlight")= " the Greenhorn Cup"
        span ?

      p The Greenhorn Cup is a swiss tournament before the seasons starts with two aims in mind, one to give coaches something to do, while waiting on the season to start as well as giving the teams a leg up into the season.
      p The Greenhorn Cup is specifically for fresh teams, so if you come from the ReBBRL minors, don't sign up for The Greenhorn Cup
      p You can read more about the rules here soon : 
        -// a(href="" class="highlighted-rules" target="_blank")= " here"
        | coming soon
        span .
      p More information about the Greenhorn Cup itself 
        a(href="https://www.reddit.com/r/ReBBl/comments/id79le/greenhorn_cup_s15/?" class="highlighted-rules" target="_blank")= " here"

      div(class="warning")
        h3 The competition is inter-divisional so playing outside your preferred time zone is most likely to happen.

      h3 By pressing
        i  Sign me up for The Greenhorn Cup
        span , you confirm that you have read and will abide by the cup's rules 
        a(href="https://news.rebbl.net/post/greenhorn-cup-rules-692" class="highlighted-rules" target="_blank")= " as described here"
        span .

      button(type="submit" class="btn btn-primary") Sign me up The Greenhorn Cup