//- index.pug
extends ../../no-cache-sub-relayout.pug
include ../../nav-link

block append vars
  -let options = {company:company}

block content
  -let stadiumDescription = {"astrogranit":"+1 on Armour rolls when a player falls while going for it.", "bazar":"During the Inducements phase, both teams receive a Wizard at no cost", "elfturf":"-1 on Armour rolls when a player falls while going for it.", "foodarea":"The 'Throw a Rock' and 'Get the Ref' kick-off events are cancelled.","nuffle":"During the Inducements phase, Star Players cost 50k less","refereearea":"During the Inducements phase, both teams receive a Bribe at no cost.","refreshmentarea":"+1 on Injury rolls when a player is pushed off the pitch (crowdsurf)", "roof":"The weather always starts as 'Nice' and the 'Changing Weather' kick-off event is cancelled.","securityarea":"The 'Riot' and 'Pitch Invasion' Kick-off events are cancelled.","viparea":"Double all gains and losses of Fan Factor." }
  div(class=`container`)
    div(class="row")
      div(class="ScheduleMatchList col-12")
        div(class="MatchSchedule row")
          div(class="MatchRow MatchRow-match MatchRow-header col-12" )= `${match.leaguename} - ${match.competitionname} : ${match.started}`
          div(class="MatchRow MatchRow-match col-12" )
            div(class="MatchRow-team")
              div(class="MatchRow-contentWrapper MatchRow-contentWrapper--hover MatchRow-contentWrapper--hover--noBorder")
                - if (match.structstadium && match.structstadium.length > 0)
                  img(src=`https://cdn.rebbl.net/images/stadium/${match.structstadium.toLowerCase()}.png`  title=stadiumDescription[match.structstadium.toLowerCase()]  style="margin-top: -2px;margin-left: -6px;")
                div(class="TeamLabel TeamLabel--reverse")
                  div(class="TeamLabel-block"): img(src="https://cdn.rebbl.net/images/logo/logo_" + match.teams[0].teamlogo.toLowerCase() + ".png" alt="" class="TeamLabel-logo")
                  div(class="TeamLabel-info TeamLabel-info--noScore")
                    div(class="TeamLabel-name ")
                      - let tn = match.teams[0].teamname
                      -if (company === "imperium" || noTeamLink )
                        span=tn
                      -else
                        - if (tn.indexOf('[colour=') > -1)
                          a(href=`/team/${match.teams[0].idteamlisting}` style=("color:#" + tn.substr(11,6) )  )= tn.substr(19, tn.length-17)
                        -else
                          a(href=`/team/${match.teams[0].idteamlisting}` )= tn
                    div(class="TeamLabel-coach ")
                      a(href=`/coach/${match.coaches[0].idcoach}`)= match.coaches[0].coachname
                    div(class="TeamLabel-coach" title="cash earned: " + match.teams[0].cashearned + "; spiraling expenses: " +match.teams[0].spirallingexpenses)= "winnings: " + (match.teams[0].cashearned - match.teams[0].spirallingexpenses)
                    div(class="TeamLabel-coach ")= match.teams[0].popularitygain + " Fan Factor"
            div(class="MatchRow-status")
              span(class="MatchStatus MatchStatus--transparent")
                span
                  if match.teams[0].score > match.teams[1].score
                    span(class="MatchStatus-score is-winner")= match.teams[0].score
                    span(class="MatchStatus-score") -
                    span(class="MatchStatus-score")= match.teams[1].score
                  else if match.teams[1].score > match.teams[0].score
                    span(class="MatchStatus-score")= match.teams[0].score
                    span(class="MatchStatus-score") -
                    span(class="MatchStatus-score is-winner")= match.teams[1].score
                  else
                    span(class="MatchStatus-score")= match.teams[0].score
                    span(class="MatchStatus-score") -
                    span(class="MatchStatus-score")= match.teams[1].score
            div(class="MatchRow-team")
              div(class="MatchRow-contentWrapper MatchRow-contentWrapper--hover MatchRow-contentWrapper--hover--noBorder")
                div(class="TeamLabel")
                  div(class="TeamLabel-block"): img(src="https://cdn.rebbl.net/images/logo/logo_" + match.teams[1].teamlogo.toLowerCase() + ".png" alt="" class="TeamLabel-logo")
                  div(class="TeamLabel-info TeamLabel-info--noScore")
                    div(class="TeamLabel-name ")
                      - let on = match.teams[1].teamname
                      -if (company === "imperium" || noTeamLink)
                        span=on
                      -else
                        - if (on.indexOf('[colour=') > -1)
                          a(href=`/team/${match.teams[1].idteamlisting}` style=("color:#" + on.substr(11,6))  )= on.substr(19, on.length-17)
                        -else
                          a(href=`/team/${match.teams[1].idteamlisting}` )= on

                    div(class="TeamLabel-coach ")
                      a(href=`/coach/${match.coaches[1].idcoach}`)= match.coaches[1].coachname
                    div(class="TeamLabel-coach" title="cash earned: " + match.teams[1].cashearned + "; spiraling expenses: " +match.teams[1].spirallingexpenses)= "winnings: " + (match.teams[1].cashearned - match.teams[1].spirallingexpenses)
                    div(class="TeamLabel-coach ")= match.teams[1].popularitygain + " Fan Factor"
                - if (match.filename)
                  div(class="ReplayLinks")
                    div(class="ReplayLinks-outer")
                      div(class="ReplayLinks-inner")
                        a(href=`https://replays.rebbl.net/${match.filename}`)
                          img(src=`https://cdn.rebbl.net/images/replay.png` class="ReplayLinks-download" alt="Download replay" title="Download replay")
                        a(href=`https://dicedornot.vengefulpickle.com/?rebbl=${match.uuid}`)
                          img(src=`https://cdn.rebbl.net/images/dicedornot-logo.svg` class="ReplayLinks-view" alt="View replay" title="View replay on DicedOrNot")
          div(class="col-12")
            br
          div(class="table-responsive-xl col-12")
            table(class="team-stats")
              thead
                tr
                  th Name
                  th TV
                  th(title="Spent on inducements") Idc
                  th Supporters
                  th Possession (%)
                  th Comp
                  th Pass (m)
                  th INT
                  th Rush (m)
                  th
                  th BLK
                  th AVBrk+
                  th AVBrk-
                  th KO+
                  th KO-
                  th CAS+
                  th CAS-
                  th Kill+
                  th Kill-
                  th Surf
                  th Expulsion


              tbody
                each team, x in match.teams
                  include teamoverview.pug

          each team in match.teams
            include team.pug

  each skill in skills
    div(class="modal" tabindex="-1" role="dialog" id=`${skill.id}`)
      div(class="modal-dialog modal-lg modal-dialog-centered" role="document")
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title")= skill.name
          div(class="modal-body")
            img(src="https://cdn.rebbl.net/images/skills/" + skill.name.replace(/[ \-']/g,'') + ".png" alt="" style=" float: left;margin-right:20px;width:145px;margin-top:20px")
            p= skill.description
          div(class="modal-footer")
            button( type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
