- let levels = [0,0,6,16,31,51,76,176,"*"]
tr
  // number
  td(class="MatchRow-status" style="font-size:2em;text-align:center")= player ? player.number : ""
  // player
  td
    div
      - if( player.xp + player.xp_gain >= levels[player.level+1] )
        img(src="https://cdn2.rebbl.net/images/level.png" alt="", class="TeamLabel-logo" style="width:30px;margin-right:2px;height:30px;float:left;")
      - else
        img(src="https://cdn2.rebbl.net/images/skills/" + player.level + ".png" alt="", class="TeamLabel-logo" style="width:30px;margin-right:2px;height:30px;float:left;")
      div(class="match-stats-TeamLabel-name")= playerName
  // position
  td
    div(class="TeamLabel-name ")= playerPos
  // skills
  td
    div
      if player && player.skills.length > 0
        each skill in player.skills
          img(src="https://cdn2.rebbl.net/images/skills/" + skill + ".png" alt="", class="TeamLabel-logo-skill" style="margin-top:6px;margin-left:2px;" title=""+skill.replace(/([A-Z])/g, ' $1').trim() )
  // INJ
  td(class="match-stats")
    if player.casualties_sustained.length > 0
      each cas in player.casualties_sustained
        img(src="https://cdn2.rebbl.net/images/skills/" + cas + ".png" alt="", class="TeamLabel-logo" style="margin-top:6px;margin-left:2px;border-radius: 5px;" title=""+cas.replace(/([A-Z])/g, ' $1').trim() )
  //Comp
  td(class="match-stats")
    div(style="margin-left:15px")= player.stats.inflictedpasses > 0 ? player.stats.inflictedpasses : ""
  // TD
  td(class="match-stats")
    div(style="margin-left:15px")= player.stats.inflictedtouchdowns > 0 ? player.stats.inflictedtouchdowns : ""
  // INT
  td(class="match-stats")
    div(style="margin-left:15px")= player.stats.inflictedinterceptions > 0 ? player.stats.inflictedinterceptions : ""
  // CAS
  td(class="match-stats")
    div(style="margin-left:15px")= player.stats.inflictedcasualties > 0 ? player.stats.inflictedcasualties : ""
  // MVP
  td(class="match-stats")
    if player.mvp
      img(src="https://cdn2.rebbl.net/images/skills/MVPCondition.png" style="width:36px; border-radius:5px;" title="MVP")
  // SPP
  td(class="match-stats")
    div= player.xp_gain
  td(class="match-stats")
    div= `${player.xp + player.xp_gain}/${levels[player.level+1]}`
//
  td(class="")
