- let correctedTV = (11 - (team.roster.length - team.roster.filter(function(a){ return a.id === null}).length )) * lonersValue[x]/1000;
tr
  td= team.teamname
  td= team.value + (correctedTV > 0 ? correctedTV : 0)
  td= team.cashspentinducements
  td= team.nbsupporters
  td
   div(title="Total:(own half/opponents half)")
    span= team.possessionball + "  ("
    span= team.occupationown + "/"
    span= team.occupationtheir + ")"
  td= team.inflictedpasses
  td= team.inflictedmeterspassing
  td= team.inflictedinterceptions
  td= team.inflictedmetersrunning
  td
  td= team.inflictedtackles
  td= team.inflictedinjuries
  td= team.sustainedinjuries
  td= team.inflictedko
  td= team.sustainedko
  td= team.inflictedcasualties
  td= team.sustainedcasualties
  td= team.inflicteddead
  td= team.sustaineddead
  td= team.inflictedpushouts
  td= team.sustainedexpulsions
