extends ../../no-cache-sub-relayout.pug
include ../../nav-link

block vars
 - let options = {company: company}

block head
  style.
    h2{margin-top:0px;margin-bottom:0px;margin-right:15px}

block navigation
  li.nav-item.dropdown.mr-3
    a#navbarSeason.nav-link.text-light.dropdown-toggle(alt='' role='button' data-toggle='dropdown')
      | Season
    div
      .dropdown-menu.bg-dark(aria-labelledby='navbarSeason')
        //ko foreach: seasons.slice(0).reverse()
        a.dropdown-item.text-light(data-bind="text:$data,click:$root.loadSeason.bind($root)")
        // /ko

block content
  div(class=`container`)
    // ko foreach: {data: Object.keys(standings).sort($root.collator.compare)}
    // ko with: $root.standings[$data] 
    div(class="row col-12" )
      h2
        i(data-bind="id:$data[0].competition"  style="padding-top:180px;margin-top:-180px")
        a( data-bind="text:$data[0].competition,attr:{href:$root.competitionUrl($data)}" class="highlight")
    div(class="season-table")  
      div(class="row col-12 " style="border-bottom: 3px solid #bdbcbccf;")
        div(class="row col-5" style="font-size:1.25em")
          div(class="col-1" ) #
          div(class="col-4" ) Coach
          div(class="col-7" ) Team
        div(class="col-1" style="font-size:1.25em") Race
        div(class="row col-6" style="font-size:1em")
          div(class="col" ) Pts.
          div(class="col" title="Big Guy Points: Points - points from win/draw" ) BGP
          div(class="col" title="# of Big Guys killed: 5pts") Kill  
          div(class="col" title="Big Guy cas: 2pts") CAS 
          div(class="col" title="Big Guys td: 3pts") TD 
          div(class="col" title="Big Guys pass: 1pt") Pass 
          div(class="col" title="Big Guys interception: 1pt") Int 
          div(class="col" title="Team win: 3pts") W  
          div(class="col" title="Team draw: 1pt") D  
      //ko foreach: $data
      div(class="row col-12 season-table-row")
        div(class="row col-5")
          div(class="col-1" data-bind="text:position")
          div(class="col-4" style=";overflow:hidden") 
            a(data-bind="text: name, attr:{href:`/coach/${id}`}")
            // ko if: $root.isDonator($data.name)
            | &nbsp; &nbsp; 
            img(src="/images/gold.png" style="width:25px;float:right;margin-top: 2px;" title="donator")
            // /ko
            // ko with: $root.getTrophy($data.name)
            // ko if:$data
            | &nbsp; &nbsp; 
            img(data-bind="attr:{src:`https://cdn.rebbl.net/${$data.filename}`, title:$data.title, 'data-date':$data.date}, click:$root.showTrophy"  style="height:25px;float:right;margin-top: 2px;cursor:pointer" class="trophy-toggle" data-target="#trophy" )
            // /ko
            // /ko
          div(class="col-7" style=";overflow:hidden") 
            a(data-bind="text: teamName(),attr:{href:`/team/${teamId}`}")
        div(class="col-1" style=";overflow:hidden" data-bind="text:race.replace(/([A-Z])/g, ' $1').replace(/^./, function(str){ return str.toUpperCase(); })")
        div(class="row col-6" )
          div(class="col" data-bind="text:points")
          div(class="col" data-bind="text:points - 3*win - draw")
          div(class="col" data-bind="text:kills")
          div(class="col" data-bind="text:casualties")
          div(class="col" data-bind="text:touchdowns")
          div(class="col" data-bind="text:completions")
          div(class="col" data-bind="text:interceptions")


          div(class="col" data-bind="text:win")
          div(class="col" data-bind="text:draw")
      // /ko
    // /ko
    // /ko
  div(class="modal" tabindex="-1" role="dialog" id=`trophy`)
    div(class="modal-dialog modal-lg modal-dialog-centered" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="modal-title")
        div(class="modal-body")
          img(src="" alt="" style="display:block;margin-left:auto;margin-right:auto" id="modal-image")
        div(class="modal-footer")
          button( type="button" class="btn btn-secondary" data-dismiss="modal") Close  



block scripts
  - if (process.env.NODE_ENV === 'production')
    script(src="https://cdn.rebbl.net/scripts/knockout-3.4.2.js")
    script(src="https://cdn.rebbl.net/scripts/knockout-mapping.min.js")
    script(src="https://cdn.rebbl.net/scripts/knockout-es5.js")
  - else
    script(src="/scripts/knockout-3.4.2.js")
    script(src="/scripts/knockout-mapping.min.js")
    script(src="/scripts/knockout-es5.js")

  script.

    // this allows if to iterate of object properties.
    ko.bindingHandlers.foreachprop = {
        transformObject: function (obj) {
            var properties = [];
            ko.utils.objectForEach(obj, function (key, value) {
                properties.push({ key: key, value: value });
            });
            properties = properties.sort(function(a,b){return a.key > b.key ? 1 : -1;})
            return properties;
        },
        init: function(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
            var properties = ko.pureComputed(function () {
            var obj = ko.utils.unwrapObservable(valueAccessor());
            return ko.bindingHandlers.foreachprop.transformObject(obj);
            });
            ko.applyBindingsToNode(element, { foreach: properties }, bindingContext);
            return { controlsDescendantBindings: true };
        }
    };

    class StandingsModel{
      constructor(data){
        this.map(data);
        ko.track(this);
      }
      map(data){
        if(data){
          delete data._id;
          Object.assign(this, data);
        }
      }

      teamColor(){
        if (/\[colour=/i.test(this.team)){
          if (/\[colour='[0-9A-F]{2}([0-9A-F]{6})']/i.test(this.team)) {
            return "#"+this.team.match(/\[colour='[0-9A-F]{2}([0-9A-F]{6})']/i)[1];
          }
          return "#000000";
        }

        return "inherit";      }

      teamName(){
        if (/\[colour=/i.test(this.team)){
            return this.team.replace(/\[colour=.*]/i,'')
        }
        return this.team;
      }
    }


    class ViewModel{
      constructor(data){
        this.donators = [];
        this.league = "";
        this.season = "";
        this.seasons = [];
        this.standings = {};
        this.trophies =[];

        this.collator = new Intl.Collator(undefined, {numeric: true, sensitivity: "base"});
        ko.track(this);
      }

      getTrophy(coach){
        let t = this.trophies.find(x => x.coach == coach);
        if(t && t.trophies)return t.trophies.find(t => t.display);
        return undefined;
      }

      isDonator(coach){
        return this.donators.indexOf(coach)>-1;
      }

      competitionUrl(comp){
        return `/rebbl/${this.league}/${comp[0].competition}`;
      };
      async loadSeason(season){
        if (season) model.season = season;

        this.standings={};

        let response = await fetch(`/api/v2/standings/${this.league}/${this.season}`);
        if (response.ok){
          let data  = await response.json();
          data = data.map(x => new StandingsModel(x));
          data = this._groupBy(data,"competition");

          this.standings=data;
        }    

      }

      async loadSeasons(){
        let response = await fetch(`/api/v2/league/${this.league}/seasons`);
        if (response.ok){
          let seasons =  await response.json();
          this.seasons = seasons.sort(this.collator.compare)
          this.season = seasons[seasons.length-1];
          await this.loadMe();
          await Promise.all([
            this.loadSeason(),
            this.loadTrophies(),
            this.loadDonators(),
          ]);
        }
      }

      async loadTrophies(){
        let response = await fetch(`/api/v2/trophies/${this.league}/${this.season}`);
        if (response.ok){
          this.trophies = await response.json();
        }
      }

      async loadDonators(){
        let response = await fetch(`/api/v2/trophies/${this.league}/${this.season}/donations`);
        if (response.ok){
          this.donators = await response.json();
        }
      }

      showTrophy(e){
        $('#modal-title').text(e.title + (e.date.length > 0 ? " - " + e.date : "") );
        $('#modal-image').attr('src',`https://cdn.rebbl.net/${e.filename}`);
        $('#trophy').modal();
      };

      
      _groupBy(xs, key) {
        return xs.reduce(function(rv, x) {
          (rv[x[key]] = rv[x[key]] || []).push(x);
          return rv;
        }, {});
      };
    }

    let model = new ViewModel({});

    $(document).ready(function(){
      let path = window.location.pathname.split('/');
      model.league = path[path.length-1];
      ko.applyBindings(model);
      model.loadSeasons();
    });
    
