//- coachDetail.pug
extends ..\sublayout.pug

block append navigation
  div(class="Tabs Tabs--darkBackground")
     div(class="Tabs-header-wrapper")
       div(class="Tabs-header")
         div(class="Tabs-scroller-wrapper")
           div(class="Tabs-scroller")
             nav(class="Tabs-bar container")
               a(class="Tabs-tab"  href="#" + x  style="padding-left:5px;padding-right:5px;") Team
               a(class="Tabs-tab"  href="#" + x  style="padding-left:5px;padding-right:5px;") Matches


block content
  div(class="Background u-bottomPadding--large u-topPadding--medium")
    div(class="/*TexturedBackground TexturedBackground--light-primary*/")
      div(class="container navcontainer" data-index="0")
        h1()= coach.name
        h2(class="TeamLabel-coach" )= 'Points ' + coach.score
        h2(class="TeamLabel-coach" )= 'TD Diff ' + coach.touchdownDiff
        h2(class="TeamLabel-coach" )= 'Strength of Schedule ' + coach.strengthOfSchedule
        h2(class="TeamLabel-coach" )= 'Own strength ' + coach.strength
        h2(class="TeamLabel-coach" )= 'Record ' + coach.history.replace(/A/g,"W").replace(/M/g,"D").replace(/Z/g,"L")

        div(class="ScheduleMatchList")
          div(class="MatchSchedule")
            -
              let sorted = matches.sort(function(a,b){
                if (a.match_uuid === "1000000000") return 1;
                if (b.match_uuid === "1000000000") return -1;
                if (a.match_uuid < b.match_uuid) return -1;

                return 1;
              })
            each match, index in sorted
              br
              div(class="MatchRow MatchRow-match MatchRow-header" )= 'Round ' + (index+1)
              div(class="MatchRow MatchRow-match" )
                include matches.pug