extends ../no-cache-sub-relayout.pug

block vars
  - let options = {active: league, company:"clan"}
  - let fullJquery = true
  - if (!active) { var active =  (options && options.active) ? options.active : "" }
  - let company = "clan";

block head
  style.
    .MatchRow-contentWrapper--hover:hover .text-info{color:#e67b00 !important}

block content
  div(class="container navcontainer" data-index="0" id="app")
    template(v-if="schedule !== null")
      h1.u-no-text-transform.my-0 Round {{schedule.round || ''}} - house {{schedule.house || ''}}
      button.btn.mx-1.btn-sm.btn-secundary(@click="openDraft" v-if="schedule.drafted") draft
      button.btn.mx-1.btn-sm.btn-success(@click="openDraft" v-if="!schedule.drafted") draft
      button.btn.mx-1.btn-sm.btn-success(v-if="schedule.drafted && schedule.unstarted && schedule.unstarted.length > 0" @click="startGames") start games
      button.btn.mx-1.btn-sm.btn-success(v-if="schedule.redditLink" @click="openReddit") reddit
      template(v-if="message")
        .mx-1 {{message}}
      div(class="row col-12 no-gutters")
        div(class="col-5")
          div(class="row col-12 border-bottom border-info pb-1")
            div(class="col-10 media text-center d-flex flex-wrap align-items-center")
              div(class="media-body")
                h1 
                  a(v-bind:href="`/clan/clan/season/${schedule.season}/${schedule.home.clan.name}`") {{schedule.home.clan.name}}
              img(v-bind:src="`https://cdn2.rebbl.net/${schedule.home.clan.logo}`" style="max-height:120px;max-width:180px")
            div(class="col-2 text-right")
              h1 {{schedule.home.win}}
        div(class="col text-center")
          h1 -&nbsp;&nbsp;&nbsp; {{schedule.home.draw }} &nbsp;&nbsp;&nbsp;- 
        div(class="col-5")
          div(class="row col-12 border-bottom border-info pb-1 ")
            div(class="col-2 text-left")
              h1  {{schedule.away.win}}
            div(class="col-10 media text-center d-flex flex-wrap align-items-center")
              img(v-bind:src="`https://cdn2.rebbl.net/${schedule.away.clan.logo}`" style="max-height:120px;max-width:180px")
              div(class="media-body")
                h1 
                  a(v-bind:href="`/clan/clan/season/${schedule.season}/${schedule.away.clan.name}`") {{schedule.away.clan.name}}          
      template(v-if="!schedule.drafted && powers.length > 0")          
        div(class="col-12 row")
          div(class="col-12 row  justify-content-center")
            h1 Available Powers
          div(class="col-6 row")
            template(v-for="power in Object.keys(schedule.home.clan.powers)")
              template(v-if="schedule.home.clan.powers[power] > 0")
                div(class="p-1")
                  button(type="button" class="btn btn-outline-info btn-sm" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-title="powers.find(function(x){return x.key == power}).name" v-bind:data-content="powers.find(function(x){return x.key == power}).description")
                    | {{powers.find(function(x){return x.key == power}).name}} 
                    span(class="badge badge-secondary") {{schedule.home.clan.powers[power]}}
          div(class="col-6 row")
            template(v-if="schedule.matches.length === 0  && powers.length > 0")
              template(v-for="power in Object.keys(schedule.away.clan.powers)")
                template(v-if="schedule.away.clan.powers[power] > 0")
                  div(class="p-1")
                    button(type="button" class="btn btn-outline-info btn-sm" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-title="powers.find(function(x){return x.key == power}).name" v-bind:data-content="powers.find(function(x){return x.key == power}).description")
                      | {{powers.find(function(x){return x.key == power}).name}} 
                      span(class="badge badge-secondary") {{schedule.away.clan.powers[power]}}
        div(class="col-12 row justify-content-center")
          div(class="col-12 row justify-content-center")
            h1 Available Teams
          div(class="col-6 row")
            template(v-for="team in schedule.home.clan.teams")
              template(v-if="team")
                div(class="p-1")
                  a(class="btn btn-outline-info btn-sm" v-bind:href="`/team/${team.team.id}`" target="_blank")
                    img(v-bind:src="`https://cdn2.rebbl.net/images/races/${team.team.idraces}.png`" style="height:40px")
                    span(class="text-info")  {{team.team.name}}
                    img(v-bind:src="`https://cdn2.rebbl.net/images/logo/256x256/logo_${team.team.logo.toLowerCase()}.png`" style="height:40px")
                    br
                    span(class="badge badge-success") /u/{{reddit(schedule.home.clan,team.coach.name)}}
                    span(class="badge badge-warning") {{team.coach.name}}
                    span(class="badge badge-info") TV: {{team.team.nextMatchTV || team.team.value}}
          div(class="col-6 row")
            template(v-for="team in schedule.away.clan.teams")
              template(v-if="team")
                div(class="p-1")
                  a(class="btn btn-outline-info btn-sm" v-bind:href="`/team/${team.team.id}`" target="_blank")
                    img(v-bind:src="`https://cdn2.rebbl.net/images/races/${team.team.idraces}.png`" style="height:40px")
                    span(class="text-info")  {{team.team.name}}
                    img(v-bind:src="`https://cdn2.rebbl.net/images/logo/256x256/logo_${team.team.logo.toLowerCase()}.png`" style="height:40px")
                    br
                    span(class="badge badge-success") /u/{{reddit(schedule.away.clan,team.coach.name)}}
                    span(class="badge badge-warning") {{team.coach.name}}
                    span(class="badge badge-info") TV: {{team.team.nextMatchTV || team.team.value}}

      template(v-if="schedule.drafted")
        .row.col-12.no-gutters.justify-content-center
          .col-12.row.justify-content-center
            h1 Used Powers
            .col-12.row.justify-content-center
              .col-5
                .row.btn-group-toggle(data-toggle="buttons")
                  template(v-if="schedule.home.usedPowers")
                    template(v-for="power in Object.keys(schedule.home.usedPowers)")
                      template(v-for="t in schedule.home.usedPowers[power]")
                        .p-1
                        button.btn.btn-outline-info.btn-sm(type="button" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-title="powers.find(function(x){return x.key == power}).name" v-bind:data-content="powers.find(function(x){return x.key == power}).description")
                          | {{powers.find(function(x){return x.key == power}).name}} 

              .col
              .col-5
                .row.btn-group-toggle(data-toggle="buttons")
                  template(v-if="schedule.away.usedPowers")
                    template(v-for="power in Object.keys(schedule.away.usedPowers)")
                      template(v-for="t in schedule.away.usedPowers[power]")
                        .p-1
                        button.btn.btn-outline-info.btn-sm(type="button" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-title="powers.find(function(x){return x.key == power}).name" v-bind:data-content="powers.find(function(x){return x.key == power}).description")
                          | {{powers.find(function(x){return x.key == power}).name}} 
          .col-12.row.justify-content-center
            h1 Matches
          template(v-for="match in schedule.matches")
            a.col-8.MatchRow-contentWrapper.MatchRow-contentWrapper--hover(v-bind:href="match.match_uuid ? `/clan/match/${match.match_uuid}` : '#'" target="_blank")
              .MatchRow-team
                .TeamLabel.TeamLabel--reverse
                  div: img.TeamLabel-logo(v-bind:src="`https://cdn2.rebbl.net/images/logo/256x256/logo_${match.opponents[0].team.logo.toLowerCase()}.png`" alt="" )
                  .TeamLabel-info.TeamLabel-info--noScore
                    .text-info {{ match.opponents[0].team.name }}
                    .TeamLabel-coach
                        span {{ match.opponents[0].coach.name }}
              .MatchRow-status.row
                .MatchStatus.MatchStatus--transparent.col-12
                  span
                    template(v-if="match.opponents[0].team.score > match.opponents[1].team.score")
                      span.MatchStatus-score.is-winner {{match.opponents[0].team.score}}
                      span.MatchStatus-score -
                      span.MatchStatus-score {{match.opponents[1].team.score}}
                    template(v-else-if="match.opponents[0].team.score < match.opponents[1].team.score")
                      span.MatchStatus-score {{match.opponents[0].team.score}}
                      span.MatchStatus-score -
                      span.MatchStatus-score.is-winner {{match.opponents[1].team.score}}
                    template(v-else)
                      span.MatchStatus-score {{match.opponents[0].team.score}}
                      span.MatchStatus-score -
                      span.MatchStatus-score {{match.opponents[1].team.score}}
                template(v-if="match.eic")
                  .justify-content-center
                    span.badge.badge-success= "EIC!"

              .MatchRow-team
                .TeamLabel
                  div: img.TeamLabel-logo(v-bind:src="`https://cdn2.rebbl.net/images/logo/256x256/logo_${match.opponents[1].team.logo.toLowerCase()}.png`" alt="")
                  .TeamLabel-info.TeamLabel-info--noScore
                    .text-info {{  match.opponents[1].team.name  }}
                    .TeamLabel-coach
                        span {{ match.opponents[1].coach.name }}
          template(v-if="schedule.unstarted && schedule.unstarted.length > 0")
            .row.col-12.no-gutters.justify-content-center
              .col-12.row.justify-content-center
                h2 Not Started
              template(v-for="match in schedule.unstarted")
                .col-8.MatchRow-contentWrapper.MatchRow-contentWrapper
                  .MatchRow-team
                    .TeamLabel.TeamLabel--reverse
                      div: img.TeamLabel-logo(v-bind:src="`https://cdn2.rebbl.net/images/logo/256x256/logo_${match.coaches[0].logo.toLowerCase()}.png`" alt="")
                      .TeamLabel-info.TeamLabel-info--noScore
                        .text-info {{  match.coaches[0].teamName  }}
                        .TeamLabel-coach
                            span {{ match.coaches[0].coachName }}
                  .MatchRow-status.row
                    .MatchStatus.MatchStatus--transparent.col-12
                      span
                        span.MatchStatus-score &nbsp;
                        span.MatchStatus-score -
                        span.MatchStatus-score &nbsp;
                  .MatchRow-team
                    .TeamLabel
                      div: img.TeamLabel-logo(v-bind:src="`https://cdn2.rebbl.net/images/logo/256x256/logo_${match.coaches[1].logo.toLowerCase()}.png`" alt="")
                      .TeamLabel-info.TeamLabel-info--noScore
                        .text-info {{  match.coaches[1].teamName  }}
                        .TeamLabel-coach
                            span {{ match.coaches[1].coachName }}



block scripts
  - if (process.env.NODE_ENV === 'production')
    script(src="https://cdn2.rebbl.net/scripts/vue-2.6.10.min.js")
  - else
    script(src="/scripts/vue-2.6.10.min.js")

  script.
        // app Vue instance
    var app = new Vue({
      // app initial state
      data: {
        schedule: null,
        powers: [],
        message: null
      },
      methods:{
        reddit: function(clan, coach){
          let account = clan.members.find(function(x){return x.coach.toLowerCase() === coach.toLowerCase()});
          return account ? account.reddit : '??';
        },
        usedEIC: function(match, index){
          const re = new RegExp(`\\[${this.schedule.home.clan.name}]`,"i");
          let side = re.test(match.opponents[index].team.name) ? this.schedule.home: this.schedule.away;
          return side.clan.powers['emergencyIntensiveCare'] > 0;
        },
        openDraft: function(){
          const href=`/clandraft?division=${this.schedule.competition}&round=${this.schedule.round}&house=${this.schedule.house}`;
          window.open(href, '_blank');
        },
        startGames: async function(){
            let response = await fetch(`/api/v2/clan/start/${this.schedule.competition}/${this.schedule.round}/${this.schedule.house}`,{method:"PUT"});
            if (response.ok){
              this.message = "Games should be started.";
            } else {
              this.message  = await response.text();
            }
        },
        openReddit: function(){
          window.open(`https://reddit.com${this.schedule.redditLink}`, '_blank');
        }

      },      
      async mounted() {
          const storage = window.localStorage;
          if (storage)    
            this.powers = JSON.parse(localStorage.getItem('powers')) || [];

          if(this.powers.length === 0 || !this.powers.find(x=>x.key === "version12.0")){
            let response = await fetch("/api/v2/clan/powers");
            this.powers = await response.json();
            storage.setItem('powers', JSON.stringify(this.powers));    
          }

          let path = window.location.pathname.split("/");
          let response = await fetch(`/api/v2/clan/${path[path.length-4]}/${path[path.length-3]}/${path[path.length-2]}/${path[path.length-1]}`);
          this.schedule = await response.json();
      }
    })

    // mount
    app.$mount('#app')