//- index.pug
extends ..\layout.pug

block vars
  - var options = {rounds : rounds, round: "0"}

block content
  div(class="Background u-bottomPadding--large u-topPadding--medium")
    div(class="/*TexturedBackground TexturedBackground--light-primary*/")
      div(class="container navcontainer" data-index="0")
        h1(class="u-no-text-transform u-verticalMargin--xx-small") Standings
        div
          a(href="/coach/" + top.id class="MatchRow-contentWrapper MatchRow-contentWrapper--hover MatchRow-contentWrapper--hover--noBorder" )
            div(class="TeamLabel" style="width:550px;margin:auto;")
              div(class="TeamLabel-block" style="width:125px;height:125px;background-color:#94c16f")
                h1(style="margin-top: 0px;margin-bottom: 0px;text-align: center;font-size: 5em;width: 125px;") 1
              div(class="TeamLabel-info TeamLabel-info--noScore" style="width:100%;margin-top:5px")
                div(class="TeamLabel-name" style="width:100%")
                  div(style="font-size:2em")=  top.name
                  div(style="float: left;font-size:1.45em;margin-right:15px;")= top.score + 'pts'
                  div(class="TeamLabel-coach" style="margin-right:15px;float:right;clear:right")= top.team.race
                  div(class="TeamLabel-coach" style="float:right;margin-right:15px;clear:right")= top.team.name
          br
        div(style="grid-template-columns: auto auto auto;display:grid;overflow:scroll")
          for coaches, x in coaches2d
            div.divider
              div(class="ScheduleMatchList")
                div(class="MatchSchedule")
                  each coach, y in coaches
                    a(href="/coach/" + coach.id class="MatchRow-contentWrapper MatchRow-contentWrapper--hover MatchRow-contentWrapper--hover--noBorder")
                      div(class="TeamLabel Alternate")
                        div(class="TeamLabel-block TeamLabel-standing")
                          div(style="width:50px;height:50px" class="coach" )
                            h1(class="coachNumber" style="float:left;margin:0px")= '' + (x*43+y + 2)
                        div(class="TeamLabel-info TeamLabel-info--noScore" style="width:100%;margin-top:5px")
                          div(class="TeamLabel-name" style="width:100%")
                            div(style="float: right;font-size:1em;margin-right:15px;")= coach.score + 'pts'
                            div(class="TeamLabel-coach" style="margin-right:15px;float:right;clear:right")= coach.team.race
                            div=  coach.name
                            div(class="TeamLabel-coach")= coach.team.name