//- index.pug
extends ..\layout.pug

block vars
  - var options = {rounds : rounds, round: "0"}

block content
  div(class="Background u-bottomPadding--large u-topPadding--medium")
    div(class="/*TexturedBackground TexturedBackground--light-primary*/")
      div(class="container navcontainer" data-index="0")
        h1(class="u-no-text-transform u-verticalMargin--xx-small") Standings
        div(style="grid-template-columns: auto;display:grid;")
          div(class="table-striped TeamLabel-info")
            div(class="TableHeader" style="border-bottom: 3px solid #bdbcbccf;padding-bottom: 2px;")
              div(class="Standings-details-rank Standings-header")
              div
              div(class="Standings-details-team Standings-header") Coach
              div(class="Standings-details Standings-header") Points
              div(title="Matches won" class="Standings-details Standings-header") Won
              div(title="Matches drawn" class="Standings-details Standings-header") Draw
              div(title="Matches Played" class="Standings-details Standings-header") Played
              div(title="" class="Standings-details Standings-header") TD Diff
            for coaches, x in coaches2d
              each coach, y in coaches
                a(href="/coach/" + coach.id class="TableRow TableRow--hover")
                  div(class="Standings-details-rank " + ((x*15+y + 1)<5 ? "qualified" : "" ) )= '' + (x*15+y + 1)
                  div
                    img(src="/images/logos/logo_" + coach.team.logo + ".png" alt="" class="TeamLabel-logo")
                  div(class="Standings-details-team")
                    div
                      div= coach.name
                      div(class="TeamLabel-coach")= coach.team.name
                  div(class="Standings-details")= coach.score
                  div(class="Standings-details")= (coach.history.match(/A/g)||[]).length
                  div(class="Standings-details")= (coach.history.match(/M/g)||[]).length
                  div(class="Standings-details")= coach.history.length
                  div(class="Standings-details " + (coach.touchdownDiff > 0 ? "is-positive" : (coach.touchdownDiff < 0 ? "is-negative" : ""))  )= coach.touchdownDiff > 0 ? '+' + coach.touchdownDiff : coach.touchdownDiff
                - if (x*15+y + 1 == 4)
                  div(class="TableHeader" )
                    div(class="Standings-divider" style="width: 30px;")
                      div(class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction")
                    div(class="Standings-divider" style="width: 75px;")
                      div(class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction" )
                    div(class="Standings-divider")
                      div(class="Standings-divider--flex"  style="margin-top:11px")
                        span(class="Standings-dividerText")  &nbsp; &nbsp;Playoffs Cutoff &nbsp; &nbsp;
                    div(class="Standings-divider")
                      div(class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction")
                    div(class="Standings-divider")
                      div(class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction")
                    div(class="Standings-divider")
                      div(class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction")
                    div(class="Standings-divider")
                      div(class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction")
                    div(class="Standings-divider")
                      div(class="Standings-divider--flex")
                        span(class="Standings-dividerText--correction")
