extends coach.pug

block append vars
  - var activeSubMenu = "matches"

block content
  div(class="Background u-bottomPadding--large u-topPadding--medium")
    div(class="/*TexturedBackground TexturedBackground--light-primary*/")
      div(class="container navcontainer" data-index="0")
        div(class="ScheduleMatchList")
          div(class="MatchSchedule row")
            each match, index in matches.sort(function(a,b){return a.match_id < b.match_id ? 1 : -1;})
              div(class="col-12")
                br
              div(class="MatchRow MatchRow-match MatchRow-header col-12" )= match.competition + ' - ' + match.round
              div(class="MatchRow MatchRow-match col-12" )

                - let url = match.match_uuid ? "/rebbl/match/" + match.match_uuid : "#"
                a(href=url class="MatchRow-contentWrapper MatchRow-contentWrapper--hover")
                  div(class="MatchRow-team")
                    div(class="TeamLabel TeamLabel--reverse")
                      div(class="TeamLabel-block"): img(src="https://cdn.rebbl.net/images/logo/logo_" + match.opponents[0].team.logo.toLowerCase() + ".png" alt="" class="TeamLabel-logo")
                      div(class="TeamLabel-info TeamLabel-info--noScore")
                        - let tn = match.opponents[0].team.name
                        - if (ttn && n.indexOf('[colour=') > -1)
                          div(class="TeamLabel-name " style=("color:#" + tn.substr(11,6)) )= tn.substr(19, tn.length-17)
                        -else
                          div(class="TeamLabel-name ")= tn
                        div(class="TeamLabel-coach ")= match.opponents[0].coach.name
                  div(class="MatchRow-status")
                    span(class="MatchStatus MatchStatus--transparent")
                      span
                        if match.opponents[0].team.score > match.opponents[1].team.score
                          span(class="MatchStatus-score is-winner")= match.opponents[0].team.score
                          span(class="MatchStatus-score") -
                          span(class="MatchStatus-score")= match.opponents[1].team.score
                        else if match.opponents[1].team.score > match.opponents[0].team.score
                          span(class="MatchStatus-score")= match.opponents[0].team.score
                          span(class="MatchStatus-score") -
                          span(class="MatchStatus-score is-winner")= match.opponents[1].team.score
                        else
                          span(class="MatchStatus-score")= match.opponents[0].team.score
                          span(class="MatchStatus-score") -
                          span(class="MatchStatus-score")= match.opponents[1].team.score
                  div(class="MatchRow-team")
                    div(class="TeamLabel")
                      div(class="TeamLabel-block"): img(src="https://cdn.rebbl.net/images/logo/logo_" + match.opponents[1].team.logo.toLowerCase() + ".png" alt="" class="TeamLabel-logo")
                      div(class="TeamLabel-info TeamLabel-info--noScore")
                        - let on = match.opponents[1].team.name
                        - if (on && on.indexOf('[colour=') > -1)
                          div(class="TeamLabel-name " style=("color:#" + on.substr(11,6) ) )= on.substr(19, on.length-17)
                        -else
                          div(class="TeamLabel-name ")= on
                        div(class="TeamLabel-coach ")= match.opponents[1].coach.name

